# [dbo].[BasicoCategoria]

In [0]:
USE [RecursosHumanos]
GO

In [0]:
/****** Object:  Table [dbo].[BasicoCategoria]    Script Date: 14/6/2024 13:45:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BasicoCategoria](
	[idCategoriaSalarial] [int] NOT NULL,
	[fechaIniciovigencia] [date] NOT NULL,
	[fechaFinVigencia] [date] NULL,
	[SalarioBasico] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCategoriaSalarial] ASC,
	[fechaIniciovigencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Capacitacion]

In [0]:
/****** Object:  Table [dbo].[Capacitacion]    Script Date: 14/6/2024 13:45:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Capacitacion](
	[id_capacitacion] [int] NOT NULL,
	[descripcion] [varchar](100) NULL,
	[duracion_horas] [int] NULL,
	[fecha_inicio] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_capacitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CapacitacionXEmpleado]

In [0]:
/****** Object:  Table [dbo].[CapacitacionXEmpleado]    Script Date: 14/6/2024 13:45:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CapacitacionXEmpleado](
	[id_capacitacion] [int] NOT NULL,
	[legajo] [int] NOT NULL,
	[resultado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_capacitacion] ASC,
	[legajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Categoria]

In [0]:
/****** Object:  Table [dbo].[Categoria]    Script Date: 14/6/2024 13:45:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[idCategoriaSalarial] [int] NOT NULL,
	[descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCategoriaSalarial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[CategoriaXEmpleado]

In [0]:
/****** Object:  Table [dbo].[CategoriaXEmpleado]    Script Date: 14/6/2024 13:45:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaXEmpleado](
	[idCategoriaSalarial] [int] NOT NULL,
	[legajo] [int] NOT NULL,
	[fechainicio] [date] NOT NULL,
	[fechafin] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[idCategoriaSalarial] ASC,
	[legajo] ASC,
	[fechainicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Empleado]

In [0]:
/****** Object:  Table [dbo].[Empleado]    Script Date: 14/6/2024 13:45:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[legajo] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[direccion] [varchar](100) NULL,
	[sueldo] [decimal](10, 2) NULL,
	[fecha_ingreso] [date] NULL,
	[id_local] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[legajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Empleado_ausencia]

In [0]:
/****** Object:  Table [dbo].[Empleado_ausencia]    Script Date: 14/6/2024 13:45:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado_ausencia](
	[legajo] [int] NOT NULL,
	[fecha_ausencia] [date] NOT NULL,
	[cod_motivo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[legajo] ASC,
	[fecha_ausencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Motivo_Ausencia]

In [0]:
/****** Object:  Table [dbo].[Motivo_Ausencia]    Script Date: 14/6/2024 13:45:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Motivo_Ausencia](
	[cod_motivo] [int] NOT NULL,
	[descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_motivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Telefono_empleado]

In [0]:
/****** Object:  Table [dbo].[Telefono_empleado]    Script Date: 14/6/2024 13:45:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefono_empleado](
	[legajo] [int] NOT NULL,
	[telefono_empleado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[legajo] ASC,
	[telefono_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[BasicoCategoria]

In [0]:
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (1, CAST(N'2023-07-15' AS Date), CAST(N'2024-03-31' AS Date), CAST(311846.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (1, CAST(N'2023-07-20' AS Date), CAST(N'2023-10-15' AS Date), CAST(121267.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (1, CAST(N'2023-08-01' AS Date), CAST(N'2023-12-22' AS Date), CAST(314616.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (1, CAST(N'2024-01-13' AS Date), CAST(N'2023-10-14' AS Date), CAST(229339.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (1, CAST(N'2024-01-24' AS Date), CAST(N'2023-11-03' AS Date), CAST(211220.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (1, CAST(N'2024-04-13' AS Date), CAST(N'2023-08-31' AS Date), CAST(311673.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (1, CAST(N'2024-05-19' AS Date), CAST(N'2023-11-12' AS Date), CAST(383785.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (2, CAST(N'2023-08-20' AS Date), CAST(N'2023-10-27' AS Date), CAST(249579.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (2, CAST(N'2023-09-06' AS Date), CAST(N'2023-08-12' AS Date), CAST(381260.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (2, CAST(N'2023-10-05' AS Date), CAST(N'2023-06-19' AS Date), CAST(282735.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (2, CAST(N'2024-01-17' AS Date), CAST(N'2024-01-23' AS Date), CAST(162985.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (2, CAST(N'2024-03-11' AS Date), CAST(N'2023-09-23' AS Date), CAST(258698.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (2, CAST(N'2024-04-11' AS Date), CAST(N'2023-09-17' AS Date), CAST(159022.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (2, CAST(N'2024-05-26' AS Date), CAST(N'2023-08-09' AS Date), CAST(274389.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (3, CAST(N'2023-07-07' AS Date), CAST(N'2023-11-18' AS Date), CAST(383490.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (3, CAST(N'2023-11-18' AS Date), CAST(N'2023-09-17' AS Date), CAST(130169.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (3, CAST(N'2024-03-17' AS Date), CAST(N'2024-01-22' AS Date), CAST(256525.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (3, CAST(N'2024-04-14' AS Date), CAST(N'2023-06-27' AS Date), CAST(234882.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (4, CAST(N'2023-08-12' AS Date), CAST(N'2023-10-20' AS Date), CAST(246824.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (4, CAST(N'2023-08-23' AS Date), CAST(N'2023-12-28' AS Date), CAST(207597.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (5, CAST(N'2023-06-27' AS Date), CAST(N'2023-09-20' AS Date), CAST(313479.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (5, CAST(N'2023-09-19' AS Date), CAST(N'2024-03-05' AS Date), CAST(313115.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (5, CAST(N'2023-10-31' AS Date), CAST(N'2024-04-27' AS Date), CAST(202502.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (5, CAST(N'2023-12-06' AS Date), CAST(N'2024-04-18' AS Date), CAST(196427.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (5, CAST(N'2024-02-03' AS Date), CAST(N'2024-02-19' AS Date), CAST(167177.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (5, CAST(N'2024-04-16' AS Date), CAST(N'2023-07-05' AS Date), CAST(290021.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (5, CAST(N'2024-04-17' AS Date), CAST(N'2024-03-07' AS Date), CAST(311950.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (5, CAST(N'2024-04-27' AS Date), CAST(N'2023-10-12' AS Date), CAST(283080.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (5, CAST(N'2024-05-05' AS Date), CAST(N'2023-09-17' AS Date), CAST(205459.00 AS Decimal(10, 2)))
INSERT [dbo].[BasicoCategoria] ([idCategoriaSalarial], [fechaIniciovigencia], [fechaFinVigencia], [SalarioBasico]) VALUES (5, CAST(N'2024-05-28' AS Date), CAST(N'2023-07-25' AS Date), CAST(339977.00 AS Decimal(10, 2)))
GO

# [dbo].[Capacitacion]

In [0]:
INSERT [dbo].[Capacitacion] ([id_capacitacion], [descripcion], [duracion_horas], [fecha_inicio]) VALUES (1, N'cubilia', 60, CAST(N'2023-04-01' AS Date))
INSERT [dbo].[Capacitacion] ([id_capacitacion], [descripcion], [duracion_horas], [fecha_inicio]) VALUES (2, N'consequat', 41, CAST(N'2023-04-19' AS Date))
INSERT [dbo].[Capacitacion] ([id_capacitacion], [descripcion], [duracion_horas], [fecha_inicio]) VALUES (3, N'convallis', 44, CAST(N'2022-07-11' AS Date))
INSERT [dbo].[Capacitacion] ([id_capacitacion], [descripcion], [duracion_horas], [fecha_inicio]) VALUES (4, N'sem', 70, CAST(N'2022-11-24' AS Date))
INSERT [dbo].[Capacitacion] ([id_capacitacion], [descripcion], [duracion_horas], [fecha_inicio]) VALUES (5, N'egestas', 11, CAST(N'2022-10-09' AS Date))
INSERT [dbo].[Capacitacion] ([id_capacitacion], [descripcion], [duracion_horas], [fecha_inicio]) VALUES (6, N'nascetur', 62, CAST(N'2023-11-26' AS Date))
INSERT [dbo].[Capacitacion] ([id_capacitacion], [descripcion], [duracion_horas], [fecha_inicio]) VALUES (7, N'ridiculus', 48, CAST(N'2023-06-19' AS Date))
INSERT [dbo].[Capacitacion] ([id_capacitacion], [descripcion], [duracion_horas], [fecha_inicio]) VALUES (8, N'ut', 37, CAST(N'2022-10-25' AS Date))
INSERT [dbo].[Capacitacion] ([id_capacitacion], [descripcion], [duracion_horas], [fecha_inicio]) VALUES (9, N'luctus', 66, CAST(N'2022-07-18' AS Date))
INSERT [dbo].[Capacitacion] ([id_capacitacion], [descripcion], [duracion_horas], [fecha_inicio]) VALUES (10, N'ante', 14, CAST(N'2023-02-23' AS Date))
INSERT [dbo].[Capacitacion] ([id_capacitacion], [descripcion], [duracion_horas], [fecha_inicio]) VALUES (11, N'est', 28, CAST(N'2022-11-17' AS Date))
INSERT [dbo].[Capacitacion] ([id_capacitacion], [descripcion], [duracion_horas], [fecha_inicio]) VALUES (12, N'odio', 37, CAST(N'2023-12-22' AS Date))
INSERT [dbo].[Capacitacion] ([id_capacitacion], [descripcion], [duracion_horas], [fecha_inicio]) VALUES (13, N'nonummy', 70, CAST(N'2022-07-29' AS Date))
INSERT [dbo].[Capacitacion] ([id_capacitacion], [descripcion], [duracion_horas], [fecha_inicio]) VALUES (14, N'sapien', 17, CAST(N'2022-09-14' AS Date))
INSERT [dbo].[Capacitacion] ([id_capacitacion], [descripcion], [duracion_horas], [fecha_inicio]) VALUES (15, N'praesent', 70, CAST(N'2023-09-29' AS Date))
INSERT [dbo].[Capacitacion] ([id_capacitacion], [descripcion], [duracion_horas], [fecha_inicio]) VALUES (16, N'rhoncus', 35, CAST(N'2024-01-21' AS Date))
INSERT [dbo].[Capacitacion] ([id_capacitacion], [descripcion], [duracion_horas], [fecha_inicio]) VALUES (17, N'erat', 53, CAST(N'2023-05-22' AS Date))
INSERT [dbo].[Capacitacion] ([id_capacitacion], [descripcion], [duracion_horas], [fecha_inicio]) VALUES (18, N'rhoncus', 40, CAST(N'2023-07-06' AS Date))
INSERT [dbo].[Capacitacion] ([id_capacitacion], [descripcion], [duracion_horas], [fecha_inicio]) VALUES (19, N'tellus', 72, CAST(N'2023-10-03' AS Date))
INSERT [dbo].[Capacitacion] ([id_capacitacion], [descripcion], [duracion_horas], [fecha_inicio]) VALUES (20, N'blandit', 14, CAST(N'2024-05-27' AS Date))
GO

# [dbo].[CapacitacionXEmpleado]

In [0]:
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 3, N'eu est')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 11, N'metus arcu adipiscing molestie hendrerit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 37, N'sit amet nunc viverra')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 39, N'vulputate vitae nisl aenean')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 41, N'ligula vehicula consequat morbi a')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 47, N'iaculis justo in')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 52, N'ultrices erat tortor')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 66, N'nonummy integer')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 89, N'libero nullam sit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 122, N'pretium')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 123, N'sapien in')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 127, N'molestie sed justo pellentesque viverra')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 132, N'erat curabitur gravida nisi at')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 141, N'sit amet turpis elementum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 148, N'aliquam lacus morbi quis tortor')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 149, N'et eros vestibulum ac est')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 153, N'non lectus aliquam sit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 167, N'nec molestie sed')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 170, N'nunc vestibulum ante ipsum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 179, N'habitasse platea dictumst aliquam')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 194, N'eu')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 202, N'vestibulum proin eu')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 212, N'in porttitor pede justo')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 216, N'turpis donec posuere metus vitae')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 223, N'proin interdum mauris non ligula')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 226, N'at velit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 235, N'justo in hac habitasse platea')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 267, N'orci')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 293, N'nisl duis ac nibh fusce')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 310, N'orci')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 317, N'porta volutpat erat quisque')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 334, N'phasellus in felis donec semper')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 374, N'penatibus et')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 389, N'vehicula condimentum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 392, N'vestibulum proin eu mi nulla')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (1, 398, N'consequat')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 4, N'luctus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 24, N'bibendum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 43, N'risus praesent')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 57, N'at nibh in hac habitasse')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 72, N'sed tristique in tempus sit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 73, N'nisi nam ultrices libero non')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 144, N'enim sit amet')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 167, N'luctus et ultrices posuere cubilia')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 177, N'suscipit a feugiat')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 196, N'potenti')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 206, N'nulla')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 215, N'amet cursus id turpis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 238, N'vestibulum sit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 250, N'consequat lectus in est risus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 251, N'duis bibendum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 262, N'nulla facilisi')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 267, N'mattis nibh ligula nec sem')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 268, N'a nibh in quis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 272, N'erat quisque erat eros viverra')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 281, N'praesent blandit lacinia erat vestibulum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 285, N'libero rutrum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 294, N'rutrum ac')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 298, N'ut blandit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 307, N'vulputate')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 314, N'nonummy maecenas tincidunt lacus at')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 323, N'ultrices libero non mattis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 333, N'fusce consequat nulla nisl')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 337, N'in libero ut massa')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 341, N'turpis enim blandit mi in')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 349, N'ut nunc')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 352, N'blandit nam')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 357, N'in eleifend')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 362, N'metus sapien ut nunc')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 365, N'dapibus nulla suscipit ligula')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 366, N'et tempus semper est')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 367, N'platea dictumst')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 368, N'orci luctus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 376, N'sagittis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 385, N'rhoncus mauris enim leo rhoncus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 393, N'mauris')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (2, 398, N'lacus at turpis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 4, N'eu sapien cursus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 14, N'lorem id ligula')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 15, N'amet turpis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 26, N'vel ipsum praesent blandit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 62, N'quis justo maecenas')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 65, N'consequat')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 71, N'rhoncus mauris enim')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 83, N'ac')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 85, N'iaculis congue vivamus metus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 107, N'suscipit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 117, N'lorem quisque')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 133, N'adipiscing lorem vitae')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 145, N'quisque id justo')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 161, N'luctus tincidunt nulla mollis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 179, N'eros vestibulum ac est lacinia')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 261, N'turpis enim blandit mi in')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 275, N'nunc purus phasellus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 282, N'ut')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 285, N'felis sed lacus morbi')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 296, N'at nulla suspendisse')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 297, N'congue elementum in hac habitasse')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 304, N'erat quisque erat eros viverra')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 306, N'vulputate elementum nullam varius')
GO

In [0]:
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 308, N'eu massa donec dapibus duis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 313, N'tincidunt ante vel')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 324, N'pharetra magna')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 349, N'blandit nam')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 359, N'ac enim in tempor turpis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 364, N'nunc viverra')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 370, N'ut mauris eget massa tempor')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (3, 396, N'suspendisse potenti nullam porttitor lacus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 7, N'nulla pede')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 13, N'lorem')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 26, N'tortor')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 33, N'integer ac')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 38, N'id luctus nec molestie')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 45, N'aliquet ultrices erat tortor')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 69, N'eleifend pede')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 79, N'nulla nisl nunc nisl duis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 83, N'nam ultrices libero non mattis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 92, N'at dolor quis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 106, N'consequat')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 126, N'augue a suscipit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 133, N'eget massa')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 134, N'auctor gravida sem')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 153, N'turpis eget elit sodales scelerisque')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 169, N'ridiculus mus etiam vel')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 204, N'tellus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 213, N'augue luctus tincidunt nulla')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 237, N'est phasellus sit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 279, N'lobortis convallis tortor risus dapibus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 308, N'enim sit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 322, N'erat id mauris')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 334, N'mi')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 344, N'dolor')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 353, N'dapibus nulla')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 355, N'ut mauris eget massa tempor')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 359, N'bibendum morbi non')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 364, N'sapien urna pretium')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (4, 377, N'integer')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 5, N'eget eros')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 22, N'id ornare imperdiet sapien')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 28, N'pellentesque ultrices phasellus id sapien')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 36, N'fermentum donec ut mauris')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 51, N'odio elementum eu interdum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 73, N'donec odio justo')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 79, N'iaculis justo')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 93, N'nisi volutpat eleifend donec')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 102, N'turpis eget elit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 160, N'nisi nam ultrices')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 189, N'felis fusce posuere felis sed')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 206, N'turpis enim blandit mi in')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 208, N'ac neque duis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 245, N'sapien quis libero')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 265, N'maecenas rhoncus aliquam lacus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 289, N'in faucibus orci luctus et')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 291, N'ultrices posuere cubilia curae mauris')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 292, N'integer aliquet massa')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 293, N'tellus nulla ut erat id')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 297, N'lectus in est')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 301, N'convallis tortor risus dapibus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 317, N'posuere felis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 319, N'felis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 338, N'tempus semper est')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 343, N'ac consequat metus sapien ut')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 345, N'sapien cursus vestibulum proin')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 351, N'semper rutrum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 353, N'volutpat dui maecenas')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 354, N'ac est lacinia nisi venenatis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 358, N'scelerisque mauris sit amet')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 362, N'pulvinar lobortis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 380, N'sodales scelerisque mauris sit amet')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (5, 386, N'nisi volutpat eleifend')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 9, N'lobortis est phasellus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 16, N'eu')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 28, N'nec nisi')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 49, N'luctus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 65, N'quisque erat eros viverra eget')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 82, N'tristique')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 99, N'suspendisse potenti nullam')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 115, N'vitae nisl aenean lectus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 129, N'id luctus nec')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 142, N'sem mauris laoreet ut rhoncus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 146, N'etiam justo')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 169, N'diam in magna')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 171, N'amet sapien')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 183, N'euismod scelerisque quam turpis adipiscing')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 212, N'quis justo maecenas rhoncus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 249, N'at ipsum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 250, N'in quis justo maecenas rhoncus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 260, N'integer a nibh in')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 266, N'enim')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 271, N'libero nullam sit amet')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 272, N'amet')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 275, N'justo nec')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 277, N'posuere cubilia curae donec')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 292, N'dapibus duis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 294, N'fringilla')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 301, N'nulla nisl nunc nisl duis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 304, N'non mattis pulvinar nulla')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 309, N'ornare consequat lectus in')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 311, N'nulla ut')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 331, N'vivamus')
GO

In [0]:
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 336, N'non mauris morbi')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 360, N'odio justo')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 361, N'fusce lacus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 374, N'proin')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (6, 375, N'ipsum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 3, N'nec molestie')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 10, N'in tempor')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 18, N'suspendisse potenti nullam porttitor')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 20, N'lacus morbi sem mauris')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 36, N'interdum mauris ullamcorper')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 58, N'lectus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 74, N'pede ac')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 76, N'ac consequat')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 88, N'volutpat dui maecenas')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 97, N'rhoncus aliquet pulvinar sed')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 104, N'maecenas')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 118, N'vestibulum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 138, N'vitae ipsum aliquam')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 139, N'lectus in est risus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 165, N'turpis enim blandit mi in')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 189, N'lorem quisque ut erat')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 191, N'vitae nisl aenean')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 223, N'integer pede justo')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 245, N'rutrum ac lobortis vel dapibus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 284, N'in purus eu')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 285, N'quis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 309, N'nullam sit amet turpis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 315, N'congue elementum in hac')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 322, N'nunc donec quis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 328, N'nunc')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 335, N'arcu')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 341, N'curae nulla dapibus dolor vel')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 343, N'pulvinar sed nisl nunc')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 347, N'in purus eu')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 351, N'amet cursus id turpis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 353, N'libero non mattis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 357, N'imperdiet nullam orci pede')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 368, N'rhoncus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 370, N'in hac habitasse')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 378, N'fringilla rhoncus mauris enim leo')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 382, N'etiam faucibus cursus urna')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 385, N'sollicitudin')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (7, 400, N'primis in faucibus orci')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 1, N'sapien quis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 5, N'cubilia curae donec pharetra')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 6, N'at')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 13, N'quam a odio')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 17, N'lobortis sapien sapien')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 60, N'phasellus id sapien in sapien')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 103, N'est risus auctor sed')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 105, N'viverra eget')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 107, N'pretium iaculis justo')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 116, N'ante vestibulum ante')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 141, N'rhoncus dui vel sem')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 144, N'imperdiet et commodo vulputate')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 182, N'vestibulum rutrum rutrum neque')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 187, N'leo odio')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 207, N'integer ac leo')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 216, N'odio odio elementum eu')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 217, N'donec dapibus duis at')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 245, N'mattis pulvinar nulla')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 254, N'ultrices erat')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 266, N'id lobortis convallis tortor')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 267, N'nunc')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 270, N'mattis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 273, N'magna ac consequat')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 280, N'eget tincidunt eget')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 282, N'gravida nisi at nibh')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 284, N'lobortis convallis tortor risus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 313, N'quam pharetra')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 349, N'pulvinar lobortis est phasellus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 355, N'ipsum primis in faucibus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 356, N'dui maecenas tristique est et')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 362, N'amet')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 377, N'rutrum nulla nunc')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (8, 387, N'id sapien in sapien')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 4, N'curabitur convallis duis consequat')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 36, N'vel pede morbi porttitor lorem')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 61, N'semper porta volutpat')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 65, N'ligula sit amet')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 71, N'ullamcorper augue')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 82, N'accumsan felis ut at dolor')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 90, N'fusce congue diam id ornare')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 95, N'libero')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 102, N'est congue')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 106, N'etiam vel augue vestibulum rutrum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 110, N'faucibus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 116, N'vitae')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 117, N'at')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 122, N'lectus aliquam')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 129, N'rutrum at')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 136, N'sed lacus morbi')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 147, N'pulvinar lobortis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 148, N'dui nec nisi')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 151, N'interdum venenatis turpis enim blandit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 156, N'sit amet eleifend pede')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 179, N'sodales scelerisque mauris sit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 189, N'at ipsum ac')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 196, N'magna bibendum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 197, N'ut')
GO

In [0]:
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 199, N'parturient montes nascetur ridiculus mus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 213, N'ipsum integer a nibh')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 236, N'sociis natoque penatibus et')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 248, N'ut odio')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 249, N'pellentesque')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 298, N'nibh fusce lacus purus aliquet')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 326, N'feugiat non pretium quis lectus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 340, N'tristique in tempus sit amet')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 343, N'rutrum ac')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 374, N'molestie hendrerit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 378, N'magna vestibulum aliquet ultrices')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (9, 383, N'vestibulum sed magna')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 1, N'scelerisque quam turpis adipiscing')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 19, N'convallis tortor risus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 43, N'in faucibus orci luctus et')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 54, N'nec nisi vulputate nonummy maecenas')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 57, N'elementum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 59, N'congue')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 75, N'ante ipsum primis in faucibus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 81, N'est quam pharetra')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 87, N'quisque')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 116, N'eu orci mauris')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 118, N'vitae mattis nibh ligula')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 137, N'viverra pede ac diam cras')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 144, N'amet eros suspendisse')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 153, N'suscipit ligula')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 156, N'vel')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 172, N'ultricies')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 182, N'morbi porttitor lorem')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 188, N'lectus aliquam sit amet diam')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 194, N'aliquam lacus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 199, N'eros vestibulum ac est lacinia')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 232, N'augue')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 236, N'nunc donec quis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 281, N'suscipit ligula')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 304, N'faucibus accumsan odio curabitur convallis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 322, N'pharetra')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 325, N'vestibulum ante ipsum primis in')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 328, N'cubilia curae mauris')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 329, N'felis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 372, N'vitae nisl aenean')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 377, N'fusce congue')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (10, 400, N'dui proin')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 6, N'ultrices posuere cubilia curae')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 8, N'platea')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 10, N'consequat')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 23, N'lobortis convallis tortor risus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 37, N'ut at dolor')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 45, N'primis in faucibus orci')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 64, N'dapibus nulla suscipit ligula')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 101, N'in faucibus orci luctus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 112, N'lacus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 121, N'vestibulum proin eu mi nulla')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 148, N'iaculis congue vivamus metus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 150, N'erat quisque erat eros')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 151, N'sodales sed')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 153, N'consequat')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 172, N'sit amet erat nulla tempus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 180, N'habitasse platea')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 200, N'integer pede justo lacinia eget')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 205, N'commodo vulputate justo in')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 213, N'nunc purus phasellus in felis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 220, N'turpis sed ante vivamus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 221, N'cras')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 223, N'dapibus at')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 251, N'elementum eu')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 255, N'odio curabitur convallis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 258, N'nullam molestie')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 259, N'nulla tempus vivamus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 260, N'mauris vulputate')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 277, N'mi pede malesuada')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 288, N'arcu adipiscing molestie hendrerit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 327, N'quam nec dui')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 349, N'sem mauris')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 352, N'neque vestibulum eget vulputate')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 356, N'amet consectetuer adipiscing elit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 370, N'ut odio cras mi')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 371, N'est donec odio')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 374, N'sed tristique in')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 378, N'nonummy maecenas tincidunt lacus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (11, 393, N'pellentesque ultrices mattis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 6, N'penatibus et magnis dis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 9, N'ultrices phasellus id')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 42, N'sit amet eros suspendisse')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 44, N'luctus rutrum nulla')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 55, N'mattis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 76, N'massa donec dapibus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 78, N'et magnis dis parturient')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 111, N'risus praesent lectus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 123, N'diam in')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 127, N'vestibulum proin eu mi')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 133, N'dis parturient montes nascetur ridiculus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 135, N'consequat nulla nisl nunc nisl')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 170, N'urna')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 178, N'ultrices libero non mattis pulvinar')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 181, N'odio elementum eu')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 193, N'nullam porttitor lacus at')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 194, N'sit amet diam in')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 196, N'eget tempus vel pede morbi')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 207, N'eleifend')
GO

In [0]:
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 209, N'vel enim sit amet')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 235, N'curae')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 254, N'magnis dis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 258, N'dui vel sem')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 264, N'vestibulum vestibulum ante')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 268, N'rutrum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 275, N'mi nulla')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 288, N'libero convallis eget')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 299, N'volutpat convallis morbi odio odio')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 311, N'libero nullam sit amet')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 317, N'rhoncus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 323, N'nulla sed')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 339, N'porttitor pede justo')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 341, N'sapien')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 345, N'mauris laoreet')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 358, N'justo maecenas')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 359, N'augue quam sollicitudin')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (12, 372, N'sapien sapien non mi')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 40, N'duis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 61, N'consequat morbi a ipsum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 76, N'aenean')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 80, N'sagittis dui vel nisl duis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 81, N'nam tristique')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 82, N'praesent blandit nam nulla')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 87, N'suspendisse potenti cras')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 88, N'lectus pellentesque at nulla suspendisse')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 96, N'ante ipsum primis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 122, N'dapibus augue vel accumsan')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 130, N'scelerisque')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 142, N'habitasse platea dictumst aliquam')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 145, N'amet nulla quisque arcu')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 146, N'vel')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 154, N'in')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 172, N'leo maecenas pulvinar lobortis est')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 177, N'cum sociis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 178, N'in imperdiet et')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 187, N'amet eros suspendisse')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 202, N'at velit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 207, N'faucibus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 211, N'et ultrices posuere cubilia')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 220, N'sapien placerat ante')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 226, N'amet eros')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 242, N'tortor duis mattis egestas')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 245, N'primis in faucibus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 246, N'consequat nulla nisl nunc')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 254, N'lacinia aenean sit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 274, N'in')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 276, N'proin risus praesent lectus vestibulum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 279, N'id')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 280, N'sit amet nunc viverra')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 282, N'amet erat')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 301, N'ipsum aliquam non mauris')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 313, N'quis orci nullam')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 321, N'sapien urna pretium')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 322, N'neque aenean')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 332, N'felis sed')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 340, N'tortor')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 343, N'lacinia aenean sit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 369, N'posuere')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 374, N'posuere nonummy integer non')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 378, N'malesuada in imperdiet et commodo')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (13, 386, N'id turpis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 5, N'posuere')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 9, N'in hac habitasse platea')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 13, N'tellus nisi eu orci mauris')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 17, N'quam')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 53, N'mattis odio donec')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 55, N'massa donec dapibus duis at')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 60, N'in purus eu magna vulputate')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 66, N'ut')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 88, N'at lorem integer tincidunt ante')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 98, N'proin risus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 102, N'at')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 121, N'vel est')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 131, N'tempus vel')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 133, N'faucibus orci luctus et ultrices')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 165, N'molestie nibh in lectus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 192, N'parturient montes nascetur ridiculus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 199, N'tincidunt eu')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 204, N'massa')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 234, N'in est risus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 252, N'justo maecenas rhoncus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 254, N'primis in faucibus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 264, N'sed sagittis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 267, N'sed nisl nunc rhoncus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 268, N'et ultrices')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 271, N'quis orci')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 284, N'leo odio')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 317, N'ipsum integer a')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 320, N'erat quisque')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 329, N'arcu')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 362, N'aenean')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 392, N'felis donec')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (14, 400, N'quis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 20, N'neque vestibulum eget vulputate ut')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 43, N'lobortis est phasellus sit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 50, N'pellentesque ultrices mattis odio')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 73, N'duis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 111, N'fermentum donec ut')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 120, N'quis odio consequat varius integer')
GO

In [0]:
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 145, N'in blandit ultrices')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 147, N'vel augue')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 151, N'odio cras mi pede malesuada')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 168, N'blandit ultrices enim lorem')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 181, N'sagittis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 192, N'massa id lobortis convallis tortor')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 195, N'in felis eu')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 196, N'at vulputate')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 197, N'enim leo rhoncus sed vestibulum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 199, N'tortor quis turpis sed')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 217, N'sapien cum sociis natoque')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 226, N'pede ac')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 235, N'porta volutpat')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 237, N'sodales scelerisque')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 263, N'pulvinar nulla pede ullamcorper')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 287, N'rutrum nulla')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 288, N'rhoncus mauris')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 309, N'risus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 363, N'cursus id')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 370, N'turpis integer aliquet')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 371, N'mi integer ac neque duis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 373, N'malesuada in')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (15, 376, N'proin eu')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 2, N'luctus ultricies')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 14, N'ligula in lacus curabitur')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 17, N'sit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 30, N'eget nunc donec quis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 35, N'felis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 52, N'in consequat')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 64, N'mauris non ligula')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 70, N'ultrices posuere cubilia')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 76, N'proin at')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 95, N'sagittis sapien cum sociis natoque')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 102, N'eu orci')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 117, N'in')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 131, N'ante vestibulum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 132, N'dui nec')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 141, N'dolor vel est')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 145, N'parturient')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 156, N'vestibulum aliquet ultrices')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 161, N'nisi')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 176, N'nisi eu orci mauris')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 187, N'mauris')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 208, N'ut blandit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 214, N'luctus ultricies eu')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 221, N'aliquet massa')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 242, N'aliquet')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 246, N'est lacinia nisi venenatis tristique')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 257, N'ipsum primis in faucibus orci')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 269, N'elit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 278, N'ac diam')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 287, N'sit amet erat nulla')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 291, N'quisque porta')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 294, N'posuere felis sed lacus morbi')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 312, N'vestibulum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 314, N'et ultrices posuere')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 342, N'duis mattis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 347, N'morbi')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 367, N'libero convallis eget')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 381, N'nam nulla')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 384, N'vel pede morbi porttitor')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (16, 398, N'vestibulum quam')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (17, 27, N'cras')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (17, 30, N'cursus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (17, 44, N'etiam vel augue')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (17, 81, N'pellentesque')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (17, 83, N'pede morbi porttitor')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (17, 97, N'nisl duis ac nibh fusce')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (17, 116, N'condimentum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (17, 128, N'morbi')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (17, 129, N'donec pharetra magna vestibulum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (17, 141, N'accumsan')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (17, 201, N'quis turpis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (17, 202, N'pede ullamcorper augue')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (17, 217, N'orci')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (17, 218, N'nulla sed')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (17, 224, N'sed')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (17, 270, N'orci eget orci')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (17, 276, N'ipsum dolor sit amet consectetuer')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (17, 327, N'a ipsum integer')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (17, 329, N'ullamcorper purus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (17, 359, N'congue risus semper porta volutpat')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (17, 374, N'lacus at velit vivamus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (17, 380, N'at nunc commodo placerat praesent')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (17, 398, N'morbi')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (17, 400, N'velit donec')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (18, 34, N'nec nisi vulputate nonummy maecenas')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (18, 69, N'sit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (18, 72, N'sed')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (18, 76, N'nunc viverra')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (18, 90, N'in')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (18, 92, N'mauris')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (18, 109, N'eleifend')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (18, 125, N'cras mi pede malesuada')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (18, 138, N'potenti cras')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (18, 160, N'phasellus in felis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (18, 168, N'integer aliquet massa id lobortis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (18, 172, N'in hac habitasse platea dictumst')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (18, 180, N'aliquam quis turpis eget elit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (18, 191, N'vivamus in felis eu')
GO

In [0]:
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (18, 203, N'mauris non ligula pellentesque ultrices')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (18, 216, N'lorem id')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (18, 265, N'consectetuer eget')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (18, 270, N'nam nulla integer pede')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (18, 283, N'donec')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (18, 286, N'hendrerit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (18, 343, N'in quis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (18, 369, N'lobortis sapien')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (18, 391, N'sagittis nam congue')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 12, N'ut erat id')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 19, N'morbi sem mauris laoreet ut')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 29, N'vel sem sed sagittis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 30, N'ante ipsum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 34, N'justo in hac')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 44, N'consequat morbi a ipsum integer')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 58, N'dui luctus rutrum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 59, N'posuere cubilia')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 76, N'volutpat eleifend donec ut dolor')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 84, N'sit amet diam in magna')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 97, N'purus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 113, N'lacus morbi sem')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 116, N'integer aliquet')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 123, N'vivamus vel nulla eget eros')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 131, N'in eleifend quam')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 139, N'eu sapien')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 141, N'tincidunt ante vel')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 145, N'a feugiat et eros vestibulum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 155, N'in quis justo maecenas rhoncus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 166, N'ultrices posuere cubilia')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 174, N'hac')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 176, N'congue eget semper')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 196, N'sit amet consectetuer adipiscing elit')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 204, N'vitae nisl aenean lectus pellentesque')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 205, N'mi pede malesuada')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 217, N'nunc vestibulum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 225, N'tristique fusce congue')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 241, N'nunc donec quis orci')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 276, N'sed magna')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 281, N'eget')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 342, N'nulla elit ac nulla')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 352, N'orci vehicula condimentum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 356, N'ipsum dolor')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 364, N'id consequat')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 368, N'in')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (19, 384, N'in faucibus orci')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 17, N'ultrices vel augue vestibulum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 42, N'ipsum ac')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 44, N'quam turpis adipiscing lorem')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 55, N'consequat lectus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 76, N'maecenas')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 82, N'ac nulla sed vel enim')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 83, N'tortor duis mattis egestas')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 165, N'dignissim vestibulum')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 167, N'tristique fusce congue diam id')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 168, N'eu tincidunt')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 173, N'congue vivamus metus arcu adipiscing')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 206, N'vivamus metus arcu')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 214, N'semper rutrum nulla nunc purus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 220, N'in faucibus')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 226, N'volutpat')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 252, N'amet justo')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 269, N'morbi')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 271, N'risus auctor sed tristique in')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 293, N'dapibus at')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 308, N'porttitor pede justo eu massa')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 331, N'duis bibendum felis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 341, N'integer aliquet')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 343, N'eu felis fusce posuere')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 353, N'at turpis donec posuere')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 366, N'maecenas ut massa quis')
INSERT [dbo].[CapacitacionXEmpleado] ([id_capacitacion], [legajo], [resultado]) VALUES (20, 397, N'lectus')
GO

# [dbo].[Categoria]

In [0]:
INSERT [dbo].[Categoria] ([idCategoriaSalarial], [descripcion]) VALUES (1, N'Clase A')
INSERT [dbo].[Categoria] ([idCategoriaSalarial], [descripcion]) VALUES (2, N'Clase B')
INSERT [dbo].[Categoria] ([idCategoriaSalarial], [descripcion]) VALUES (3, N'Clase C')
INSERT [dbo].[Categoria] ([idCategoriaSalarial], [descripcion]) VALUES (4, N'Clase D')
INSERT [dbo].[Categoria] ([idCategoriaSalarial], [descripcion]) VALUES (5, N'Clase E')
GO

# [dbo].[CategoriaXEmpleado]

In [0]:
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 5, CAST(N'2024-04-17' AS Date), CAST(N'2023-10-19' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 11, CAST(N'2024-05-15' AS Date), CAST(N'2023-07-02' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 13, CAST(N'2023-06-02' AS Date), CAST(N'2024-04-15' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 15, CAST(N'2024-05-25' AS Date), CAST(N'2023-09-09' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 25, CAST(N'2023-06-30' AS Date), CAST(N'2023-06-30' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 33, CAST(N'2023-11-09' AS Date), CAST(N'2024-05-15' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 34, CAST(N'2023-10-11' AS Date), CAST(N'2024-01-24' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 39, CAST(N'2023-07-10' AS Date), CAST(N'2024-04-28' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 47, CAST(N'2023-08-15' AS Date), CAST(N'2023-08-01' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 49, CAST(N'2023-08-21' AS Date), CAST(N'2024-02-26' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 51, CAST(N'2023-06-02' AS Date), CAST(N'2023-06-20' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 54, CAST(N'2024-03-18' AS Date), CAST(N'2024-03-19' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 55, CAST(N'2023-06-16' AS Date), CAST(N'2023-06-09' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 55, CAST(N'2024-03-29' AS Date), CAST(N'2023-12-05' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 56, CAST(N'2023-11-01' AS Date), CAST(N'2024-01-31' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 59, CAST(N'2024-03-21' AS Date), CAST(N'2024-04-08' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 60, CAST(N'2024-02-27' AS Date), CAST(N'2024-02-14' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 65, CAST(N'2024-04-22' AS Date), CAST(N'2024-05-01' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 72, CAST(N'2024-03-09' AS Date), CAST(N'2023-06-23' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 73, CAST(N'2024-01-07' AS Date), CAST(N'2023-09-21' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 76, CAST(N'2024-03-18' AS Date), CAST(N'2024-03-21' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 78, CAST(N'2023-11-10' AS Date), CAST(N'2023-09-24' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 82, CAST(N'2023-09-03' AS Date), CAST(N'2023-07-01' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 86, CAST(N'2023-11-26' AS Date), CAST(N'2024-02-24' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 90, CAST(N'2024-05-09' AS Date), CAST(N'2023-09-21' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 91, CAST(N'2023-06-04' AS Date), CAST(N'2024-02-06' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 95, CAST(N'2023-07-21' AS Date), CAST(N'2023-06-16' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 95, CAST(N'2023-11-16' AS Date), CAST(N'2023-12-19' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 98, CAST(N'2024-01-11' AS Date), CAST(N'2024-03-14' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 100, CAST(N'2023-12-10' AS Date), CAST(N'2023-08-30' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 107, CAST(N'2024-02-26' AS Date), CAST(N'2023-06-19' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 109, CAST(N'2023-07-23' AS Date), CAST(N'2023-11-03' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 112, CAST(N'2023-12-13' AS Date), CAST(N'2023-11-29' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 115, CAST(N'2024-05-28' AS Date), CAST(N'2023-07-02' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 117, CAST(N'2023-10-01' AS Date), CAST(N'2024-04-12' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 118, CAST(N'2023-10-25' AS Date), CAST(N'2023-06-13' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 123, CAST(N'2024-04-09' AS Date), CAST(N'2023-06-18' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 124, CAST(N'2023-11-18' AS Date), CAST(N'2023-09-03' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 127, CAST(N'2024-05-05' AS Date), CAST(N'2024-05-23' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 128, CAST(N'2023-11-05' AS Date), CAST(N'2023-10-26' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 129, CAST(N'2023-10-23' AS Date), CAST(N'2023-12-09' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 130, CAST(N'2023-10-09' AS Date), CAST(N'2023-11-13' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 130, CAST(N'2024-03-31' AS Date), CAST(N'2023-11-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 131, CAST(N'2024-04-17' AS Date), CAST(N'2024-01-19' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 137, CAST(N'2023-12-05' AS Date), CAST(N'2023-06-29' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 142, CAST(N'2023-12-16' AS Date), CAST(N'2024-03-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 149, CAST(N'2023-12-11' AS Date), CAST(N'2024-04-17' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 158, CAST(N'2023-10-17' AS Date), CAST(N'2023-11-23' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 164, CAST(N'2024-02-03' AS Date), CAST(N'2023-09-26' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 165, CAST(N'2023-07-03' AS Date), CAST(N'2024-04-17' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 172, CAST(N'2023-07-12' AS Date), CAST(N'2023-07-05' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 172, CAST(N'2023-09-16' AS Date), CAST(N'2023-06-18' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 177, CAST(N'2024-02-14' AS Date), CAST(N'2023-08-06' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 183, CAST(N'2024-05-05' AS Date), CAST(N'2024-04-07' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 191, CAST(N'2023-07-02' AS Date), CAST(N'2024-02-06' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 197, CAST(N'2023-12-21' AS Date), CAST(N'2023-07-03' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 205, CAST(N'2023-08-10' AS Date), CAST(N'2023-08-05' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 211, CAST(N'2024-02-19' AS Date), CAST(N'2024-01-05' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 212, CAST(N'2023-07-18' AS Date), CAST(N'2023-09-07' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 217, CAST(N'2023-08-06' AS Date), CAST(N'2023-12-19' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 221, CAST(N'2023-11-20' AS Date), CAST(N'2024-04-17' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 228, CAST(N'2023-07-28' AS Date), CAST(N'2024-04-05' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 230, CAST(N'2023-10-28' AS Date), CAST(N'2024-05-26' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 234, CAST(N'2023-07-26' AS Date), CAST(N'2023-09-08' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 234, CAST(N'2023-10-31' AS Date), CAST(N'2023-07-25' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 235, CAST(N'2024-03-04' AS Date), CAST(N'2023-08-11' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 239, CAST(N'2024-01-29' AS Date), CAST(N'2024-05-11' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 239, CAST(N'2024-04-16' AS Date), CAST(N'2023-07-25' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 242, CAST(N'2024-01-06' AS Date), CAST(N'2024-03-21' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 243, CAST(N'2023-12-10' AS Date), CAST(N'2024-01-19' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 245, CAST(N'2024-03-19' AS Date), CAST(N'2023-09-14' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 254, CAST(N'2023-08-25' AS Date), CAST(N'2024-03-09' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 264, CAST(N'2024-02-16' AS Date), CAST(N'2024-04-20' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 271, CAST(N'2023-07-08' AS Date), CAST(N'2024-04-21' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 277, CAST(N'2024-05-09' AS Date), CAST(N'2023-11-13' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 279, CAST(N'2024-03-18' AS Date), CAST(N'2024-04-27' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 288, CAST(N'2024-05-06' AS Date), CAST(N'2023-07-16' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 290, CAST(N'2023-06-02' AS Date), CAST(N'2023-11-07' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 296, CAST(N'2024-03-04' AS Date), CAST(N'2023-09-21' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 296, CAST(N'2024-05-19' AS Date), CAST(N'2023-08-26' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 299, CAST(N'2023-08-08' AS Date), CAST(N'2023-12-01' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 299, CAST(N'2023-11-17' AS Date), CAST(N'2024-05-17' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 299, CAST(N'2023-12-14' AS Date), CAST(N'2023-10-23' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 302, CAST(N'2023-09-05' AS Date), CAST(N'2024-01-23' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 303, CAST(N'2023-12-17' AS Date), CAST(N'2023-06-20' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 305, CAST(N'2023-09-27' AS Date), CAST(N'2024-04-28' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 305, CAST(N'2023-10-06' AS Date), CAST(N'2023-08-21' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 305, CAST(N'2024-03-25' AS Date), CAST(N'2024-05-21' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 309, CAST(N'2024-01-03' AS Date), CAST(N'2023-11-09' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 314, CAST(N'2024-05-28' AS Date), CAST(N'2023-07-02' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 318, CAST(N'2023-08-01' AS Date), CAST(N'2023-09-10' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 320, CAST(N'2024-03-18' AS Date), CAST(N'2024-01-31' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 321, CAST(N'2023-06-30' AS Date), CAST(N'2024-03-20' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 325, CAST(N'2023-09-22' AS Date), CAST(N'2024-03-29' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 332, CAST(N'2024-03-23' AS Date), CAST(N'2024-05-25' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 335, CAST(N'2023-06-05' AS Date), CAST(N'2023-11-20' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 337, CAST(N'2024-03-27' AS Date), CAST(N'2023-08-22' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 339, CAST(N'2023-08-21' AS Date), CAST(N'2023-08-15' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 343, CAST(N'2024-02-01' AS Date), CAST(N'2023-06-12' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 345, CAST(N'2024-01-01' AS Date), CAST(N'2023-07-25' AS Date))
GO

In [0]:
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 348, CAST(N'2023-06-16' AS Date), CAST(N'2023-07-12' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 349, CAST(N'2024-02-03' AS Date), CAST(N'2023-12-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 351, CAST(N'2023-10-12' AS Date), CAST(N'2023-08-11' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 352, CAST(N'2023-08-12' AS Date), CAST(N'2023-11-25' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 360, CAST(N'2024-04-13' AS Date), CAST(N'2023-06-11' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 365, CAST(N'2023-11-13' AS Date), CAST(N'2023-08-23' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 367, CAST(N'2023-12-13' AS Date), CAST(N'2023-12-30' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 369, CAST(N'2023-10-05' AS Date), CAST(N'2023-09-07' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 371, CAST(N'2023-08-26' AS Date), CAST(N'2023-12-27' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 375, CAST(N'2023-07-24' AS Date), CAST(N'2024-04-12' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 379, CAST(N'2024-05-01' AS Date), CAST(N'2024-01-01' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 380, CAST(N'2024-05-30' AS Date), CAST(N'2023-06-09' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 382, CAST(N'2024-02-08' AS Date), CAST(N'2023-11-05' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 384, CAST(N'2023-10-01' AS Date), CAST(N'2023-09-20' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 387, CAST(N'2024-05-24' AS Date), CAST(N'2024-01-19' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 392, CAST(N'2023-07-05' AS Date), CAST(N'2023-08-10' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 394, CAST(N'2023-12-25' AS Date), CAST(N'2024-03-22' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (1, 397, CAST(N'2024-04-02' AS Date), CAST(N'2024-01-06' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 2, CAST(N'2023-08-17' AS Date), CAST(N'2023-09-22' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 3, CAST(N'2023-09-26' AS Date), CAST(N'2024-01-07' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 4, CAST(N'2024-05-27' AS Date), CAST(N'2024-05-24' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 10, CAST(N'2023-11-03' AS Date), CAST(N'2023-10-18' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 17, CAST(N'2023-12-13' AS Date), CAST(N'2023-10-20' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 21, CAST(N'2024-01-02' AS Date), CAST(N'2024-01-09' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 22, CAST(N'2024-03-26' AS Date), CAST(N'2024-01-10' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 28, CAST(N'2023-11-22' AS Date), CAST(N'2024-05-14' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 30, CAST(N'2023-07-05' AS Date), CAST(N'2024-03-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 39, CAST(N'2023-07-14' AS Date), CAST(N'2023-08-09' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 39, CAST(N'2024-02-28' AS Date), CAST(N'2023-11-14' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 40, CAST(N'2024-05-28' AS Date), CAST(N'2023-07-13' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 53, CAST(N'2023-08-25' AS Date), CAST(N'2023-11-21' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 65, CAST(N'2024-03-02' AS Date), CAST(N'2024-04-21' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 77, CAST(N'2023-06-22' AS Date), CAST(N'2023-12-07' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 78, CAST(N'2024-01-24' AS Date), CAST(N'2023-09-07' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 85, CAST(N'2024-05-25' AS Date), CAST(N'2023-08-26' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 86, CAST(N'2023-06-18' AS Date), CAST(N'2024-01-03' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 89, CAST(N'2023-08-07' AS Date), CAST(N'2024-05-22' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 89, CAST(N'2024-02-18' AS Date), CAST(N'2023-06-01' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 96, CAST(N'2024-05-13' AS Date), CAST(N'2024-02-19' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 97, CAST(N'2023-07-24' AS Date), CAST(N'2023-09-28' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 98, CAST(N'2024-05-09' AS Date), CAST(N'2023-10-12' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 99, CAST(N'2023-12-30' AS Date), CAST(N'2023-06-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 106, CAST(N'2023-10-11' AS Date), CAST(N'2023-11-30' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 107, CAST(N'2024-02-18' AS Date), CAST(N'2024-01-11' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 108, CAST(N'2024-01-15' AS Date), CAST(N'2023-12-18' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 113, CAST(N'2023-11-26' AS Date), CAST(N'2024-04-15' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 114, CAST(N'2023-06-03' AS Date), CAST(N'2023-07-21' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 119, CAST(N'2023-08-23' AS Date), CAST(N'2023-10-18' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 120, CAST(N'2023-06-16' AS Date), CAST(N'2023-10-10' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 120, CAST(N'2023-09-03' AS Date), CAST(N'2023-12-27' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 123, CAST(N'2024-04-13' AS Date), CAST(N'2024-03-28' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 128, CAST(N'2024-03-07' AS Date), CAST(N'2023-06-03' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 129, CAST(N'2023-10-13' AS Date), CAST(N'2023-06-14' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 130, CAST(N'2024-03-13' AS Date), CAST(N'2024-03-16' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 132, CAST(N'2024-05-19' AS Date), CAST(N'2023-07-17' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 133, CAST(N'2023-09-20' AS Date), CAST(N'2023-11-05' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 134, CAST(N'2023-12-31' AS Date), CAST(N'2023-06-10' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 137, CAST(N'2023-11-10' AS Date), CAST(N'2023-08-23' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 140, CAST(N'2023-07-28' AS Date), CAST(N'2024-02-01' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 144, CAST(N'2023-07-15' AS Date), CAST(N'2023-07-31' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 160, CAST(N'2024-02-13' AS Date), CAST(N'2024-04-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 163, CAST(N'2023-07-17' AS Date), CAST(N'2024-04-24' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 166, CAST(N'2024-04-10' AS Date), CAST(N'2023-09-24' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 167, CAST(N'2024-03-15' AS Date), CAST(N'2024-05-24' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 171, CAST(N'2024-03-05' AS Date), CAST(N'2024-02-27' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 172, CAST(N'2023-09-06' AS Date), CAST(N'2023-07-12' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 180, CAST(N'2023-12-21' AS Date), CAST(N'2024-01-31' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 183, CAST(N'2023-09-07' AS Date), CAST(N'2024-03-03' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 185, CAST(N'2023-10-16' AS Date), CAST(N'2023-06-18' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 190, CAST(N'2023-06-04' AS Date), CAST(N'2023-11-23' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 190, CAST(N'2024-04-17' AS Date), CAST(N'2024-05-24' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 196, CAST(N'2023-08-21' AS Date), CAST(N'2024-02-10' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 196, CAST(N'2023-09-02' AS Date), CAST(N'2023-08-27' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 201, CAST(N'2024-02-05' AS Date), CAST(N'2023-09-05' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 208, CAST(N'2024-02-11' AS Date), CAST(N'2023-10-15' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 209, CAST(N'2023-11-09' AS Date), CAST(N'2024-04-11' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 211, CAST(N'2024-04-04' AS Date), CAST(N'2023-11-17' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 213, CAST(N'2023-10-22' AS Date), CAST(N'2023-06-19' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 220, CAST(N'2023-08-13' AS Date), CAST(N'2024-03-30' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 221, CAST(N'2023-08-24' AS Date), CAST(N'2023-07-22' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 221, CAST(N'2023-09-18' AS Date), CAST(N'2024-03-02' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 225, CAST(N'2023-12-23' AS Date), CAST(N'2024-04-26' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 229, CAST(N'2024-05-13' AS Date), CAST(N'2024-03-25' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 235, CAST(N'2024-05-31' AS Date), CAST(N'2023-07-26' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 237, CAST(N'2024-03-09' AS Date), CAST(N'2024-05-15' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 240, CAST(N'2024-03-01' AS Date), CAST(N'2023-10-31' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 242, CAST(N'2023-10-16' AS Date), CAST(N'2024-04-26' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 242, CAST(N'2024-01-13' AS Date), CAST(N'2023-10-20' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 244, CAST(N'2024-01-03' AS Date), CAST(N'2023-10-14' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 258, CAST(N'2024-01-26' AS Date), CAST(N'2023-09-29' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 260, CAST(N'2023-08-02' AS Date), CAST(N'2024-01-05' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 270, CAST(N'2024-01-16' AS Date), CAST(N'2023-09-25' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 271, CAST(N'2023-08-26' AS Date), CAST(N'2024-03-21' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 277, CAST(N'2023-11-08' AS Date), CAST(N'2024-03-05' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 279, CAST(N'2023-10-12' AS Date), CAST(N'2024-05-16' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 282, CAST(N'2023-10-05' AS Date), CAST(N'2023-06-02' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 282, CAST(N'2024-03-19' AS Date), CAST(N'2023-09-15' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 292, CAST(N'2024-05-03' AS Date), CAST(N'2023-07-13' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 298, CAST(N'2023-11-24' AS Date), CAST(N'2023-10-30' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 298, CAST(N'2024-04-30' AS Date), CAST(N'2023-06-04' AS Date))
GO

In [0]:
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 304, CAST(N'2024-01-20' AS Date), CAST(N'2024-04-01' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 305, CAST(N'2023-11-17' AS Date), CAST(N'2023-12-30' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 306, CAST(N'2023-08-21' AS Date), CAST(N'2024-02-05' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 307, CAST(N'2024-01-14' AS Date), CAST(N'2023-06-05' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 307, CAST(N'2024-03-12' AS Date), CAST(N'2024-02-06' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 308, CAST(N'2024-01-22' AS Date), CAST(N'2024-02-05' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 309, CAST(N'2023-12-31' AS Date), CAST(N'2023-09-07' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 314, CAST(N'2023-06-04' AS Date), CAST(N'2024-03-07' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 315, CAST(N'2024-03-20' AS Date), CAST(N'2023-12-26' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 321, CAST(N'2023-11-09' AS Date), CAST(N'2023-09-26' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 327, CAST(N'2023-08-24' AS Date), CAST(N'2024-03-26' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 327, CAST(N'2024-01-29' AS Date), CAST(N'2024-03-25' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 334, CAST(N'2023-07-09' AS Date), CAST(N'2024-05-12' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 334, CAST(N'2023-10-09' AS Date), CAST(N'2024-04-17' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 334, CAST(N'2023-12-17' AS Date), CAST(N'2024-03-31' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 338, CAST(N'2024-02-25' AS Date), CAST(N'2024-04-19' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 338, CAST(N'2024-03-30' AS Date), CAST(N'2024-02-21' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 342, CAST(N'2023-09-30' AS Date), CAST(N'2023-06-24' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 343, CAST(N'2023-09-19' AS Date), CAST(N'2024-01-07' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 348, CAST(N'2023-11-01' AS Date), CAST(N'2023-11-26' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 349, CAST(N'2023-06-25' AS Date), CAST(N'2023-12-03' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 349, CAST(N'2024-04-28' AS Date), CAST(N'2023-11-07' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 351, CAST(N'2024-02-01' AS Date), CAST(N'2024-02-10' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 354, CAST(N'2023-06-07' AS Date), CAST(N'2024-01-24' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 358, CAST(N'2023-06-04' AS Date), CAST(N'2023-08-24' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 361, CAST(N'2023-09-18' AS Date), CAST(N'2024-05-28' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 364, CAST(N'2024-04-10' AS Date), CAST(N'2023-08-10' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 368, CAST(N'2023-06-02' AS Date), CAST(N'2023-07-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 371, CAST(N'2023-09-30' AS Date), CAST(N'2024-04-01' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 373, CAST(N'2023-09-13' AS Date), CAST(N'2024-01-03' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 374, CAST(N'2024-05-20' AS Date), CAST(N'2023-08-29' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 375, CAST(N'2023-08-07' AS Date), CAST(N'2023-09-10' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 377, CAST(N'2023-10-06' AS Date), CAST(N'2024-02-08' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 379, CAST(N'2023-11-02' AS Date), CAST(N'2023-11-29' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 389, CAST(N'2024-04-05' AS Date), CAST(N'2024-04-06' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 390, CAST(N'2024-01-28' AS Date), CAST(N'2024-01-27' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 393, CAST(N'2023-09-23' AS Date), CAST(N'2023-08-22' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 394, CAST(N'2024-02-06' AS Date), CAST(N'2023-07-20' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 394, CAST(N'2024-02-23' AS Date), CAST(N'2023-08-15' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 394, CAST(N'2024-05-15' AS Date), CAST(N'2024-01-11' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 399, CAST(N'2023-08-03' AS Date), CAST(N'2023-11-07' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 400, CAST(N'2023-10-20' AS Date), CAST(N'2024-04-02' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (2, 400, CAST(N'2023-10-27' AS Date), CAST(N'2023-12-29' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 5, CAST(N'2023-11-13' AS Date), CAST(N'2023-06-15' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 19, CAST(N'2024-04-18' AS Date), CAST(N'2024-04-29' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 21, CAST(N'2024-01-15' AS Date), CAST(N'2024-02-26' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 23, CAST(N'2023-10-11' AS Date), CAST(N'2024-04-30' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 28, CAST(N'2024-03-05' AS Date), CAST(N'2023-12-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 33, CAST(N'2023-09-09' AS Date), CAST(N'2024-01-05' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 51, CAST(N'2023-06-16' AS Date), CAST(N'2023-12-28' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 53, CAST(N'2024-02-11' AS Date), CAST(N'2024-04-19' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 57, CAST(N'2023-11-07' AS Date), CAST(N'2023-06-14' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 58, CAST(N'2023-11-11' AS Date), CAST(N'2024-01-20' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 62, CAST(N'2023-09-21' AS Date), CAST(N'2024-04-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 63, CAST(N'2023-11-22' AS Date), CAST(N'2023-11-13' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 63, CAST(N'2024-03-11' AS Date), CAST(N'2023-10-12' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 64, CAST(N'2023-06-21' AS Date), CAST(N'2024-04-30' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 64, CAST(N'2023-12-25' AS Date), CAST(N'2023-07-18' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 66, CAST(N'2024-04-23' AS Date), CAST(N'2024-05-18' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 74, CAST(N'2024-01-13' AS Date), CAST(N'2023-12-20' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 76, CAST(N'2023-07-21' AS Date), CAST(N'2023-12-15' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 80, CAST(N'2023-06-13' AS Date), CAST(N'2024-03-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 81, CAST(N'2024-03-01' AS Date), CAST(N'2023-07-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 83, CAST(N'2024-05-04' AS Date), CAST(N'2024-03-24' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 87, CAST(N'2023-12-21' AS Date), CAST(N'2023-07-22' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 89, CAST(N'2024-01-31' AS Date), CAST(N'2023-07-12' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 93, CAST(N'2024-04-16' AS Date), CAST(N'2024-05-18' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 95, CAST(N'2024-05-14' AS Date), CAST(N'2023-10-11' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 96, CAST(N'2023-08-25' AS Date), CAST(N'2023-07-07' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 103, CAST(N'2023-07-23' AS Date), CAST(N'2024-03-31' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 104, CAST(N'2023-10-08' AS Date), CAST(N'2024-03-28' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 109, CAST(N'2024-01-09' AS Date), CAST(N'2023-06-13' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 110, CAST(N'2024-03-23' AS Date), CAST(N'2023-12-20' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 119, CAST(N'2023-11-24' AS Date), CAST(N'2023-10-01' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 124, CAST(N'2023-11-24' AS Date), CAST(N'2023-06-01' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 131, CAST(N'2023-10-21' AS Date), CAST(N'2023-12-30' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 140, CAST(N'2023-08-17' AS Date), CAST(N'2024-05-25' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 140, CAST(N'2024-05-15' AS Date), CAST(N'2023-11-26' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 141, CAST(N'2023-07-03' AS Date), CAST(N'2024-05-19' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 141, CAST(N'2023-11-22' AS Date), CAST(N'2024-01-10' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 141, CAST(N'2024-01-14' AS Date), CAST(N'2023-07-01' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 143, CAST(N'2024-04-18' AS Date), CAST(N'2023-07-09' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 147, CAST(N'2023-08-11' AS Date), CAST(N'2024-01-17' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 153, CAST(N'2024-02-07' AS Date), CAST(N'2023-07-05' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 159, CAST(N'2023-10-16' AS Date), CAST(N'2023-07-13' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 161, CAST(N'2024-05-23' AS Date), CAST(N'2023-10-09' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 168, CAST(N'2023-09-30' AS Date), CAST(N'2023-06-17' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 169, CAST(N'2024-03-09' AS Date), CAST(N'2023-12-28' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 172, CAST(N'2023-07-03' AS Date), CAST(N'2024-05-30' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 172, CAST(N'2023-07-19' AS Date), CAST(N'2023-07-21' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 173, CAST(N'2023-06-13' AS Date), CAST(N'2023-06-08' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 173, CAST(N'2023-08-26' AS Date), CAST(N'2024-02-10' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 182, CAST(N'2023-07-23' AS Date), CAST(N'2023-06-12' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 183, CAST(N'2023-12-16' AS Date), CAST(N'2023-08-12' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 190, CAST(N'2023-12-10' AS Date), CAST(N'2024-02-18' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 198, CAST(N'2023-06-02' AS Date), CAST(N'2024-04-26' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 198, CAST(N'2023-10-28' AS Date), CAST(N'2023-11-16' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 208, CAST(N'2023-10-21' AS Date), CAST(N'2024-05-31' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 219, CAST(N'2023-12-02' AS Date), CAST(N'2023-11-23' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 228, CAST(N'2024-02-23' AS Date), CAST(N'2024-05-24' AS Date))
GO

In [0]:
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 230, CAST(N'2024-04-08' AS Date), CAST(N'2024-03-27' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 230, CAST(N'2024-05-21' AS Date), CAST(N'2023-11-13' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 231, CAST(N'2023-10-28' AS Date), CAST(N'2023-08-09' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 232, CAST(N'2023-09-06' AS Date), CAST(N'2024-05-23' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 235, CAST(N'2024-01-03' AS Date), CAST(N'2023-11-01' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 237, CAST(N'2023-10-11' AS Date), CAST(N'2024-05-16' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 249, CAST(N'2024-04-09' AS Date), CAST(N'2023-08-06' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 252, CAST(N'2023-07-17' AS Date), CAST(N'2023-12-22' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 255, CAST(N'2023-07-02' AS Date), CAST(N'2024-05-17' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 256, CAST(N'2024-03-31' AS Date), CAST(N'2024-01-17' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 256, CAST(N'2024-05-31' AS Date), CAST(N'2024-05-07' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 258, CAST(N'2024-03-14' AS Date), CAST(N'2024-05-29' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 263, CAST(N'2023-06-17' AS Date), CAST(N'2023-12-02' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 270, CAST(N'2023-10-29' AS Date), CAST(N'2023-12-18' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 273, CAST(N'2023-12-27' AS Date), CAST(N'2024-02-02' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 276, CAST(N'2024-02-11' AS Date), CAST(N'2023-11-08' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 276, CAST(N'2024-05-04' AS Date), CAST(N'2024-01-03' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 281, CAST(N'2023-09-17' AS Date), CAST(N'2023-08-05' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 287, CAST(N'2024-01-22' AS Date), CAST(N'2024-03-19' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 287, CAST(N'2024-05-03' AS Date), CAST(N'2023-06-03' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 287, CAST(N'2024-05-22' AS Date), CAST(N'2023-11-03' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 290, CAST(N'2024-02-23' AS Date), CAST(N'2024-01-03' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 296, CAST(N'2023-10-19' AS Date), CAST(N'2023-11-08' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 296, CAST(N'2024-05-27' AS Date), CAST(N'2024-05-21' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 297, CAST(N'2023-09-10' AS Date), CAST(N'2023-12-05' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 298, CAST(N'2024-04-11' AS Date), CAST(N'2023-07-18' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 299, CAST(N'2023-06-22' AS Date), CAST(N'2023-11-03' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 301, CAST(N'2024-03-03' AS Date), CAST(N'2023-08-24' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 302, CAST(N'2024-03-05' AS Date), CAST(N'2024-04-03' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 302, CAST(N'2024-03-17' AS Date), CAST(N'2023-07-06' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 304, CAST(N'2023-10-22' AS Date), CAST(N'2023-08-19' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 306, CAST(N'2024-04-24' AS Date), CAST(N'2023-12-27' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 309, CAST(N'2023-12-08' AS Date), CAST(N'2024-05-25' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 310, CAST(N'2024-01-04' AS Date), CAST(N'2023-07-09' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 321, CAST(N'2023-07-17' AS Date), CAST(N'2024-01-27' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 331, CAST(N'2023-07-02' AS Date), CAST(N'2024-05-07' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 336, CAST(N'2023-06-08' AS Date), CAST(N'2023-06-12' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 339, CAST(N'2023-11-18' AS Date), CAST(N'2023-06-08' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 341, CAST(N'2023-12-09' AS Date), CAST(N'2024-05-17' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 343, CAST(N'2024-01-02' AS Date), CAST(N'2023-09-14' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 344, CAST(N'2024-03-02' AS Date), CAST(N'2023-06-03' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 346, CAST(N'2024-02-07' AS Date), CAST(N'2024-04-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 347, CAST(N'2024-01-16' AS Date), CAST(N'2023-07-17' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 353, CAST(N'2024-04-03' AS Date), CAST(N'2023-08-02' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 354, CAST(N'2024-04-07' AS Date), CAST(N'2024-02-08' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 357, CAST(N'2024-05-17' AS Date), CAST(N'2024-02-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 362, CAST(N'2024-04-13' AS Date), CAST(N'2024-01-27' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 368, CAST(N'2024-03-13' AS Date), CAST(N'2023-08-01' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 369, CAST(N'2023-11-06' AS Date), CAST(N'2023-09-03' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 375, CAST(N'2023-12-04' AS Date), CAST(N'2023-12-11' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 379, CAST(N'2023-12-18' AS Date), CAST(N'2024-01-21' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 381, CAST(N'2023-06-25' AS Date), CAST(N'2023-10-05' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 390, CAST(N'2024-03-24' AS Date), CAST(N'2023-09-21' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 394, CAST(N'2023-10-25' AS Date), CAST(N'2023-07-25' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 396, CAST(N'2024-03-30' AS Date), CAST(N'2023-08-13' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (3, 396, CAST(N'2024-04-22' AS Date), CAST(N'2024-01-15' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 1, CAST(N'2023-06-08' AS Date), CAST(N'2024-02-12' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 7, CAST(N'2023-07-28' AS Date), CAST(N'2024-04-03' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 7, CAST(N'2024-03-27' AS Date), CAST(N'2024-02-07' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 9, CAST(N'2024-02-10' AS Date), CAST(N'2024-03-05' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 10, CAST(N'2023-11-01' AS Date), CAST(N'2024-02-07' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 11, CAST(N'2023-11-11' AS Date), CAST(N'2023-07-12' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 18, CAST(N'2023-10-26' AS Date), CAST(N'2023-12-10' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 19, CAST(N'2023-10-27' AS Date), CAST(N'2024-04-29' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 27, CAST(N'2024-01-16' AS Date), CAST(N'2023-08-25' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 30, CAST(N'2023-12-11' AS Date), CAST(N'2023-08-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 36, CAST(N'2023-10-15' AS Date), CAST(N'2023-09-13' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 40, CAST(N'2024-01-24' AS Date), CAST(N'2023-10-09' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 53, CAST(N'2023-09-12' AS Date), CAST(N'2023-11-03' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 54, CAST(N'2024-02-29' AS Date), CAST(N'2023-08-22' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 55, CAST(N'2023-09-30' AS Date), CAST(N'2024-03-01' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 57, CAST(N'2024-03-28' AS Date), CAST(N'2024-02-22' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 58, CAST(N'2023-12-10' AS Date), CAST(N'2023-11-20' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 61, CAST(N'2024-02-24' AS Date), CAST(N'2024-03-28' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 66, CAST(N'2023-10-22' AS Date), CAST(N'2023-11-27' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 66, CAST(N'2024-03-08' AS Date), CAST(N'2024-01-22' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 67, CAST(N'2024-03-01' AS Date), CAST(N'2024-02-11' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 68, CAST(N'2024-02-05' AS Date), CAST(N'2023-10-09' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 73, CAST(N'2024-05-28' AS Date), CAST(N'2024-04-28' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 74, CAST(N'2024-01-09' AS Date), CAST(N'2024-04-02' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 76, CAST(N'2023-12-03' AS Date), CAST(N'2023-11-03' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 80, CAST(N'2023-09-09' AS Date), CAST(N'2024-04-26' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 81, CAST(N'2023-10-29' AS Date), CAST(N'2024-01-16' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 84, CAST(N'2023-09-04' AS Date), CAST(N'2023-11-10' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 84, CAST(N'2024-04-02' AS Date), CAST(N'2024-04-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 89, CAST(N'2024-01-19' AS Date), CAST(N'2023-11-17' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 90, CAST(N'2024-05-13' AS Date), CAST(N'2023-07-29' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 93, CAST(N'2023-08-30' AS Date), CAST(N'2024-04-27' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 94, CAST(N'2023-11-12' AS Date), CAST(N'2023-06-21' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 99, CAST(N'2024-05-25' AS Date), CAST(N'2023-10-28' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 102, CAST(N'2023-09-02' AS Date), CAST(N'2023-11-10' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 105, CAST(N'2024-02-16' AS Date), CAST(N'2024-01-03' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 108, CAST(N'2024-03-30' AS Date), CAST(N'2024-04-08' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 109, CAST(N'2024-01-30' AS Date), CAST(N'2024-05-31' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 114, CAST(N'2023-11-06' AS Date), CAST(N'2024-05-24' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 115, CAST(N'2023-09-18' AS Date), CAST(N'2023-11-13' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 115, CAST(N'2023-11-20' AS Date), CAST(N'2023-07-24' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 120, CAST(N'2023-08-22' AS Date), CAST(N'2024-05-29' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 126, CAST(N'2023-11-16' AS Date), CAST(N'2023-07-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 127, CAST(N'2023-10-04' AS Date), CAST(N'2023-11-24' AS Date))
GO

In [0]:
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 130, CAST(N'2023-09-19' AS Date), CAST(N'2024-03-24' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 131, CAST(N'2023-10-18' AS Date), CAST(N'2023-07-30' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 136, CAST(N'2024-04-24' AS Date), CAST(N'2024-05-20' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 141, CAST(N'2024-05-14' AS Date), CAST(N'2024-01-23' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 142, CAST(N'2023-10-08' AS Date), CAST(N'2024-05-20' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 142, CAST(N'2024-05-04' AS Date), CAST(N'2023-10-28' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 147, CAST(N'2023-10-01' AS Date), CAST(N'2024-03-06' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 151, CAST(N'2023-11-15' AS Date), CAST(N'2024-05-24' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 154, CAST(N'2024-02-06' AS Date), CAST(N'2023-10-20' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 161, CAST(N'2023-08-10' AS Date), CAST(N'2024-03-20' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 162, CAST(N'2023-12-13' AS Date), CAST(N'2024-05-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 164, CAST(N'2023-07-23' AS Date), CAST(N'2024-03-31' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 170, CAST(N'2024-01-19' AS Date), CAST(N'2023-07-31' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 173, CAST(N'2023-08-15' AS Date), CAST(N'2023-12-22' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 176, CAST(N'2023-12-07' AS Date), CAST(N'2024-02-29' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 180, CAST(N'2023-09-27' AS Date), CAST(N'2023-08-21' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 187, CAST(N'2024-04-03' AS Date), CAST(N'2024-05-26' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 193, CAST(N'2023-08-18' AS Date), CAST(N'2024-04-07' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 201, CAST(N'2024-02-06' AS Date), CAST(N'2023-07-12' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 209, CAST(N'2024-03-19' AS Date), CAST(N'2024-03-05' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 211, CAST(N'2024-02-01' AS Date), CAST(N'2023-09-18' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 213, CAST(N'2023-10-14' AS Date), CAST(N'2023-07-12' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 216, CAST(N'2023-09-08' AS Date), CAST(N'2023-08-20' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 218, CAST(N'2023-08-23' AS Date), CAST(N'2024-01-09' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 218, CAST(N'2024-01-02' AS Date), CAST(N'2024-01-31' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 219, CAST(N'2023-10-23' AS Date), CAST(N'2023-11-09' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 219, CAST(N'2023-11-11' AS Date), CAST(N'2024-04-19' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 225, CAST(N'2023-10-27' AS Date), CAST(N'2024-02-25' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 226, CAST(N'2023-10-01' AS Date), CAST(N'2023-09-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 230, CAST(N'2023-08-13' AS Date), CAST(N'2023-10-02' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 233, CAST(N'2024-05-12' AS Date), CAST(N'2023-07-07' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 237, CAST(N'2024-01-30' AS Date), CAST(N'2023-12-22' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 238, CAST(N'2024-03-15' AS Date), CAST(N'2023-07-15' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 243, CAST(N'2023-08-03' AS Date), CAST(N'2024-03-23' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 246, CAST(N'2023-09-15' AS Date), CAST(N'2023-10-26' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 246, CAST(N'2024-04-22' AS Date), CAST(N'2023-09-09' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 249, CAST(N'2023-08-30' AS Date), CAST(N'2024-05-14' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 254, CAST(N'2023-09-12' AS Date), CAST(N'2023-10-30' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 258, CAST(N'2023-08-22' AS Date), CAST(N'2024-02-24' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 260, CAST(N'2024-02-08' AS Date), CAST(N'2023-08-31' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 265, CAST(N'2024-05-11' AS Date), CAST(N'2023-11-05' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 266, CAST(N'2024-03-14' AS Date), CAST(N'2023-06-05' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 267, CAST(N'2023-07-08' AS Date), CAST(N'2024-03-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 269, CAST(N'2023-06-11' AS Date), CAST(N'2023-12-08' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 271, CAST(N'2023-12-02' AS Date), CAST(N'2023-11-09' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 271, CAST(N'2024-04-21' AS Date), CAST(N'2024-04-08' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 273, CAST(N'2024-01-31' AS Date), CAST(N'2024-05-18' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 281, CAST(N'2024-01-05' AS Date), CAST(N'2023-07-23' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 281, CAST(N'2024-05-25' AS Date), CAST(N'2023-10-20' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 283, CAST(N'2023-08-31' AS Date), CAST(N'2023-08-10' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 288, CAST(N'2024-04-06' AS Date), CAST(N'2024-02-20' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 292, CAST(N'2023-06-14' AS Date), CAST(N'2023-10-11' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 296, CAST(N'2023-12-10' AS Date), CAST(N'2024-03-13' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 318, CAST(N'2024-03-13' AS Date), CAST(N'2024-02-13' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 321, CAST(N'2023-12-13' AS Date), CAST(N'2024-04-10' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 322, CAST(N'2024-01-29' AS Date), CAST(N'2023-11-25' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 324, CAST(N'2023-09-07' AS Date), CAST(N'2024-04-20' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 328, CAST(N'2023-07-25' AS Date), CAST(N'2023-11-16' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 328, CAST(N'2024-03-18' AS Date), CAST(N'2023-09-01' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 336, CAST(N'2024-03-23' AS Date), CAST(N'2024-01-12' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 339, CAST(N'2023-09-19' AS Date), CAST(N'2023-12-28' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 343, CAST(N'2023-08-16' AS Date), CAST(N'2023-11-12' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 344, CAST(N'2023-09-15' AS Date), CAST(N'2023-12-03' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 347, CAST(N'2023-07-09' AS Date), CAST(N'2023-11-15' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 347, CAST(N'2024-04-30' AS Date), CAST(N'2024-03-25' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 350, CAST(N'2024-01-22' AS Date), CAST(N'2023-08-08' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 358, CAST(N'2024-02-04' AS Date), CAST(N'2023-09-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 359, CAST(N'2023-12-29' AS Date), CAST(N'2023-12-17' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 359, CAST(N'2024-02-23' AS Date), CAST(N'2023-12-08' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 360, CAST(N'2023-07-02' AS Date), CAST(N'2023-09-11' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 361, CAST(N'2023-11-15' AS Date), CAST(N'2024-02-02' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 361, CAST(N'2024-02-20' AS Date), CAST(N'2024-05-31' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 361, CAST(N'2024-05-01' AS Date), CAST(N'2024-02-12' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 362, CAST(N'2023-10-26' AS Date), CAST(N'2024-01-14' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 362, CAST(N'2024-01-04' AS Date), CAST(N'2024-02-22' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 363, CAST(N'2024-05-31' AS Date), CAST(N'2023-07-19' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 366, CAST(N'2023-12-01' AS Date), CAST(N'2023-09-06' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 369, CAST(N'2023-11-13' AS Date), CAST(N'2024-03-24' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 369, CAST(N'2024-04-26' AS Date), CAST(N'2024-04-28' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 373, CAST(N'2023-12-21' AS Date), CAST(N'2024-03-06' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 376, CAST(N'2024-01-04' AS Date), CAST(N'2024-01-11' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 377, CAST(N'2023-12-12' AS Date), CAST(N'2023-12-18' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 382, CAST(N'2023-07-31' AS Date), CAST(N'2023-08-29' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 383, CAST(N'2023-10-16' AS Date), CAST(N'2023-08-03' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 386, CAST(N'2023-09-22' AS Date), CAST(N'2023-11-07' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 387, CAST(N'2023-10-11' AS Date), CAST(N'2023-06-10' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 388, CAST(N'2023-11-07' AS Date), CAST(N'2024-03-01' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 389, CAST(N'2024-02-11' AS Date), CAST(N'2024-04-27' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 391, CAST(N'2024-01-24' AS Date), CAST(N'2023-07-13' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 392, CAST(N'2023-06-15' AS Date), CAST(N'2024-03-06' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (4, 393, CAST(N'2024-01-21' AS Date), CAST(N'2024-03-13' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 2, CAST(N'2023-09-10' AS Date), CAST(N'2023-07-30' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 6, CAST(N'2023-11-07' AS Date), CAST(N'2024-02-06' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 9, CAST(N'2024-03-07' AS Date), CAST(N'2023-10-18' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 10, CAST(N'2023-09-06' AS Date), CAST(N'2023-06-02' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 23, CAST(N'2023-08-07' AS Date), CAST(N'2024-05-05' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 26, CAST(N'2023-06-24' AS Date), CAST(N'2023-07-12' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 29, CAST(N'2023-09-03' AS Date), CAST(N'2024-01-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 29, CAST(N'2023-12-04' AS Date), CAST(N'2024-01-20' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 34, CAST(N'2023-10-09' AS Date), CAST(N'2023-12-13' AS Date))
GO

In [0]:
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 34, CAST(N'2023-11-20' AS Date), CAST(N'2023-12-07' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 36, CAST(N'2024-02-08' AS Date), CAST(N'2024-03-18' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 37, CAST(N'2024-04-15' AS Date), CAST(N'2024-01-15' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 38, CAST(N'2023-09-10' AS Date), CAST(N'2023-11-23' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 42, CAST(N'2023-11-03' AS Date), CAST(N'2023-08-25' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 45, CAST(N'2023-10-03' AS Date), CAST(N'2024-03-21' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 46, CAST(N'2023-08-28' AS Date), CAST(N'2023-09-02' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 48, CAST(N'2024-02-26' AS Date), CAST(N'2023-07-26' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 49, CAST(N'2024-01-19' AS Date), CAST(N'2023-06-14' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 55, CAST(N'2024-02-20' AS Date), CAST(N'2023-08-12' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 69, CAST(N'2023-07-16' AS Date), CAST(N'2024-05-09' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 69, CAST(N'2024-02-27' AS Date), CAST(N'2023-12-22' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 75, CAST(N'2024-01-29' AS Date), CAST(N'2024-05-11' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 77, CAST(N'2023-09-18' AS Date), CAST(N'2023-08-26' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 83, CAST(N'2024-03-21' AS Date), CAST(N'2024-04-27' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 85, CAST(N'2024-03-01' AS Date), CAST(N'2024-05-25' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 86, CAST(N'2023-10-30' AS Date), CAST(N'2024-01-08' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 88, CAST(N'2023-11-05' AS Date), CAST(N'2023-06-05' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 93, CAST(N'2023-10-11' AS Date), CAST(N'2023-08-14' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 96, CAST(N'2023-06-07' AS Date), CAST(N'2024-03-20' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 97, CAST(N'2023-11-25' AS Date), CAST(N'2023-09-09' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 99, CAST(N'2023-09-11' AS Date), CAST(N'2023-09-11' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 106, CAST(N'2023-12-09' AS Date), CAST(N'2024-02-19' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 109, CAST(N'2023-08-03' AS Date), CAST(N'2024-04-06' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 109, CAST(N'2023-11-16' AS Date), CAST(N'2024-03-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 111, CAST(N'2023-07-04' AS Date), CAST(N'2024-03-10' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 112, CAST(N'2024-03-25' AS Date), CAST(N'2023-09-17' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 116, CAST(N'2024-03-16' AS Date), CAST(N'2023-08-28' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 117, CAST(N'2024-02-02' AS Date), CAST(N'2024-03-03' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 117, CAST(N'2024-04-06' AS Date), CAST(N'2023-07-29' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 118, CAST(N'2023-08-09' AS Date), CAST(N'2023-11-17' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 124, CAST(N'2023-07-29' AS Date), CAST(N'2023-07-06' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 124, CAST(N'2024-02-22' AS Date), CAST(N'2023-07-12' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 129, CAST(N'2023-06-20' AS Date), CAST(N'2023-06-19' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 131, CAST(N'2023-07-24' AS Date), CAST(N'2023-06-25' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 145, CAST(N'2023-07-27' AS Date), CAST(N'2023-12-07' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 150, CAST(N'2023-09-15' AS Date), CAST(N'2023-07-23' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 161, CAST(N'2024-01-30' AS Date), CAST(N'2024-03-18' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 163, CAST(N'2023-10-01' AS Date), CAST(N'2023-06-07' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 169, CAST(N'2024-05-08' AS Date), CAST(N'2023-12-30' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 170, CAST(N'2023-12-13' AS Date), CAST(N'2023-06-12' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 172, CAST(N'2024-04-25' AS Date), CAST(N'2024-01-06' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 174, CAST(N'2023-12-21' AS Date), CAST(N'2023-11-27' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 174, CAST(N'2024-01-05' AS Date), CAST(N'2023-08-30' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 175, CAST(N'2024-04-07' AS Date), CAST(N'2023-09-02' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 177, CAST(N'2023-08-08' AS Date), CAST(N'2023-11-02' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 178, CAST(N'2024-05-31' AS Date), CAST(N'2023-11-08' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 182, CAST(N'2023-12-06' AS Date), CAST(N'2023-12-24' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 185, CAST(N'2023-12-30' AS Date), CAST(N'2023-07-31' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 187, CAST(N'2023-11-18' AS Date), CAST(N'2023-12-10' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 198, CAST(N'2023-10-14' AS Date), CAST(N'2024-05-12' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 201, CAST(N'2023-09-01' AS Date), CAST(N'2024-01-16' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 208, CAST(N'2024-01-12' AS Date), CAST(N'2023-10-02' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 212, CAST(N'2024-02-02' AS Date), CAST(N'2023-07-15' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 216, CAST(N'2023-11-30' AS Date), CAST(N'2024-04-24' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 219, CAST(N'2023-10-12' AS Date), CAST(N'2023-08-26' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 220, CAST(N'2024-05-06' AS Date), CAST(N'2023-09-29' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 226, CAST(N'2023-11-19' AS Date), CAST(N'2024-05-25' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 228, CAST(N'2023-10-08' AS Date), CAST(N'2024-02-10' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 231, CAST(N'2023-06-07' AS Date), CAST(N'2023-08-08' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 233, CAST(N'2024-04-15' AS Date), CAST(N'2023-10-02' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 237, CAST(N'2023-09-06' AS Date), CAST(N'2024-01-06' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 252, CAST(N'2024-01-12' AS Date), CAST(N'2023-09-28' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 269, CAST(N'2024-01-25' AS Date), CAST(N'2024-01-16' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 270, CAST(N'2024-02-10' AS Date), CAST(N'2023-11-26' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 271, CAST(N'2023-10-23' AS Date), CAST(N'2024-01-17' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 273, CAST(N'2023-07-26' AS Date), CAST(N'2024-02-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 274, CAST(N'2023-08-01' AS Date), CAST(N'2023-08-15' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 274, CAST(N'2024-04-08' AS Date), CAST(N'2023-10-10' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 282, CAST(N'2024-02-14' AS Date), CAST(N'2023-10-27' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 282, CAST(N'2024-05-29' AS Date), CAST(N'2023-09-25' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 288, CAST(N'2024-02-01' AS Date), CAST(N'2024-01-22' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 289, CAST(N'2024-05-31' AS Date), CAST(N'2024-05-11' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 290, CAST(N'2023-11-01' AS Date), CAST(N'2023-10-28' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 293, CAST(N'2023-09-06' AS Date), CAST(N'2023-12-10' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 296, CAST(N'2024-02-05' AS Date), CAST(N'2023-11-22' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 299, CAST(N'2023-06-16' AS Date), CAST(N'2023-08-16' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 305, CAST(N'2024-05-20' AS Date), CAST(N'2024-05-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 311, CAST(N'2023-09-08' AS Date), CAST(N'2023-09-13' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 311, CAST(N'2024-04-29' AS Date), CAST(N'2023-06-20' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 312, CAST(N'2023-12-18' AS Date), CAST(N'2024-03-19' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 321, CAST(N'2024-01-14' AS Date), CAST(N'2024-05-08' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 325, CAST(N'2023-07-28' AS Date), CAST(N'2024-04-13' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 328, CAST(N'2024-05-21' AS Date), CAST(N'2024-03-01' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 335, CAST(N'2024-01-20' AS Date), CAST(N'2023-09-26' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 336, CAST(N'2023-08-06' AS Date), CAST(N'2023-06-09' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 348, CAST(N'2023-06-09' AS Date), CAST(N'2023-09-11' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 349, CAST(N'2023-10-10' AS Date), CAST(N'2023-08-13' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 355, CAST(N'2024-04-19' AS Date), CAST(N'2023-12-31' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 359, CAST(N'2024-01-11' AS Date), CAST(N'2023-07-04' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 361, CAST(N'2023-06-11' AS Date), CAST(N'2024-05-13' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 362, CAST(N'2023-11-19' AS Date), CAST(N'2024-03-15' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 364, CAST(N'2024-04-29' AS Date), CAST(N'2024-03-03' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 371, CAST(N'2024-04-24' AS Date), CAST(N'2024-05-28' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 372, CAST(N'2023-08-26' AS Date), CAST(N'2024-04-17' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 376, CAST(N'2024-04-16' AS Date), CAST(N'2023-10-28' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 378, CAST(N'2024-03-21' AS Date), CAST(N'2023-11-24' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 387, CAST(N'2024-03-06' AS Date), CAST(N'2024-04-11' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 387, CAST(N'2024-03-17' AS Date), CAST(N'2023-11-09' AS Date))
INSERT [dbo].[CategoriaXEmpleado] ([idCategoriaSalarial], [legajo], [fechainicio], [fechafin]) VALUES (5, 390, CAST(N'2023-08-06' AS Date), CAST(N'2023-10-13' AS Date))
GO

# [dbo].[Empleado]

In [0]:
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (1, N'Juli', N'Twomey', N'63162 Cody Avenue', CAST(100590.00 AS Decimal(10, 2)), CAST(N'2022-10-07' AS Date), 29)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (2, N'Bank', N'Sinncock', N'27 Stone Corner Alley', CAST(281027.00 AS Decimal(10, 2)), CAST(N'2024-05-06' AS Date), 31)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (3, N'Neron', N'Ballchin', N'2941 Ludington Place', CAST(345287.00 AS Decimal(10, 2)), CAST(N'2022-11-17' AS Date), 2)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (4, N'Chrisse', N'MacMeanma', N'85891 New Castle Park', CAST(331315.00 AS Decimal(10, 2)), CAST(N'2022-10-07' AS Date), 37)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (5, N'Heloise', N'Kenford', N'964 Kenwood Alley', CAST(267215.00 AS Decimal(10, 2)), CAST(N'2023-11-12' AS Date), 21)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (6, N'Avivah', N'Innwood', N'15 Annamark Street', CAST(305359.00 AS Decimal(10, 2)), CAST(N'2022-12-17' AS Date), 2)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (7, N'Brody', N'Durie', N'516 Cascade Avenue', CAST(154191.00 AS Decimal(10, 2)), CAST(N'2023-01-12' AS Date), 35)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (8, N'Manny', N'Sey', N'28393 Shopko Parkway', CAST(321960.00 AS Decimal(10, 2)), CAST(N'2023-02-03' AS Date), 11)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (9, N'Karrie', N'Noseworthy', N'67 Mitchell Plaza', CAST(249053.00 AS Decimal(10, 2)), CAST(N'2022-09-15' AS Date), 15)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (10, N'Micaela', N'Eivers', N'230 Westridge Lane', CAST(341288.00 AS Decimal(10, 2)), CAST(N'2022-08-23' AS Date), 13)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (11, N'Jock', N'Rathjen', N'8 Grayhawk Court', CAST(284644.00 AS Decimal(10, 2)), CAST(N'2022-11-16' AS Date), 30)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (12, N'Russell', N'Robet', N'70 Mallory Street', CAST(319340.00 AS Decimal(10, 2)), CAST(N'2022-11-19' AS Date), 36)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (13, N'Latisha', N'Askem', N'603 Warbler Place', CAST(179804.00 AS Decimal(10, 2)), CAST(N'2024-05-22' AS Date), 12)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (14, N'Silvain', N'Chadwell', N'46 Onsgard Court', CAST(139155.00 AS Decimal(10, 2)), CAST(N'2023-11-19' AS Date), 15)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (15, N'Sophey', N'Andrasch', N'8683 Prentice Alley', CAST(259711.00 AS Decimal(10, 2)), CAST(N'2022-06-14' AS Date), 18)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (16, N'Nolly', N'Delion', N'81 Wayridge Road', CAST(397421.00 AS Decimal(10, 2)), CAST(N'2023-03-15' AS Date), 36)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (17, N'Phillipe', N'Abriani', N'4995 Delaware Plaza', CAST(186912.00 AS Decimal(10, 2)), CAST(N'2023-02-09' AS Date), 40)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (18, N'Rachael', N'Spender', N'9 Ridge Oak Pass', CAST(302888.00 AS Decimal(10, 2)), CAST(N'2022-11-01' AS Date), 35)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (19, N'Lucine', N'Crangle', N'781 Aberg Street', CAST(169625.00 AS Decimal(10, 2)), CAST(N'2023-09-15' AS Date), 16)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (20, N'Durand', N'Fillan', N'35457 Valley Edge Pass', CAST(293873.00 AS Decimal(10, 2)), CAST(N'2023-04-06' AS Date), 23)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (21, N'Curran', N'Cicchinelli', N'76 Caliangt Street', CAST(283534.00 AS Decimal(10, 2)), CAST(N'2022-10-28' AS Date), 22)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (22, N'Wildon', N'Cisco', N'02 Kings Street', CAST(120733.00 AS Decimal(10, 2)), CAST(N'2023-07-14' AS Date), 16)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (23, N'Perla', N'Adelman', N'8 Independence Point', CAST(235872.00 AS Decimal(10, 2)), CAST(N'2023-03-02' AS Date), 36)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (24, N'Alberto', N'Tarrier', N'14 Declaration Circle', CAST(254972.00 AS Decimal(10, 2)), CAST(N'2023-10-11' AS Date), 29)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (25, N'Alfie', N'Bohills', N'00086 Barnett Avenue', CAST(259081.00 AS Decimal(10, 2)), CAST(N'2023-04-02' AS Date), 15)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (26, N'Emmerich', N'McMenamie', N'01 Eagan Center', CAST(225155.00 AS Decimal(10, 2)), CAST(N'2023-02-16' AS Date), 3)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (27, N'Viki', N'Bartens', N'40133 Kinsman Hill', CAST(100362.00 AS Decimal(10, 2)), CAST(N'2023-06-13' AS Date), 6)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (28, N'Elaine', N'Dyers', N'500 Calypso Lane', CAST(341997.00 AS Decimal(10, 2)), CAST(N'2023-06-24' AS Date), 40)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (29, N'Carmella', N'Whatham', N'693 Warrior Circle', CAST(184243.00 AS Decimal(10, 2)), CAST(N'2024-04-08' AS Date), 4)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (30, N'Rosalinde', N'Jeremaes', N'686 Oak Way', CAST(179494.00 AS Decimal(10, 2)), CAST(N'2023-10-19' AS Date), 25)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (31, N'Angelle', N'Belham', N'553 Tony Place', CAST(171858.00 AS Decimal(10, 2)), CAST(N'2022-09-05' AS Date), 3)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (32, N'Kris', N'Aulton', N'07545 Artisan Way', CAST(389870.00 AS Decimal(10, 2)), CAST(N'2024-01-18' AS Date), 12)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (33, N'Giovanna', N'Giorgeschi', N'2 Sullivan Junction', CAST(169128.00 AS Decimal(10, 2)), CAST(N'2023-01-08' AS Date), 10)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (34, N'Rodi', N'Lill', N'771 Ronald Regan Street', CAST(167470.00 AS Decimal(10, 2)), CAST(N'2022-12-31' AS Date), 26)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (35, N'Mei', N'Phizackarley', N'8 Dottie Avenue', CAST(198170.00 AS Decimal(10, 2)), CAST(N'2024-01-21' AS Date), 8)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (36, N'Patty', N'Morant', N'4 Buhler Place', CAST(239700.00 AS Decimal(10, 2)), CAST(N'2022-08-19' AS Date), 19)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (37, N'Raul', N'Archbould', N'02 Dakota Way', CAST(399917.00 AS Decimal(10, 2)), CAST(N'2023-10-09' AS Date), 35)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (38, N'Ad', N'Leitch', N'469 Pond Pass', CAST(135876.00 AS Decimal(10, 2)), CAST(N'2023-06-20' AS Date), 2)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (39, N'Kailey', N'Angerstein', N'7243 Cardinal Parkway', CAST(247056.00 AS Decimal(10, 2)), CAST(N'2023-04-12' AS Date), 5)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (40, N'Aline', N'Woolston', N'23027 Blaine Drive', CAST(341650.00 AS Decimal(10, 2)), CAST(N'2023-03-28' AS Date), 24)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (41, N'Melosa', N'Senyard', N'92968 Everett Lane', CAST(296408.00 AS Decimal(10, 2)), CAST(N'2023-07-03' AS Date), 33)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (42, N'Joyce', N'Vedyashkin', N'9 Troy Avenue', CAST(363869.00 AS Decimal(10, 2)), CAST(N'2022-06-04' AS Date), 33)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (43, N'Sheba', N'Ricciardelli', N'1 Golf Road', CAST(215647.00 AS Decimal(10, 2)), CAST(N'2024-03-10' AS Date), 12)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (44, N'Madelina', N'Rubinov', N'6 Anniversary Junction', CAST(254728.00 AS Decimal(10, 2)), CAST(N'2024-02-12' AS Date), 13)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (45, N'Ludovika', N'Becker', N'07 Gerald Court', CAST(276863.00 AS Decimal(10, 2)), CAST(N'2023-02-24' AS Date), 4)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (46, N'Arnold', N'Auchterlonie', N'54 Brickson Park Street', CAST(295864.00 AS Decimal(10, 2)), CAST(N'2022-09-07' AS Date), 16)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (47, N'Tobe', N'Stillwell', N'8 Rusk Place', CAST(206153.00 AS Decimal(10, 2)), CAST(N'2023-10-17' AS Date), 23)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (48, N'Vanny', N'Temby', N'3297 Mockingbird Alley', CAST(172275.00 AS Decimal(10, 2)), CAST(N'2023-12-07' AS Date), 13)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (49, N'Foss', N'Corinton', N'52 David Park', CAST(238111.00 AS Decimal(10, 2)), CAST(N'2023-12-17' AS Date), 20)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (50, N'Shelton', N'Alcott', N'2 Mesta Drive', CAST(337286.00 AS Decimal(10, 2)), CAST(N'2023-10-21' AS Date), 32)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (51, N'Ignacio', N'Bruun', N'23522 Browning Lane', CAST(130352.00 AS Decimal(10, 2)), CAST(N'2024-05-08' AS Date), 9)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (52, N'Linoel', N'Blick', N'72 Fair Oaks Way', CAST(338104.00 AS Decimal(10, 2)), CAST(N'2023-11-05' AS Date), 19)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (53, N'Alanson', N'Atack', N'7937 Dahle Circle', CAST(347747.00 AS Decimal(10, 2)), CAST(N'2022-11-17' AS Date), 23)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (54, N'Ara', N'Inglefield', N'5 Anderson Road', CAST(367415.00 AS Decimal(10, 2)), CAST(N'2024-03-09' AS Date), 31)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (55, N'Orren', N'Hatch', N'4623 Maple Road', CAST(117906.00 AS Decimal(10, 2)), CAST(N'2023-12-24' AS Date), 21)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (56, N'Lilllie', N'Funnell', N'877 Emmet Parkway', CAST(257521.00 AS Decimal(10, 2)), CAST(N'2023-10-06' AS Date), 19)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (57, N'Kaylyn', N'Attrey', N'1 Southridge Parkway', CAST(253512.00 AS Decimal(10, 2)), CAST(N'2023-10-04' AS Date), 31)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (58, N'Nannie', N'McCrohon', N'13457 Morningstar Drive', CAST(232398.00 AS Decimal(10, 2)), CAST(N'2023-04-10' AS Date), 34)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (59, N'Flemming', N'Gregori', N'6578 Crownhardt Terrace', CAST(382778.00 AS Decimal(10, 2)), CAST(N'2024-05-09' AS Date), 12)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (60, N'Amabelle', N'Colclough', N'90 Dakota Pass', CAST(357929.00 AS Decimal(10, 2)), CAST(N'2022-12-14' AS Date), 22)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (61, N'Axel', N'Oxburgh', N'9 Logan Plaza', CAST(241317.00 AS Decimal(10, 2)), CAST(N'2023-02-19' AS Date), 40)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (62, N'Blondy', N'Janjusevic', N'4 Buell Trail', CAST(136765.00 AS Decimal(10, 2)), CAST(N'2023-12-21' AS Date), 36)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (63, N'Cloris', N'Moynihan', N'30 Muir Center', CAST(177046.00 AS Decimal(10, 2)), CAST(N'2023-06-22' AS Date), 14)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (64, N'Otis', N'Blaxall', N'13 Garrison Drive', CAST(274109.00 AS Decimal(10, 2)), CAST(N'2023-10-09' AS Date), 40)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (65, N'Emery', N'Barday', N'75 Russell Street', CAST(318529.00 AS Decimal(10, 2)), CAST(N'2023-05-17' AS Date), 37)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (66, N'Evania', N'Lyenyng', N'3139 Logan Way', CAST(199327.00 AS Decimal(10, 2)), CAST(N'2023-01-10' AS Date), 33)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (67, N'Harvey', N'Standen', N'164 Northland Circle', CAST(299850.00 AS Decimal(10, 2)), CAST(N'2023-11-30' AS Date), 3)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (68, N'Corena', N'Vigors', N'85188 Crest Line Street', CAST(204204.00 AS Decimal(10, 2)), CAST(N'2024-02-26' AS Date), 38)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (69, N'Thea', N'Fenna', N'57964 Oak Valley Center', CAST(341073.00 AS Decimal(10, 2)), CAST(N'2022-09-01' AS Date), 6)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (70, N'Nilson', N'Skim', N'790 Lotheville Point', CAST(183336.00 AS Decimal(10, 2)), CAST(N'2023-04-30' AS Date), 33)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (71, N'Frazier', N'Eastlake', N'7418 Schiller Avenue', CAST(386937.00 AS Decimal(10, 2)), CAST(N'2022-08-09' AS Date), 10)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (72, N'Henry', N'Crosse', N'54912 Merry Circle', CAST(296269.00 AS Decimal(10, 2)), CAST(N'2022-08-13' AS Date), 34)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (73, N'Sampson', N'Walker', N'52 Judy Road', CAST(212048.00 AS Decimal(10, 2)), CAST(N'2024-04-10' AS Date), 2)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (74, N'Darren', N'Folan', N'0 Algoma Place', CAST(197436.00 AS Decimal(10, 2)), CAST(N'2023-09-28' AS Date), 13)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (75, N'Dollie', N'Kilmary', N'47 Kropf Avenue', CAST(270891.00 AS Decimal(10, 2)), CAST(N'2023-09-09' AS Date), 6)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (76, N'Steve', N'Eve', N'4746 Shelley Circle', CAST(282436.00 AS Decimal(10, 2)), CAST(N'2024-04-16' AS Date), 28)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (77, N'Karlens', N'Pentin', N'79665 Eagan Crossing', CAST(148869.00 AS Decimal(10, 2)), CAST(N'2022-10-13' AS Date), 26)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (78, N'Marya', N'Folca', N'89582 Shasta Center', CAST(356005.00 AS Decimal(10, 2)), CAST(N'2023-11-30' AS Date), 24)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (79, N'Marney', N'Lochran', N'0106 Michigan Center', CAST(141751.00 AS Decimal(10, 2)), CAST(N'2022-10-29' AS Date), 12)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (80, N'Madlin', N'Busswell', N'7332 Jenna Place', CAST(124680.00 AS Decimal(10, 2)), CAST(N'2024-03-20' AS Date), 4)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (81, N'Blakeley', N'Freeberne', N'99 Welch Crossing', CAST(266227.00 AS Decimal(10, 2)), CAST(N'2023-07-01' AS Date), 17)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (82, N'Anthiathia', N'Foskin', N'6 Ryan Terrace', CAST(168612.00 AS Decimal(10, 2)), CAST(N'2024-03-30' AS Date), 15)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (83, N'Jonathan', N'Dooland', N'969 Kinsman Circle', CAST(342128.00 AS Decimal(10, 2)), CAST(N'2023-02-17' AS Date), 10)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (84, N'Kizzee', N'Fluck', N'51 Bonner Point', CAST(391022.00 AS Decimal(10, 2)), CAST(N'2023-12-01' AS Date), 15)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (85, N'Barri', N'Pammenter', N'296 Derek Parkway', CAST(381731.00 AS Decimal(10, 2)), CAST(N'2024-05-20' AS Date), 15)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (86, N'Murial', N'Hyams', N'0316 Debs Hill', CAST(383880.00 AS Decimal(10, 2)), CAST(N'2022-10-15' AS Date), 37)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (87, N'Trace', N'Mably', N'808 Nancy Crossing', CAST(253372.00 AS Decimal(10, 2)), CAST(N'2023-03-02' AS Date), 16)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (88, N'Erasmus', N'Helversen', N'649 Hintze Junction', CAST(290126.00 AS Decimal(10, 2)), CAST(N'2023-08-01' AS Date), 16)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (89, N'Marlie', N'Melton', N'53 Hoffman Drive', CAST(191733.00 AS Decimal(10, 2)), CAST(N'2024-03-26' AS Date), 34)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (90, N'Franciskus', N'Borgnol', N'1 Prentice Alley', CAST(263063.00 AS Decimal(10, 2)), CAST(N'2022-10-14' AS Date), 4)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (91, N'Morgan', N'Stenner', N'6324 Esker Place', CAST(116751.00 AS Decimal(10, 2)), CAST(N'2023-10-25' AS Date), 5)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (92, N'Carver', N'Meekins', N'73 Arizona Pass', CAST(338943.00 AS Decimal(10, 2)), CAST(N'2024-03-06' AS Date), 14)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (93, N'Marsha', N'Roke', N'8 Mallory Street', CAST(392277.00 AS Decimal(10, 2)), CAST(N'2023-07-20' AS Date), 23)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (94, N'Wenda', N'Raiston', N'61 Cody Park', CAST(356211.00 AS Decimal(10, 2)), CAST(N'2023-04-01' AS Date), 38)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (95, N'Lorrie', N'Krochmann', N'516 Nevada Trail', CAST(331231.00 AS Decimal(10, 2)), CAST(N'2023-05-29' AS Date), 28)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (96, N'Tyne', N'Bidmead', N'5548 Hallows Pass', CAST(116890.00 AS Decimal(10, 2)), CAST(N'2023-09-30' AS Date), 11)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (97, N'Xever', N'Luscombe', N'1031 Nelson Park', CAST(394176.00 AS Decimal(10, 2)), CAST(N'2023-10-27' AS Date), 19)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (98, N'Anatol', N'Roscoe', N'693 Chinook Trail', CAST(262010.00 AS Decimal(10, 2)), CAST(N'2023-10-11' AS Date), 6)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (99, N'Deborah', N'Jansema', N'0 Oak Valley Terrace', CAST(281152.00 AS Decimal(10, 2)), CAST(N'2023-11-09' AS Date), 37)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (100, N'Petunia', N'Broszkiewicz', N'6 Shelley Drive', CAST(231258.00 AS Decimal(10, 2)), CAST(N'2024-04-26' AS Date), 24)
GO

In [0]:
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (101, N'Gare', N'Beslier', N'07861 Bowman Lane', CAST(169639.00 AS Decimal(10, 2)), CAST(N'2024-02-25' AS Date), 35)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (102, N'Elton', N'Mcettrick', N'744 Bultman Street', CAST(128129.00 AS Decimal(10, 2)), CAST(N'2022-08-14' AS Date), 11)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (103, N'Garrik', N'Smullin', N'7 Glendale Center', CAST(289686.00 AS Decimal(10, 2)), CAST(N'2022-10-02' AS Date), 35)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (104, N'Loralie', N'Cargo', N'3 Melody Avenue', CAST(312090.00 AS Decimal(10, 2)), CAST(N'2022-09-10' AS Date), 25)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (105, N'Gradey', N'Moysey', N'7824 Toban Place', CAST(258917.00 AS Decimal(10, 2)), CAST(N'2024-05-01' AS Date), 21)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (106, N'Bax', N'Christene', N'027 Hermina Road', CAST(247327.00 AS Decimal(10, 2)), CAST(N'2023-03-24' AS Date), 16)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (107, N'Trumann', N'Lackington', N'90696 Nancy Point', CAST(295055.00 AS Decimal(10, 2)), CAST(N'2023-10-05' AS Date), 18)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (108, N'Harri', N'Matzke', N'135 Carberry Way', CAST(101236.00 AS Decimal(10, 2)), CAST(N'2022-11-14' AS Date), 32)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (109, N'Nisse', N'MacAllen', N'42981 Monument Way', CAST(363303.00 AS Decimal(10, 2)), CAST(N'2024-05-28' AS Date), 4)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (110, N'Padraic', N'Nickolls', N'35259 Ilene Court', CAST(367199.00 AS Decimal(10, 2)), CAST(N'2022-10-07' AS Date), 13)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (111, N'Francine', N'Ludl', N'67 Schlimgen Avenue', CAST(325053.00 AS Decimal(10, 2)), CAST(N'2022-09-03' AS Date), 24)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (112, N'Perla', N'Brettelle', N'6487 Arrowood Center', CAST(114696.00 AS Decimal(10, 2)), CAST(N'2023-07-31' AS Date), 24)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (113, N'Hollie', N'Piscot', N'5 Larry Point', CAST(112868.00 AS Decimal(10, 2)), CAST(N'2024-05-26' AS Date), 11)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (114, N'Anson', N'Monsey', N'19992 Mendota Road', CAST(119779.00 AS Decimal(10, 2)), CAST(N'2023-03-04' AS Date), 27)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (115, N'Gaven', N'Maclean', N'767 Wayridge Street', CAST(381342.00 AS Decimal(10, 2)), CAST(N'2023-07-03' AS Date), 5)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (116, N'Rubie', N'Kerslake', N'9767 Melody Hill', CAST(361456.00 AS Decimal(10, 2)), CAST(N'2023-11-08' AS Date), 39)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (117, N'Brandon', N'Brandsma', N'8 Ohio Alley', CAST(218086.00 AS Decimal(10, 2)), CAST(N'2023-08-20' AS Date), 35)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (118, N'Alessandro', N'Racine', N'1747 Acker Alley', CAST(148148.00 AS Decimal(10, 2)), CAST(N'2022-06-05' AS Date), 31)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (119, N'Torry', N'Rowe', N'403 Surrey Terrace', CAST(198622.00 AS Decimal(10, 2)), CAST(N'2024-01-08' AS Date), 11)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (120, N'Bartholemy', N'Dunhill', N'19 Victoria Park', CAST(229567.00 AS Decimal(10, 2)), CAST(N'2023-08-24' AS Date), 4)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (121, N'Tandy', N'Luberti', N'92825 Continental Road', CAST(319427.00 AS Decimal(10, 2)), CAST(N'2024-04-25' AS Date), 26)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (122, N'Gerry', N'Bewshaw', N'82313 Crownhardt Hill', CAST(162058.00 AS Decimal(10, 2)), CAST(N'2023-09-24' AS Date), 29)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (123, N'Martica', N'Eagle', N'60284 Stephen Parkway', CAST(289296.00 AS Decimal(10, 2)), CAST(N'2024-01-11' AS Date), 34)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (124, N'Josie', N'Staker', N'2238 Portage Way', CAST(300072.00 AS Decimal(10, 2)), CAST(N'2023-12-28' AS Date), 29)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (125, N'Pincus', N'Duncan', N'96339 Northport Hill', CAST(291897.00 AS Decimal(10, 2)), CAST(N'2022-09-15' AS Date), 38)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (126, N'Gavan', N'Siemandl', N'2 Springs Drive', CAST(226428.00 AS Decimal(10, 2)), CAST(N'2024-01-01' AS Date), 10)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (127, N'Cassius', N'Treadgall', N'85177 Buhler Drive', CAST(343677.00 AS Decimal(10, 2)), CAST(N'2022-12-18' AS Date), 14)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (128, N'Jarad', N'Robeiro', N'97 Park Meadow Junction', CAST(156870.00 AS Decimal(10, 2)), CAST(N'2023-08-11' AS Date), 27)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (129, N'Blancha', N'McEnteggart', N'0 Graedel Parkway', CAST(399597.00 AS Decimal(10, 2)), CAST(N'2023-08-18' AS Date), 9)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (130, N'Jessie', N'Casement', N'173 Golf Course Terrace', CAST(325595.00 AS Decimal(10, 2)), CAST(N'2024-04-28' AS Date), 23)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (131, N'Hermy', N'Swalwell', N'3 Clove Terrace', CAST(345181.00 AS Decimal(10, 2)), CAST(N'2024-04-07' AS Date), 23)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (132, N'Kristine', N'Tudgay', N'924 Spenser Trail', CAST(308529.00 AS Decimal(10, 2)), CAST(N'2022-10-12' AS Date), 28)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (133, N'Elsworth', N'Eastop', N'6 Forest Dale Point', CAST(353060.00 AS Decimal(10, 2)), CAST(N'2022-09-10' AS Date), 3)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (134, N'Elene', N'Crellin', N'44962 High Crossing Street', CAST(217216.00 AS Decimal(10, 2)), CAST(N'2022-10-30' AS Date), 9)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (135, N'Delora', N'Sabine', N'5 1st Crossing', CAST(333054.00 AS Decimal(10, 2)), CAST(N'2023-02-02' AS Date), 9)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (136, N'Demetre', N'Topling', N'5 Del Sol Crossing', CAST(172644.00 AS Decimal(10, 2)), CAST(N'2023-12-14' AS Date), 23)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (137, N'Weidar', N'Sach', N'78 Bellgrove Way', CAST(177378.00 AS Decimal(10, 2)), CAST(N'2023-06-30' AS Date), 30)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (138, N'Fianna', N'Sherratt', N'41374 Maryland Pass', CAST(120364.00 AS Decimal(10, 2)), CAST(N'2022-10-10' AS Date), 26)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (139, N'Mildred', N'Shrubshall', N'7 Superior Road', CAST(289772.00 AS Decimal(10, 2)), CAST(N'2023-07-08' AS Date), 33)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (140, N'Virgil', N'Gotliffe', N'46 Lerdahl Parkway', CAST(187560.00 AS Decimal(10, 2)), CAST(N'2024-01-21' AS Date), 40)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (141, N'Lydia', N'Camin', N'0479 Bay Hill', CAST(182910.00 AS Decimal(10, 2)), CAST(N'2023-04-01' AS Date), 27)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (142, N'Markos', N'Barrable', N'650 Sugar Junction', CAST(234815.00 AS Decimal(10, 2)), CAST(N'2023-11-12' AS Date), 11)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (143, N'Alfredo', N'Fasset', N'7 Summerview Parkway', CAST(320965.00 AS Decimal(10, 2)), CAST(N'2024-02-27' AS Date), 12)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (144, N'Irwin', N'Node', N'2627 Brentwood Way', CAST(290648.00 AS Decimal(10, 2)), CAST(N'2023-12-08' AS Date), 21)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (145, N'Francesca', N'Cabble', N'57 Dawn Park', CAST(327867.00 AS Decimal(10, 2)), CAST(N'2023-05-19' AS Date), 38)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (146, N'Pablo', N'Goody', N'86 Killdeer Street', CAST(128091.00 AS Decimal(10, 2)), CAST(N'2023-08-26' AS Date), 17)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (147, N'Nilson', N'McSkeagan', N'52 Ilene Hill', CAST(399403.00 AS Decimal(10, 2)), CAST(N'2024-02-17' AS Date), 31)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (148, N'Clarice', N'Audenis', N'129 Birchwood Street', CAST(282166.00 AS Decimal(10, 2)), CAST(N'2024-03-14' AS Date), 28)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (149, N'Leupold', N'O''Bradain', N'5713 Eastlawn Center', CAST(394358.00 AS Decimal(10, 2)), CAST(N'2024-05-19' AS Date), 34)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (150, N'Harmonia', N'Barends', N'56 Saint Paul Street', CAST(248429.00 AS Decimal(10, 2)), CAST(N'2023-07-14' AS Date), 39)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (151, N'Lyn', N'Borges', N'3408 Merry Parkway', CAST(352015.00 AS Decimal(10, 2)), CAST(N'2023-01-30' AS Date), 10)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (152, N'Chelsae', N'Packwood', N'5 Mayer Plaza', CAST(187334.00 AS Decimal(10, 2)), CAST(N'2024-01-27' AS Date), 26)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (153, N'Celestyna', N'Dirr', N'4378 Rusk Parkway', CAST(335941.00 AS Decimal(10, 2)), CAST(N'2023-03-16' AS Date), 26)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (154, N'Drusy', N'Lamborn', N'692 Troy Point', CAST(311728.00 AS Decimal(10, 2)), CAST(N'2024-02-21' AS Date), 24)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (155, N'Randolph', N'Humberstone', N'72 International Center', CAST(326608.00 AS Decimal(10, 2)), CAST(N'2022-08-28' AS Date), 1)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (156, N'Garnette', N'Upwood', N'9560 Anderson Lane', CAST(380185.00 AS Decimal(10, 2)), CAST(N'2022-06-02' AS Date), 17)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (157, N'Harris', N'Rappa', N'22803 Sullivan Street', CAST(317039.00 AS Decimal(10, 2)), CAST(N'2024-01-25' AS Date), 7)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (158, N'Gaylene', N'Clothier', N'046 Milwaukee Way', CAST(192191.00 AS Decimal(10, 2)), CAST(N'2023-05-02' AS Date), 2)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (159, N'Aile', N'O''Lahy', N'7 Waxwing Junction', CAST(200182.00 AS Decimal(10, 2)), CAST(N'2024-02-13' AS Date), 6)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (160, N'Bebe', N'Boughey', N'93 Debra Hill', CAST(208626.00 AS Decimal(10, 2)), CAST(N'2022-09-04' AS Date), 12)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (161, N'Osbert', N'Wedgbrow', N'21374 Kipling Point', CAST(129670.00 AS Decimal(10, 2)), CAST(N'2024-04-13' AS Date), 7)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (162, N'York', N'Notti', N'0 Susan Trail', CAST(128171.00 AS Decimal(10, 2)), CAST(N'2023-08-13' AS Date), 38)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (163, N'Hope', N'Gowlett', N'9 Ronald Regan Crossing', CAST(332354.00 AS Decimal(10, 2)), CAST(N'2022-07-16' AS Date), 22)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (164, N'Cthrine', N'McCrohon', N'415 Macpherson Drive', CAST(126427.00 AS Decimal(10, 2)), CAST(N'2022-08-06' AS Date), 39)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (165, N'Orlando', N'Treasure', N'0 Stuart Park', CAST(251570.00 AS Decimal(10, 2)), CAST(N'2023-12-13' AS Date), 9)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (166, N'Griselda', N'Weaver', N'56 Warbler Lane', CAST(146135.00 AS Decimal(10, 2)), CAST(N'2024-03-31' AS Date), 12)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (167, N'Rosa', N'Rhule', N'1 Waubesa Parkway', CAST(259397.00 AS Decimal(10, 2)), CAST(N'2023-01-19' AS Date), 29)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (168, N'Almeda', N'Dillet', N'0 Londonderry Crossing', CAST(219781.00 AS Decimal(10, 2)), CAST(N'2023-06-28' AS Date), 33)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (169, N'Giustino', N'Terbeek', N'3 Jenna Hill', CAST(134581.00 AS Decimal(10, 2)), CAST(N'2023-06-28' AS Date), 4)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (170, N'Bryce', N'Kinch', N'1 Petterle Place', CAST(221323.00 AS Decimal(10, 2)), CAST(N'2022-07-10' AS Date), 35)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (171, N'Parke', N'Bouchard', N'29 Stuart Trail', CAST(310705.00 AS Decimal(10, 2)), CAST(N'2022-07-30' AS Date), 8)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (172, N'Carce', N'Phipard-Shears', N'5 Brown Junction', CAST(132467.00 AS Decimal(10, 2)), CAST(N'2022-09-16' AS Date), 6)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (173, N'Kenton', N'Shard', N'75440 Cordelia Plaza', CAST(105765.00 AS Decimal(10, 2)), CAST(N'2024-03-09' AS Date), 2)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (174, N'Phylys', N'Geindre', N'22977 Pine View Place', CAST(111457.00 AS Decimal(10, 2)), CAST(N'2022-07-15' AS Date), 16)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (175, N'Koralle', N'Cowthart', N'681 Rutledge Circle', CAST(329494.00 AS Decimal(10, 2)), CAST(N'2023-08-27' AS Date), 38)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (176, N'Shell', N'Skitt', N'89 Lerdahl Avenue', CAST(151256.00 AS Decimal(10, 2)), CAST(N'2022-08-04' AS Date), 8)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (177, N'Otis', N'Daviddi', N'12 Shopko Alley', CAST(277813.00 AS Decimal(10, 2)), CAST(N'2022-08-25' AS Date), 32)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (178, N'Costanza', N'Sturm', N'43 Nevada Parkway', CAST(335540.00 AS Decimal(10, 2)), CAST(N'2023-09-29' AS Date), 23)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (179, N'Moyna', N'Jobey', N'3 Dixon Pass', CAST(275288.00 AS Decimal(10, 2)), CAST(N'2024-05-23' AS Date), 23)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (180, N'Ethelyn', N'Darree', N'60 Monument Parkway', CAST(228212.00 AS Decimal(10, 2)), CAST(N'2024-03-03' AS Date), 29)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (181, N'Antonia', N'Lineham', N'0 East Plaza', CAST(189093.00 AS Decimal(10, 2)), CAST(N'2024-03-10' AS Date), 10)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (182, N'Toby', N'Selkirk', N'62020 Ludington Pass', CAST(213855.00 AS Decimal(10, 2)), CAST(N'2022-12-04' AS Date), 24)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (183, N'Man', N'Laird-Craig', N'2 Service Pass', CAST(250418.00 AS Decimal(10, 2)), CAST(N'2023-05-08' AS Date), 6)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (184, N'Dulcia', N'Temblett', N'556 Barby Way', CAST(124455.00 AS Decimal(10, 2)), CAST(N'2023-03-07' AS Date), 12)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (185, N'Laurice', N'Prior', N'763 Harper Plaza', CAST(104022.00 AS Decimal(10, 2)), CAST(N'2024-01-03' AS Date), 36)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (186, N'Doralia', N'Mozzi', N'4936 Norway Maple Crossing', CAST(335931.00 AS Decimal(10, 2)), CAST(N'2023-08-23' AS Date), 20)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (187, N'Anastassia', N'Morris', N'94411 Evergreen Drive', CAST(339772.00 AS Decimal(10, 2)), CAST(N'2023-04-22' AS Date), 38)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (188, N'Hubie', N'Halward', N'450 Spaight Circle', CAST(279843.00 AS Decimal(10, 2)), CAST(N'2024-05-13' AS Date), 25)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (189, N'Sheba', N'Standbrooke', N'11 Farragut Lane', CAST(360156.00 AS Decimal(10, 2)), CAST(N'2023-06-23' AS Date), 24)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (190, N'Jami', N'Joslyn', N'4456 Arrowood Way', CAST(287134.00 AS Decimal(10, 2)), CAST(N'2023-10-10' AS Date), 15)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (191, N'Ryann', N'Mephan', N'771 Derek Terrace', CAST(214366.00 AS Decimal(10, 2)), CAST(N'2023-11-13' AS Date), 16)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (192, N'Luther', N'Jenteau', N'290 Hanson Hill', CAST(122671.00 AS Decimal(10, 2)), CAST(N'2022-08-05' AS Date), 33)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (193, N'Leda', N'Sagerson', N'166 Dovetail Court', CAST(334224.00 AS Decimal(10, 2)), CAST(N'2023-07-03' AS Date), 24)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (194, N'Risa', N'Heartfield', N'9715 Rusk Road', CAST(127415.00 AS Decimal(10, 2)), CAST(N'2023-12-23' AS Date), 36)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (195, N'Melisse', N'Bixley', N'0337 Northview Way', CAST(385655.00 AS Decimal(10, 2)), CAST(N'2023-09-17' AS Date), 2)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (196, N'Andra', N'Cleef', N'73655 Butternut Plaza', CAST(344286.00 AS Decimal(10, 2)), CAST(N'2022-06-25' AS Date), 38)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (197, N'Isidor', N'Bonwick', N'64 Logan Lane', CAST(371316.00 AS Decimal(10, 2)), CAST(N'2022-11-13' AS Date), 14)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (198, N'Iosep', N'Henzer', N'9094 Bluejay Court', CAST(225299.00 AS Decimal(10, 2)), CAST(N'2023-04-08' AS Date), 18)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (199, N'Umberto', N'Hoyles', N'5168 Old Shore Road', CAST(119808.00 AS Decimal(10, 2)), CAST(N'2023-03-08' AS Date), 26)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (200, N'Ikey', N'De la Yglesias', N'6 Blue Bill Park Road', CAST(354864.00 AS Decimal(10, 2)), CAST(N'2023-09-01' AS Date), 26)
GO

In [0]:
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (201, N'Shir', N'Towns', N'8054 Pond Center', CAST(195009.00 AS Decimal(10, 2)), CAST(N'2023-08-18' AS Date), 11)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (202, N'Elka', N'Henrion', N'4 Arizona Road', CAST(365967.00 AS Decimal(10, 2)), CAST(N'2023-11-16' AS Date), 11)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (203, N'Carine', N'Mattessen', N'90 Prentice Place', CAST(393020.00 AS Decimal(10, 2)), CAST(N'2024-01-01' AS Date), 4)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (204, N'Chaddie', N'Mundee', N'19732 Farmco Way', CAST(176352.00 AS Decimal(10, 2)), CAST(N'2023-12-01' AS Date), 20)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (205, N'Inesita', N'Innocent', N'70 Caliangt Plaza', CAST(193113.00 AS Decimal(10, 2)), CAST(N'2023-09-09' AS Date), 6)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (206, N'Kacey', N'Beccles', N'3844 Burning Wood Pass', CAST(185518.00 AS Decimal(10, 2)), CAST(N'2022-06-18' AS Date), 11)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (207, N'Wilek', N'Hadny', N'7 Pawling Drive', CAST(159979.00 AS Decimal(10, 2)), CAST(N'2022-07-22' AS Date), 12)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (208, N'Bradly', N'Phipson', N'915 Blackbird Point', CAST(363193.00 AS Decimal(10, 2)), CAST(N'2022-07-22' AS Date), 37)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (209, N'Khalil', N'Wisam', N'8609 Delaware Trail', CAST(161777.00 AS Decimal(10, 2)), CAST(N'2023-10-17' AS Date), 34)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (210, N'Flossy', N'Bodimeade', N'701 Kropf Terrace', CAST(179232.00 AS Decimal(10, 2)), CAST(N'2022-07-07' AS Date), 40)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (211, N'Justine', N'Alennikov', N'98224 Stang Road', CAST(104347.00 AS Decimal(10, 2)), CAST(N'2023-01-01' AS Date), 11)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (212, N'Ruthie', N'Teasell', N'246 Jay Hill', CAST(396329.00 AS Decimal(10, 2)), CAST(N'2023-09-25' AS Date), 1)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (213, N'Avivah', N'Nineham', N'9 Arizona Circle', CAST(314305.00 AS Decimal(10, 2)), CAST(N'2023-01-09' AS Date), 35)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (214, N'Tymon', N'Crich', N'2613 Bellgrove Point', CAST(215280.00 AS Decimal(10, 2)), CAST(N'2023-06-11' AS Date), 9)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (215, N'Lorene', N'Juszczyk', N'9 Messerschmidt Center', CAST(192898.00 AS Decimal(10, 2)), CAST(N'2022-07-05' AS Date), 10)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (216, N'Mariel', N'Portsmouth', N'898 Jenifer Parkway', CAST(288531.00 AS Decimal(10, 2)), CAST(N'2022-10-07' AS Date), 22)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (217, N'Correy', N'Corgenvin', N'98 Prairieview Road', CAST(145195.00 AS Decimal(10, 2)), CAST(N'2023-04-10' AS Date), 14)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (218, N'Alleyn', N'Turle', N'5 Caliangt Park', CAST(261501.00 AS Decimal(10, 2)), CAST(N'2022-08-23' AS Date), 35)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (219, N'Kalli', N'Tupie', N'69043 Jay Circle', CAST(311108.00 AS Decimal(10, 2)), CAST(N'2023-09-16' AS Date), 37)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (220, N'Grace', N'Harding', N'6240 Larry Crossing', CAST(172685.00 AS Decimal(10, 2)), CAST(N'2024-03-17' AS Date), 19)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (221, N'Tawnya', N'Jahns', N'330 6th Street', CAST(254719.00 AS Decimal(10, 2)), CAST(N'2022-07-19' AS Date), 17)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (222, N'Lazar', N'Ravenshear', N'41 Twin Pines Pass', CAST(328843.00 AS Decimal(10, 2)), CAST(N'2023-01-11' AS Date), 8)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (223, N'Ophelie', N'Slayford', N'45278 Chive Junction', CAST(224225.00 AS Decimal(10, 2)), CAST(N'2023-08-22' AS Date), 31)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (224, N'Kylie', N'Ollander', N'78057 Chive Alley', CAST(336957.00 AS Decimal(10, 2)), CAST(N'2022-11-04' AS Date), 29)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (225, N'Octavia', N'Balentyne', N'16063 Veith Plaza', CAST(137075.00 AS Decimal(10, 2)), CAST(N'2024-05-31' AS Date), 26)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (226, N'Si', N'Finley', N'59 Novick Center', CAST(329284.00 AS Decimal(10, 2)), CAST(N'2023-11-06' AS Date), 21)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (227, N'Jo-ann', N'Puleque', N'8527 Sherman Junction', CAST(218360.00 AS Decimal(10, 2)), CAST(N'2022-09-06' AS Date), 3)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (228, N'Katie', N'Plant', N'4890 3rd Trail', CAST(144333.00 AS Decimal(10, 2)), CAST(N'2022-12-15' AS Date), 37)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (229, N'Cory', N'Cocks', N'5183 Russell Drive', CAST(111728.00 AS Decimal(10, 2)), CAST(N'2023-05-08' AS Date), 3)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (230, N'Derwin', N'Figg', N'45 Sundown Drive', CAST(211591.00 AS Decimal(10, 2)), CAST(N'2023-05-26' AS Date), 34)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (231, N'Bink', N'Blader', N'72503 Emmet Point', CAST(210453.00 AS Decimal(10, 2)), CAST(N'2024-01-04' AS Date), 35)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (232, N'Marla', N'Muckloe', N'83239 Drewry Plaza', CAST(251812.00 AS Decimal(10, 2)), CAST(N'2022-12-17' AS Date), 12)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (233, N'Whitaker', N'Santore', N'3 Morrow Terrace', CAST(257101.00 AS Decimal(10, 2)), CAST(N'2022-08-30' AS Date), 23)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (234, N'Kata', N'Mallatratt', N'13453 Mendota Pass', CAST(277937.00 AS Decimal(10, 2)), CAST(N'2023-08-13' AS Date), 1)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (235, N'Ibbie', N'Arrow', N'4 Grasskamp Hill', CAST(240440.00 AS Decimal(10, 2)), CAST(N'2024-04-11' AS Date), 25)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (236, N'Angel', N'Hosier', N'2 Browning Pass', CAST(336019.00 AS Decimal(10, 2)), CAST(N'2022-11-14' AS Date), 2)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (237, N'Harrison', N'Seers', N'1 Lien Street', CAST(392413.00 AS Decimal(10, 2)), CAST(N'2023-05-30' AS Date), 36)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (238, N'Trenton', N'Lofty', N'9652 American Ash Drive', CAST(205651.00 AS Decimal(10, 2)), CAST(N'2023-02-04' AS Date), 18)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (239, N'Lonnie', N'Rickwood', N'2 Jay Way', CAST(377730.00 AS Decimal(10, 2)), CAST(N'2024-04-27' AS Date), 4)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (240, N'Milton', N'Vyse', N'7508 Comanche Alley', CAST(197759.00 AS Decimal(10, 2)), CAST(N'2024-04-25' AS Date), 27)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (241, N'Kayley', N'Devons', N'810 Dottie Lane', CAST(351886.00 AS Decimal(10, 2)), CAST(N'2022-12-31' AS Date), 15)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (242, N'Lennie', N'Freestone', N'4 Dexter Center', CAST(278382.00 AS Decimal(10, 2)), CAST(N'2023-02-03' AS Date), 17)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (243, N'Pepito', N'Wharf', N'38015 Trailsway Center', CAST(209184.00 AS Decimal(10, 2)), CAST(N'2024-02-23' AS Date), 13)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (244, N'Tabitha', N'O''Regan', N'35662 Manitowish Place', CAST(116064.00 AS Decimal(10, 2)), CAST(N'2023-08-20' AS Date), 13)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (245, N'Valma', N'Jelf', N'78 Eastlawn Pass', CAST(194809.00 AS Decimal(10, 2)), CAST(N'2024-03-16' AS Date), 25)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (246, N'Romain', N'Henrot', N'3532 Reinke Street', CAST(107661.00 AS Decimal(10, 2)), CAST(N'2023-05-15' AS Date), 21)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (247, N'Nicky', N'Limprecht', N'46 Loeprich Park', CAST(170942.00 AS Decimal(10, 2)), CAST(N'2023-09-25' AS Date), 34)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (248, N'Corri', N'Garley', N'20 Kenwood Point', CAST(167289.00 AS Decimal(10, 2)), CAST(N'2024-01-13' AS Date), 22)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (249, N'Sinclair', N'Witherup', N'1707 Fuller Point', CAST(309337.00 AS Decimal(10, 2)), CAST(N'2023-01-12' AS Date), 32)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (250, N'Erny', N'Dalby', N'98 Crest Line Drive', CAST(236219.00 AS Decimal(10, 2)), CAST(N'2023-09-11' AS Date), 9)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (251, N'Ruperta', N'Berard', N'96 Ruskin Circle', CAST(241938.00 AS Decimal(10, 2)), CAST(N'2023-01-25' AS Date), 3)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (252, N'Rayna', N'Pfeffer', N'98 Norway Maple Pass', CAST(388971.00 AS Decimal(10, 2)), CAST(N'2022-10-13' AS Date), 27)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (253, N'Katti', N'Taylder', N'60273 Colorado Terrace', CAST(331445.00 AS Decimal(10, 2)), CAST(N'2022-12-11' AS Date), 16)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (254, N'Nathalie', N'Dorwood', N'0 Ilene Place', CAST(116868.00 AS Decimal(10, 2)), CAST(N'2024-03-22' AS Date), 35)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (255, N'Esther', N'Tarbard', N'5739 Gerald Street', CAST(177414.00 AS Decimal(10, 2)), CAST(N'2023-04-29' AS Date), 16)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (256, N'Rancell', N'Pashe', N'158 Holmberg Alley', CAST(248520.00 AS Decimal(10, 2)), CAST(N'2023-04-27' AS Date), 21)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (257, N'Ealasaid', N'Poile', N'18751 Carpenter Pass', CAST(248327.00 AS Decimal(10, 2)), CAST(N'2024-02-01' AS Date), 8)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (258, N'Layney', N'Littler', N'7 Thierer Place', CAST(279085.00 AS Decimal(10, 2)), CAST(N'2023-04-27' AS Date), 34)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (259, N'Humberto', N'Parzizek', N'26 Debs Circle', CAST(145452.00 AS Decimal(10, 2)), CAST(N'2022-07-10' AS Date), 26)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (260, N'Cherlyn', N'Hinstock', N'29115 Old Shore Crossing', CAST(220385.00 AS Decimal(10, 2)), CAST(N'2024-02-07' AS Date), 25)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (261, N'Maryjane', N'Bontoft', N'5384 Melody Road', CAST(310632.00 AS Decimal(10, 2)), CAST(N'2022-07-02' AS Date), 19)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (262, N'Janaya', N'Heinert', N'42 Eliot Crossing', CAST(357388.00 AS Decimal(10, 2)), CAST(N'2022-09-21' AS Date), 12)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (263, N'Annissa', N'Yurkiewicz', N'1275 Eastwood Avenue', CAST(372428.00 AS Decimal(10, 2)), CAST(N'2023-06-22' AS Date), 12)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (264, N'Caitrin', N'MacGillavery', N'11383 Portage Avenue', CAST(198201.00 AS Decimal(10, 2)), CAST(N'2024-05-27' AS Date), 34)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (265, N'Nigel', N'Wynter', N'06 Gina Road', CAST(238314.00 AS Decimal(10, 2)), CAST(N'2023-09-16' AS Date), 27)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (266, N'Hadria', N'Tattersfield', N'20 Bonner Crossing', CAST(133798.00 AS Decimal(10, 2)), CAST(N'2022-07-21' AS Date), 11)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (267, N'Ruthi', N'Entwistle', N'7383 Prentice Lane', CAST(225526.00 AS Decimal(10, 2)), CAST(N'2023-05-25' AS Date), 22)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (268, N'Verla', N'Lethbrig', N'3 Arapahoe Avenue', CAST(115940.00 AS Decimal(10, 2)), CAST(N'2022-12-10' AS Date), 38)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (269, N'Sisile', N'Winchester', N'605 Scott Alley', CAST(281692.00 AS Decimal(10, 2)), CAST(N'2022-08-06' AS Date), 31)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (270, N'Eugenius', N'Corr', N'7 Welch Point', CAST(217462.00 AS Decimal(10, 2)), CAST(N'2022-08-02' AS Date), 13)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (271, N'Alden', N'Good', N'6 Summerview Street', CAST(233829.00 AS Decimal(10, 2)), CAST(N'2023-05-21' AS Date), 6)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (272, N'Anselma', N'Ragg', N'36519 Jay Junction', CAST(396582.00 AS Decimal(10, 2)), CAST(N'2023-11-27' AS Date), 27)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (273, N'Kristen', N'Fuente', N'7 Talmadge Avenue', CAST(164290.00 AS Decimal(10, 2)), CAST(N'2024-03-03' AS Date), 15)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (274, N'Niall', N'Clementson', N'76 Maple Terrace', CAST(340493.00 AS Decimal(10, 2)), CAST(N'2022-07-31' AS Date), 36)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (275, N'Galven', N'Kilpin', N'40 Hanson Road', CAST(380280.00 AS Decimal(10, 2)), CAST(N'2023-03-30' AS Date), 33)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (276, N'Tabor', N'Purseglove', N'67027 Caliangt Terrace', CAST(149975.00 AS Decimal(10, 2)), CAST(N'2023-01-16' AS Date), 11)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (277, N'Kipp', N'Swindall', N'36840 Scoville Parkway', CAST(183623.00 AS Decimal(10, 2)), CAST(N'2023-04-18' AS Date), 27)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (278, N'Travis', N'Gilbart', N'41560 Upham Junction', CAST(132743.00 AS Decimal(10, 2)), CAST(N'2023-01-25' AS Date), 15)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (279, N'See', N'Kingsmill', N'15390 Darwin Circle', CAST(352130.00 AS Decimal(10, 2)), CAST(N'2022-10-22' AS Date), 2)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (280, N'Retha', N'Vinter', N'0313 Shelley Park', CAST(398831.00 AS Decimal(10, 2)), CAST(N'2022-10-24' AS Date), 4)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (281, N'Ardine', N'Bedboro', N'34174 Melby Avenue', CAST(288430.00 AS Decimal(10, 2)), CAST(N'2022-12-31' AS Date), 22)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (282, N'Ariel', N'Stockton', N'595 Jay Court', CAST(369154.00 AS Decimal(10, 2)), CAST(N'2024-01-15' AS Date), 40)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (283, N'Hodge', N'Canedo', N'526 Havey Crossing', CAST(284368.00 AS Decimal(10, 2)), CAST(N'2023-04-06' AS Date), 25)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (284, N'Kare', N'Pauls', N'3776 Rowland Center', CAST(375311.00 AS Decimal(10, 2)), CAST(N'2022-06-28' AS Date), 10)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (285, N'Cynthea', N'Grigori', N'69 Elmside Hill', CAST(348885.00 AS Decimal(10, 2)), CAST(N'2022-07-22' AS Date), 36)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (286, N'Denni', N'Wilfling', N'9157 Maywood Parkway', CAST(189585.00 AS Decimal(10, 2)), CAST(N'2022-06-21' AS Date), 1)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (287, N'Vasily', N'Antoons', N'57 Toban Alley', CAST(210587.00 AS Decimal(10, 2)), CAST(N'2022-12-06' AS Date), 17)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (288, N'Jaye', N'Sandyfirth', N'54 Judy Way', CAST(158218.00 AS Decimal(10, 2)), CAST(N'2023-06-27' AS Date), 12)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (289, N'Wilie', N'Sugge', N'9 Lillian Street', CAST(180833.00 AS Decimal(10, 2)), CAST(N'2022-10-16' AS Date), 6)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (290, N'Richy', N'Barbier', N'89204 Melvin Park', CAST(318967.00 AS Decimal(10, 2)), CAST(N'2023-10-31' AS Date), 36)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (291, N'Leanor', N'McGreay', N'20357 Washington Street', CAST(179373.00 AS Decimal(10, 2)), CAST(N'2023-03-31' AS Date), 34)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (292, N'Jessa', N'Jannequin', N'5600 4th Plaza', CAST(384859.00 AS Decimal(10, 2)), CAST(N'2023-12-02' AS Date), 27)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (293, N'Wendell', N'Barosch', N'24397 Schlimgen Road', CAST(247256.00 AS Decimal(10, 2)), CAST(N'2024-01-14' AS Date), 10)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (294, N'Mead', N'Pykerman', N'3668 Weeping Birch Junction', CAST(215236.00 AS Decimal(10, 2)), CAST(N'2022-09-06' AS Date), 31)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (295, N'Ricca', N'Spadotto', N'8285 Katie Terrace', CAST(215979.00 AS Decimal(10, 2)), CAST(N'2023-11-21' AS Date), 34)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (296, N'Lorilee', N'Hablot', N'7694 Northview Alley', CAST(291044.00 AS Decimal(10, 2)), CAST(N'2024-03-29' AS Date), 7)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (297, N'Bernetta', N'Petticrow', N'14064 Hauk Terrace', CAST(330715.00 AS Decimal(10, 2)), CAST(N'2022-12-05' AS Date), 8)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (298, N'Meier', N'Jeffs', N'2 Elmside Drive', CAST(178909.00 AS Decimal(10, 2)), CAST(N'2023-06-01' AS Date), 4)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (299, N'Bondy', N'Atterley', N'5 Sherman Alley', CAST(106845.00 AS Decimal(10, 2)), CAST(N'2022-09-02' AS Date), 12)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (300, N'Damita', N'Abrami', N'39266 Tennyson Alley', CAST(228870.00 AS Decimal(10, 2)), CAST(N'2023-02-06' AS Date), 23)
GO

In [0]:
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (301, N'Fara', N'Heyward', N'0505 Bay Park', CAST(254446.00 AS Decimal(10, 2)), CAST(N'2023-10-23' AS Date), 6)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (302, N'Joelly', N'Adam', N'26 Acker Center', CAST(113229.00 AS Decimal(10, 2)), CAST(N'2023-03-17' AS Date), 2)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (303, N'Mela', N'Itzkovich', N'2801 5th Street', CAST(385259.00 AS Decimal(10, 2)), CAST(N'2023-04-21' AS Date), 25)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (304, N'Jackie', N'Di Giacomo', N'37913 Bonner Center', CAST(160328.00 AS Decimal(10, 2)), CAST(N'2022-07-19' AS Date), 17)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (305, N'Garald', N'Richter', N'398 Glacier Hill Parkway', CAST(363298.00 AS Decimal(10, 2)), CAST(N'2022-06-02' AS Date), 5)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (306, N'Loleta', N'Dadds', N'60162 Toban Hill', CAST(120849.00 AS Decimal(10, 2)), CAST(N'2022-07-20' AS Date), 31)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (307, N'Lindon', N'Romeril', N'22 Helena Center', CAST(267544.00 AS Decimal(10, 2)), CAST(N'2022-07-29' AS Date), 6)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (308, N'Niel', N'Erskine Sandys', N'71 Gateway Trail', CAST(316100.00 AS Decimal(10, 2)), CAST(N'2024-03-05' AS Date), 13)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (309, N'Karlotte', N'Cowp', N'77 Hansons Drive', CAST(334401.00 AS Decimal(10, 2)), CAST(N'2023-01-02' AS Date), 30)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (310, N'Silvano', N'Rouf', N'0 Hermina Crossing', CAST(118475.00 AS Decimal(10, 2)), CAST(N'2022-07-21' AS Date), 24)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (311, N'Birgitta', N'Ackland', N'526 Ilene Avenue', CAST(189339.00 AS Decimal(10, 2)), CAST(N'2024-01-19' AS Date), 8)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (312, N'Gusti', N'Melchior', N'42472 Darwin Terrace', CAST(210613.00 AS Decimal(10, 2)), CAST(N'2022-12-05' AS Date), 37)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (313, N'Andi', N'Ransome', N'651 Shasta Lane', CAST(126475.00 AS Decimal(10, 2)), CAST(N'2023-08-25' AS Date), 14)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (314, N'Allin', N'Holdren', N'7 Fairview Plaza', CAST(349045.00 AS Decimal(10, 2)), CAST(N'2024-05-09' AS Date), 38)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (315, N'Tremain', N'Bamber', N'9 Wayridge Place', CAST(110251.00 AS Decimal(10, 2)), CAST(N'2023-09-18' AS Date), 36)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (316, N'Calla', N'Camber', N'6 Graceland Hill', CAST(373578.00 AS Decimal(10, 2)), CAST(N'2024-02-02' AS Date), 7)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (317, N'Anthia', N'Haughton', N'47 Garrison Terrace', CAST(160357.00 AS Decimal(10, 2)), CAST(N'2023-12-30' AS Date), 6)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (318, N'Lyda', N'Coonihan', N'13 John Wall Place', CAST(375623.00 AS Decimal(10, 2)), CAST(N'2023-01-22' AS Date), 11)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (319, N'Dael', N'Shovlin', N'6220 Esker Hill', CAST(133748.00 AS Decimal(10, 2)), CAST(N'2023-07-22' AS Date), 2)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (320, N'Sal', N'Kleehuhler', N'2 Stuart Way', CAST(147226.00 AS Decimal(10, 2)), CAST(N'2023-09-13' AS Date), 5)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (321, N'Latrena', N'Quimby', N'65 Mallory Lane', CAST(296499.00 AS Decimal(10, 2)), CAST(N'2023-12-08' AS Date), 25)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (322, N'Kriste', N'McKeighan', N'22109 Amoth Street', CAST(242525.00 AS Decimal(10, 2)), CAST(N'2022-12-22' AS Date), 34)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (323, N'Marys', N'Burborough', N'3 Commercial Court', CAST(113591.00 AS Decimal(10, 2)), CAST(N'2023-07-11' AS Date), 38)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (324, N'Tracey', N'Robbings', N'559 Alpine Parkway', CAST(349741.00 AS Decimal(10, 2)), CAST(N'2022-08-17' AS Date), 27)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (325, N'Conrad', N'Dressell', N'12195 Portage Alley', CAST(164725.00 AS Decimal(10, 2)), CAST(N'2023-03-16' AS Date), 25)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (326, N'Ursula', N'Bordessa', N'748 Loftsgordon Drive', CAST(290305.00 AS Decimal(10, 2)), CAST(N'2022-09-17' AS Date), 30)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (327, N'Gardener', N'Bilston', N'5453 Holy Cross Center', CAST(194494.00 AS Decimal(10, 2)), CAST(N'2022-10-28' AS Date), 22)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (328, N'Nolie', N'Gosforth', N'2516 Cottonwood Terrace', CAST(346516.00 AS Decimal(10, 2)), CAST(N'2022-09-03' AS Date), 40)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (329, N'Trescha', N'Burgwyn', N'8188 Memorial Center', CAST(226745.00 AS Decimal(10, 2)), CAST(N'2024-01-22' AS Date), 18)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (330, N'Karin', N'Flisher', N'3363 Miller Circle', CAST(377296.00 AS Decimal(10, 2)), CAST(N'2023-06-03' AS Date), 12)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (331, N'Barbra', N'Elmer', N'4 Di Loreto Terrace', CAST(351700.00 AS Decimal(10, 2)), CAST(N'2022-08-26' AS Date), 7)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (332, N'Ivory', N'Mazzeo', N'7 Valley Edge Terrace', CAST(329602.00 AS Decimal(10, 2)), CAST(N'2023-09-02' AS Date), 1)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (333, N'Kristoforo', N'Perrin', N'637 Stone Corner Drive', CAST(383833.00 AS Decimal(10, 2)), CAST(N'2024-03-23' AS Date), 5)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (334, N'Berti', N'Curee', N'389 Dakota Pass', CAST(220898.00 AS Decimal(10, 2)), CAST(N'2024-01-01' AS Date), 34)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (335, N'Farlee', N'Agate', N'32141 Eagle Crest Terrace', CAST(158254.00 AS Decimal(10, 2)), CAST(N'2023-10-28' AS Date), 26)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (336, N'Adolf', N'Harrill', N'943 Oriole Circle', CAST(233460.00 AS Decimal(10, 2)), CAST(N'2023-11-10' AS Date), 6)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (337, N'Gavan', N'Josephsen', N'91 Mandrake Way', CAST(157368.00 AS Decimal(10, 2)), CAST(N'2022-10-16' AS Date), 37)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (338, N'Pauline', N'Squibbs', N'3 Hanson Junction', CAST(147044.00 AS Decimal(10, 2)), CAST(N'2023-06-13' AS Date), 7)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (339, N'Vitia', N'Dell Casa', N'07 Dryden Terrace', CAST(339809.00 AS Decimal(10, 2)), CAST(N'2022-06-08' AS Date), 11)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (340, N'Shell', N'Mithan', N'901 Summit Park', CAST(158500.00 AS Decimal(10, 2)), CAST(N'2023-10-15' AS Date), 19)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (341, N'Lexis', N'Barck', N'4 Morningstar Lane', CAST(259443.00 AS Decimal(10, 2)), CAST(N'2023-05-18' AS Date), 31)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (342, N'Garek', N'Kealy', N'52701 Maryland Drive', CAST(172281.00 AS Decimal(10, 2)), CAST(N'2023-09-27' AS Date), 39)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (343, N'Sarina', N'Cordoba', N'087 Becker Pass', CAST(227224.00 AS Decimal(10, 2)), CAST(N'2022-09-03' AS Date), 4)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (344, N'Aurilia', N'Stubbings', N'394 Sommers Parkway', CAST(290453.00 AS Decimal(10, 2)), CAST(N'2023-04-11' AS Date), 5)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (345, N'Anitra', N'Tree', N'18 Novick Point', CAST(292951.00 AS Decimal(10, 2)), CAST(N'2024-03-17' AS Date), 28)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (346, N'Jeddy', N'Casbolt', N'04313 Linden Way', CAST(138052.00 AS Decimal(10, 2)), CAST(N'2024-02-06' AS Date), 14)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (347, N'Dimitry', N'Lyman', N'9185 Westerfield Road', CAST(196582.00 AS Decimal(10, 2)), CAST(N'2023-03-22' AS Date), 29)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (348, N'Eli', N'Lonsdale', N'04 Columbus Parkway', CAST(324382.00 AS Decimal(10, 2)), CAST(N'2024-03-16' AS Date), 36)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (349, N'Raphael', N'Fer', N'0506 Kedzie Pass', CAST(178822.00 AS Decimal(10, 2)), CAST(N'2024-05-28' AS Date), 18)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (350, N'Goldarina', N'Meaton', N'23380 Pawling Court', CAST(279382.00 AS Decimal(10, 2)), CAST(N'2023-11-21' AS Date), 40)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (351, N'Kipp', N'Dutson', N'02 Texas Plaza', CAST(116378.00 AS Decimal(10, 2)), CAST(N'2022-09-12' AS Date), 12)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (352, N'Edithe', N'Forsdyke', N'96033 Fair Oaks Place', CAST(288239.00 AS Decimal(10, 2)), CAST(N'2023-05-07' AS Date), 21)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (353, N'Derby', N'Thomazet', N'06 Spenser Street', CAST(220935.00 AS Decimal(10, 2)), CAST(N'2023-12-06' AS Date), 36)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (354, N'Donielle', N'Rozzell', N'310 Mccormick Drive', CAST(114222.00 AS Decimal(10, 2)), CAST(N'2023-05-27' AS Date), 18)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (355, N'Flint', N'Scurry', N'3 New Castle Court', CAST(216566.00 AS Decimal(10, 2)), CAST(N'2024-03-03' AS Date), 21)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (356, N'Claus', N'Van der Linde', N'526 Chive Circle', CAST(147299.00 AS Decimal(10, 2)), CAST(N'2024-03-17' AS Date), 3)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (357, N'Winnah', N'McLaine', N'614 Fieldstone Court', CAST(291583.00 AS Decimal(10, 2)), CAST(N'2023-02-04' AS Date), 35)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (358, N'Erinna', N'McVane', N'43 Lake View Road', CAST(226435.00 AS Decimal(10, 2)), CAST(N'2023-02-10' AS Date), 17)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (359, N'Esra', N'Saphir', N'74484 Lunder Alley', CAST(116117.00 AS Decimal(10, 2)), CAST(N'2024-02-28' AS Date), 17)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (360, N'Valera', N'Nursey', N'9927 Shopko Avenue', CAST(112772.00 AS Decimal(10, 2)), CAST(N'2022-12-17' AS Date), 31)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (361, N'Rhoda', N'Marler', N'55 Melody Street', CAST(118324.00 AS Decimal(10, 2)), CAST(N'2023-03-28' AS Date), 7)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (362, N'Archer', N'Hallatt', N'4 Trailsway Crossing', CAST(214261.00 AS Decimal(10, 2)), CAST(N'2022-06-29' AS Date), 38)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (363, N'Allyson', N'Trowler', N'13 Village Green Junction', CAST(276702.00 AS Decimal(10, 2)), CAST(N'2024-03-01' AS Date), 26)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (364, N'Tess', N'Hatherleigh', N'74 Mifflin Court', CAST(265138.00 AS Decimal(10, 2)), CAST(N'2023-11-17' AS Date), 32)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (365, N'Fanni', N'Nafziger', N'30857 Miller Park', CAST(377306.00 AS Decimal(10, 2)), CAST(N'2022-07-18' AS Date), 7)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (366, N'Maurits', N'Galier', N'698 Hanover Parkway', CAST(342535.00 AS Decimal(10, 2)), CAST(N'2022-08-26' AS Date), 5)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (367, N'Waverley', N'Bramham', N'3201 Monica Point', CAST(287298.00 AS Decimal(10, 2)), CAST(N'2023-06-30' AS Date), 11)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (368, N'Laurie', N'Crossan', N'4 Kedzie Circle', CAST(109501.00 AS Decimal(10, 2)), CAST(N'2023-12-18' AS Date), 5)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (369, N'Erick', N'Thorneloe', N'5 Cardinal Circle', CAST(188050.00 AS Decimal(10, 2)), CAST(N'2023-08-30' AS Date), 21)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (370, N'Marielle', N'Waddy', N'9 Ronald Regan Crossing', CAST(170324.00 AS Decimal(10, 2)), CAST(N'2023-03-23' AS Date), 9)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (371, N'Prent', N'Sills', N'03206 Cherokee Plaza', CAST(236083.00 AS Decimal(10, 2)), CAST(N'2024-02-15' AS Date), 14)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (372, N'Glenda', N'Bhar', N'0 Messerschmidt Trail', CAST(364276.00 AS Decimal(10, 2)), CAST(N'2023-03-19' AS Date), 8)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (373, N'Pepita', N'Greveson', N'1937 Amoth Way', CAST(330971.00 AS Decimal(10, 2)), CAST(N'2022-09-29' AS Date), 22)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (374, N'Vonny', N'Duchesne', N'724 Grover Crossing', CAST(193714.00 AS Decimal(10, 2)), CAST(N'2022-09-16' AS Date), 12)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (375, N'Derry', N'Gerardet', N'12969 Loomis Center', CAST(211007.00 AS Decimal(10, 2)), CAST(N'2023-01-01' AS Date), 13)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (376, N'Roxy', N'Wearing', N'1 Vernon Alley', CAST(173309.00 AS Decimal(10, 2)), CAST(N'2023-06-27' AS Date), 2)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (377, N'Normie', N'Gozney', N'2 Prentice Point', CAST(274576.00 AS Decimal(10, 2)), CAST(N'2023-04-20' AS Date), 36)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (378, N'Gloria', N'Binks', N'4460 Mariners Cove Alley', CAST(209500.00 AS Decimal(10, 2)), CAST(N'2023-09-14' AS Date), 26)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (379, N'Palmer', N'Lerer', N'917 Corry Court', CAST(342832.00 AS Decimal(10, 2)), CAST(N'2022-09-13' AS Date), 20)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (380, N'Aylmar', N'Challoner', N'40 North Center', CAST(296415.00 AS Decimal(10, 2)), CAST(N'2023-06-06' AS Date), 35)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (381, N'David', N'Moxley', N'2113 Corben Way', CAST(183860.00 AS Decimal(10, 2)), CAST(N'2022-10-23' AS Date), 18)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (382, N'Kiersten', N'MacPeice', N'29 Birchwood Junction', CAST(214692.00 AS Decimal(10, 2)), CAST(N'2023-12-23' AS Date), 25)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (383, N'Nolana', N'Spiniello', N'01 Corscot Trail', CAST(305110.00 AS Decimal(10, 2)), CAST(N'2022-07-06' AS Date), 40)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (384, N'Berton', N'Bussell', N'515 Haas Road', CAST(349961.00 AS Decimal(10, 2)), CAST(N'2022-10-27' AS Date), 3)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (385, N'Celinda', N'Mincini', N'402 Express Parkway', CAST(258280.00 AS Decimal(10, 2)), CAST(N'2024-01-09' AS Date), 5)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (386, N'Byram', N'Sigmund', N'5951 Hanover Place', CAST(133927.00 AS Decimal(10, 2)), CAST(N'2022-12-26' AS Date), 37)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (387, N'Joleen', N'Renol', N'85702 Spaight Plaza', CAST(206311.00 AS Decimal(10, 2)), CAST(N'2022-12-31' AS Date), 24)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (388, N'Donnell', N'Eymer', N'71367 Norway Maple Hill', CAST(179602.00 AS Decimal(10, 2)), CAST(N'2023-12-27' AS Date), 30)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (389, N'Mattheus', N'Haddinton', N'54 Monica Hill', CAST(304568.00 AS Decimal(10, 2)), CAST(N'2024-02-24' AS Date), 10)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (390, N'Evvy', N'Blackden', N'464 Elka Terrace', CAST(143147.00 AS Decimal(10, 2)), CAST(N'2023-08-27' AS Date), 5)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (391, N'Wilhelmine', N'Geffen', N'85455 Sycamore Hill', CAST(354102.00 AS Decimal(10, 2)), CAST(N'2022-08-01' AS Date), 21)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (392, N'Pooh', N'Serginson', N'50 Pearson Parkway', CAST(105966.00 AS Decimal(10, 2)), CAST(N'2022-10-06' AS Date), 8)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (393, N'Bobbi', N'Mattiazzi', N'0953 Leroy Center', CAST(139783.00 AS Decimal(10, 2)), CAST(N'2022-06-09' AS Date), 3)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (394, N'Felic', N'Jefford', N'2998 Scott Alley', CAST(145722.00 AS Decimal(10, 2)), CAST(N'2023-11-11' AS Date), 38)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (395, N'Cayla', N'Bentham3', N'4 Monterey Drive', CAST(113104.00 AS Decimal(10, 2)), CAST(N'2024-01-26' AS Date), 12)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (396, N'Fara', N'Christley', N'13 Northport Avenue', CAST(256173.00 AS Decimal(10, 2)), CAST(N'2023-05-08' AS Date), 18)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (397, N'Ive', N'Pollastro', N'51 Parkside Hill', CAST(368756.00 AS Decimal(10, 2)), CAST(N'2023-11-13' AS Date), 15)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (398, N'Peria', N'Clamp', N'327 Annamark Hill', CAST(119312.00 AS Decimal(10, 2)), CAST(N'2023-08-12' AS Date), 9)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (399, N'Trudy', N'Apfel', N'20 Rutledge Circle', CAST(127953.00 AS Decimal(10, 2)), CAST(N'2023-05-28' AS Date), 21)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [direccion], [sueldo], [fecha_ingreso], [id_local]) VALUES (400, N'Fawne', N'Stubbeley', N'636 Tony Plaza', CAST(309014.00 AS Decimal(10, 2)), CAST(N'2024-03-05' AS Date), 25)
GO

# [dbo].[Empleado_ausencia]

In [0]:
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (1, CAST(N'2023-10-19' AS Date), 7)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (3, CAST(N'2023-10-05' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (3, CAST(N'2023-10-18' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (4, CAST(N'2023-06-20' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (4, CAST(N'2024-03-23' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (4, CAST(N'2024-04-09' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (5, CAST(N'2023-06-12' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (5, CAST(N'2024-05-09' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (6, CAST(N'2024-01-18' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (11, CAST(N'2023-07-08' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (11, CAST(N'2023-07-16' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (12, CAST(N'2023-06-07' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (12, CAST(N'2023-07-14' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (12, CAST(N'2023-11-14' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (12, CAST(N'2024-02-27' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (13, CAST(N'2023-08-25' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (13, CAST(N'2023-10-07' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (13, CAST(N'2023-11-29' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (14, CAST(N'2023-09-16' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (14, CAST(N'2024-01-12' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (15, CAST(N'2023-12-15' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (15, CAST(N'2024-03-07' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (16, CAST(N'2024-02-13' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (16, CAST(N'2024-05-20' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (16, CAST(N'2024-05-29' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (18, CAST(N'2024-03-28' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (19, CAST(N'2023-06-03' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (19, CAST(N'2023-07-21' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (21, CAST(N'2024-02-27' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (22, CAST(N'2024-01-04' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (23, CAST(N'2023-06-18' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (23, CAST(N'2023-07-04' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (23, CAST(N'2023-08-09' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (23, CAST(N'2023-09-24' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (23, CAST(N'2024-05-24' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (25, CAST(N'2023-11-16' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (26, CAST(N'2023-06-23' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (26, CAST(N'2023-09-15' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (27, CAST(N'2023-06-21' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (27, CAST(N'2023-09-17' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (28, CAST(N'2023-06-03' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (29, CAST(N'2023-12-20' AS Date), 7)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (29, CAST(N'2024-01-04' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (30, CAST(N'2023-07-24' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (31, CAST(N'2023-07-16' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (31, CAST(N'2024-01-07' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (31, CAST(N'2024-03-16' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (33, CAST(N'2023-08-28' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (33, CAST(N'2024-01-02' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (33, CAST(N'2024-01-09' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (34, CAST(N'2023-08-09' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (34, CAST(N'2023-10-09' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (35, CAST(N'2023-07-02' AS Date), 7)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (35, CAST(N'2023-07-08' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (35, CAST(N'2024-03-30' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (36, CAST(N'2023-06-08' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (36, CAST(N'2023-08-02' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (37, CAST(N'2024-03-05' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (37, CAST(N'2024-04-12' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (38, CAST(N'2023-08-18' AS Date), 7)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (38, CAST(N'2024-01-01' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (38, CAST(N'2024-01-17' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (39, CAST(N'2023-06-05' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (39, CAST(N'2023-11-11' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (39, CAST(N'2024-03-15' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (39, CAST(N'2024-03-26' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (40, CAST(N'2023-09-19' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (40, CAST(N'2024-01-11' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (40, CAST(N'2024-02-13' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (40, CAST(N'2024-04-28' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (41, CAST(N'2024-03-05' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (43, CAST(N'2023-12-23' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (43, CAST(N'2024-01-21' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (44, CAST(N'2023-12-25' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (46, CAST(N'2023-08-26' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (46, CAST(N'2024-05-15' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (47, CAST(N'2023-08-30' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (47, CAST(N'2024-02-09' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (47, CAST(N'2024-04-02' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (47, CAST(N'2024-04-03' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (47, CAST(N'2024-05-20' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (48, CAST(N'2023-07-21' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (48, CAST(N'2024-05-01' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (49, CAST(N'2023-07-03' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (49, CAST(N'2023-08-20' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (49, CAST(N'2023-11-10' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (49, CAST(N'2023-11-21' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (49, CAST(N'2024-03-17' AS Date), 7)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (49, CAST(N'2024-03-25' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (50, CAST(N'2023-08-31' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (51, CAST(N'2023-12-17' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (52, CAST(N'2023-08-07' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (52, CAST(N'2023-09-22' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (52, CAST(N'2024-04-11' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (52, CAST(N'2024-04-20' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (54, CAST(N'2023-07-27' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (55, CAST(N'2023-06-07' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (55, CAST(N'2023-06-10' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (55, CAST(N'2024-03-16' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (56, CAST(N'2024-01-31' AS Date), 1)
GO

In [0]:
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (56, CAST(N'2024-04-22' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (56, CAST(N'2024-05-22' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (57, CAST(N'2023-09-17' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (58, CAST(N'2023-09-01' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (58, CAST(N'2023-09-19' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (58, CAST(N'2023-11-23' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (58, CAST(N'2024-04-14' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (59, CAST(N'2023-06-22' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (59, CAST(N'2023-09-21' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (59, CAST(N'2024-01-03' AS Date), 7)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (59, CAST(N'2024-02-19' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (60, CAST(N'2024-05-29' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (62, CAST(N'2023-08-06' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (64, CAST(N'2023-09-27' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (64, CAST(N'2024-03-11' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (65, CAST(N'2024-01-06' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (66, CAST(N'2024-04-19' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (67, CAST(N'2023-08-29' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (67, CAST(N'2023-12-10' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (67, CAST(N'2024-04-11' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (68, CAST(N'2023-06-18' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (68, CAST(N'2024-05-02' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (70, CAST(N'2023-07-28' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (70, CAST(N'2024-05-03' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (71, CAST(N'2023-07-11' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (71, CAST(N'2023-09-04' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (71, CAST(N'2023-11-29' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (71, CAST(N'2024-01-14' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (71, CAST(N'2024-03-20' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (72, CAST(N'2023-06-09' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (72, CAST(N'2024-05-09' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (73, CAST(N'2023-09-11' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (73, CAST(N'2023-12-10' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (74, CAST(N'2024-05-02' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (75, CAST(N'2023-06-22' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (75, CAST(N'2023-11-16' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (76, CAST(N'2023-06-23' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (76, CAST(N'2023-10-08' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (76, CAST(N'2024-03-04' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (76, CAST(N'2024-05-13' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (77, CAST(N'2024-01-28' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (77, CAST(N'2024-03-02' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (77, CAST(N'2024-04-30' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (77, CAST(N'2024-05-29' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (78, CAST(N'2024-05-15' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (79, CAST(N'2023-06-04' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (79, CAST(N'2023-09-15' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (81, CAST(N'2023-07-20' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (82, CAST(N'2024-04-21' AS Date), 7)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (84, CAST(N'2023-06-03' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (85, CAST(N'2023-06-09' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (85, CAST(N'2023-12-23' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (85, CAST(N'2024-01-01' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (85, CAST(N'2024-05-28' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (86, CAST(N'2024-02-05' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (87, CAST(N'2023-08-23' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (87, CAST(N'2023-10-20' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (87, CAST(N'2024-03-23' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (87, CAST(N'2024-04-22' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (88, CAST(N'2023-12-30' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (88, CAST(N'2024-02-21' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (89, CAST(N'2024-02-28' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (90, CAST(N'2023-08-28' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (91, CAST(N'2024-04-26' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (92, CAST(N'2023-06-19' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (92, CAST(N'2023-06-30' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (92, CAST(N'2024-01-24' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (93, CAST(N'2023-12-04' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (94, CAST(N'2024-02-27' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (94, CAST(N'2024-05-09' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (95, CAST(N'2023-10-11' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (96, CAST(N'2023-10-18' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (96, CAST(N'2023-10-24' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (96, CAST(N'2024-01-27' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (96, CAST(N'2024-05-30' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (98, CAST(N'2023-12-02' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (98, CAST(N'2024-02-05' AS Date), 7)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (99, CAST(N'2024-05-15' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (100, CAST(N'2024-01-26' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (101, CAST(N'2023-09-30' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (101, CAST(N'2024-02-01' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (102, CAST(N'2023-09-06' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (102, CAST(N'2023-11-05' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (103, CAST(N'2023-07-23' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (103, CAST(N'2023-10-09' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (103, CAST(N'2024-05-15' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (104, CAST(N'2023-08-19' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (104, CAST(N'2023-08-27' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (105, CAST(N'2023-11-29' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (105, CAST(N'2024-05-17' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (106, CAST(N'2023-06-15' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (107, CAST(N'2023-08-07' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (107, CAST(N'2023-10-19' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (107, CAST(N'2024-02-06' AS Date), 7)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (108, CAST(N'2023-12-02' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (108, CAST(N'2024-01-11' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (109, CAST(N'2024-01-09' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (110, CAST(N'2024-01-13' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (112, CAST(N'2023-07-25' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (112, CAST(N'2023-09-04' AS Date), 17)
GO

In [0]:
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (113, CAST(N'2023-06-04' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (113, CAST(N'2024-01-17' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (113, CAST(N'2024-03-22' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (114, CAST(N'2023-12-17' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (115, CAST(N'2023-07-06' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (115, CAST(N'2023-12-18' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (116, CAST(N'2023-07-12' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (116, CAST(N'2023-08-05' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (116, CAST(N'2023-08-31' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (117, CAST(N'2023-08-19' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (117, CAST(N'2024-04-19' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (118, CAST(N'2023-09-20' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (119, CAST(N'2023-10-30' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (119, CAST(N'2024-03-19' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (120, CAST(N'2024-04-14' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (121, CAST(N'2023-10-10' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (122, CAST(N'2024-02-27' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (122, CAST(N'2024-05-02' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (122, CAST(N'2024-05-24' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (123, CAST(N'2023-10-15' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (123, CAST(N'2023-11-09' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (124, CAST(N'2024-05-25' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (125, CAST(N'2024-01-17' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (125, CAST(N'2024-04-05' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (129, CAST(N'2023-09-20' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (129, CAST(N'2024-03-13' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (129, CAST(N'2024-05-16' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (130, CAST(N'2023-11-30' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (131, CAST(N'2023-07-09' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (131, CAST(N'2023-08-30' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (133, CAST(N'2023-07-16' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (133, CAST(N'2023-09-29' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (133, CAST(N'2024-01-07' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (133, CAST(N'2024-04-13' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (133, CAST(N'2024-05-06' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (134, CAST(N'2023-08-13' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (134, CAST(N'2023-09-10' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (135, CAST(N'2023-08-16' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (138, CAST(N'2023-09-22' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (138, CAST(N'2024-04-02' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (140, CAST(N'2023-08-18' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (140, CAST(N'2024-03-01' AS Date), 7)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (143, CAST(N'2024-03-29' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (143, CAST(N'2024-04-07' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (144, CAST(N'2023-07-04' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (145, CAST(N'2023-07-08' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (145, CAST(N'2024-03-23' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (146, CAST(N'2023-08-05' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (146, CAST(N'2023-09-26' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (146, CAST(N'2023-12-07' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (146, CAST(N'2024-02-16' AS Date), 7)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (147, CAST(N'2023-08-22' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (147, CAST(N'2024-01-15' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (147, CAST(N'2024-03-24' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (148, CAST(N'2024-03-14' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (149, CAST(N'2023-06-28' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (149, CAST(N'2023-07-21' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (150, CAST(N'2023-07-06' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (150, CAST(N'2023-07-09' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (151, CAST(N'2023-07-24' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (151, CAST(N'2023-07-27' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (151, CAST(N'2023-09-15' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (151, CAST(N'2023-12-11' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (152, CAST(N'2024-04-03' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (153, CAST(N'2023-08-19' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (153, CAST(N'2023-10-31' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (153, CAST(N'2024-03-07' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (153, CAST(N'2024-05-13' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (154, CAST(N'2024-03-13' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (154, CAST(N'2024-05-11' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (155, CAST(N'2024-05-16' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (156, CAST(N'2023-08-27' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (156, CAST(N'2023-09-10' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (156, CAST(N'2023-10-18' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (156, CAST(N'2023-11-08' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (156, CAST(N'2023-11-29' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (156, CAST(N'2023-12-19' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (158, CAST(N'2023-09-07' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (158, CAST(N'2023-12-09' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (159, CAST(N'2023-09-30' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (159, CAST(N'2023-10-13' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (159, CAST(N'2023-12-12' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (160, CAST(N'2023-11-29' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (160, CAST(N'2023-12-17' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (161, CAST(N'2023-07-23' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (161, CAST(N'2023-07-29' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (161, CAST(N'2024-05-29' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (163, CAST(N'2023-11-29' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (163, CAST(N'2024-03-20' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (164, CAST(N'2024-05-02' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (164, CAST(N'2024-05-06' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (165, CAST(N'2023-07-17' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (167, CAST(N'2023-08-08' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (167, CAST(N'2023-12-08' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (167, CAST(N'2024-03-12' AS Date), 7)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (167, CAST(N'2024-04-08' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (168, CAST(N'2023-07-28' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (168, CAST(N'2024-01-01' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (168, CAST(N'2024-04-12' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (169, CAST(N'2024-01-09' AS Date), 2)
GO

In [0]:
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (169, CAST(N'2024-02-15' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (169, CAST(N'2024-04-16' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (170, CAST(N'2023-07-15' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (171, CAST(N'2023-08-05' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (171, CAST(N'2023-11-12' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (172, CAST(N'2023-10-02' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (172, CAST(N'2023-11-28' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (172, CAST(N'2024-02-27' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (172, CAST(N'2024-05-19' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (174, CAST(N'2023-10-18' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (174, CAST(N'2024-02-13' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (175, CAST(N'2023-11-04' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (175, CAST(N'2023-11-20' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (176, CAST(N'2023-09-19' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (177, CAST(N'2023-09-07' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (177, CAST(N'2024-05-26' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (179, CAST(N'2023-08-15' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (179, CAST(N'2024-03-08' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (180, CAST(N'2023-09-15' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (182, CAST(N'2023-08-26' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (183, CAST(N'2023-06-07' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (184, CAST(N'2023-07-02' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (184, CAST(N'2024-03-20' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (185, CAST(N'2023-10-10' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (185, CAST(N'2024-01-22' AS Date), 7)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (185, CAST(N'2024-04-19' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (186, CAST(N'2024-01-28' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (187, CAST(N'2024-01-03' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (188, CAST(N'2024-02-16' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (190, CAST(N'2023-11-07' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (191, CAST(N'2023-11-06' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (192, CAST(N'2023-06-22' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (192, CAST(N'2023-11-13' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (193, CAST(N'2024-01-19' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (194, CAST(N'2023-06-26' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (194, CAST(N'2023-07-02' AS Date), 7)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (195, CAST(N'2023-07-02' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (195, CAST(N'2023-07-20' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (195, CAST(N'2023-12-27' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (196, CAST(N'2023-07-19' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (197, CAST(N'2023-11-08' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (197, CAST(N'2024-05-15' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (199, CAST(N'2023-09-14' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (200, CAST(N'2023-07-15' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (200, CAST(N'2023-08-19' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (200, CAST(N'2023-09-23' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (201, CAST(N'2023-09-23' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (201, CAST(N'2023-11-02' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (201, CAST(N'2024-02-05' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (201, CAST(N'2024-05-16' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (202, CAST(N'2024-01-24' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (203, CAST(N'2023-08-03' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (203, CAST(N'2023-08-23' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (203, CAST(N'2023-10-05' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (203, CAST(N'2023-11-01' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (204, CAST(N'2023-06-02' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (206, CAST(N'2023-07-18' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (206, CAST(N'2023-07-29' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (207, CAST(N'2023-11-19' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (209, CAST(N'2023-10-07' AS Date), 7)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (209, CAST(N'2024-04-16' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (210, CAST(N'2023-08-10' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (211, CAST(N'2023-07-05' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (212, CAST(N'2024-05-09' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (213, CAST(N'2024-05-01' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (214, CAST(N'2023-08-19' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (214, CAST(N'2024-02-06' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (214, CAST(N'2024-04-17' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (215, CAST(N'2024-04-03' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (215, CAST(N'2024-04-13' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (218, CAST(N'2023-06-22' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (218, CAST(N'2024-04-28' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (220, CAST(N'2023-06-02' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (220, CAST(N'2023-09-09' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (220, CAST(N'2023-11-05' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (221, CAST(N'2023-06-11' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (221, CAST(N'2023-09-28' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (221, CAST(N'2023-10-14' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (223, CAST(N'2024-05-01' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (224, CAST(N'2023-09-29' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (224, CAST(N'2024-01-11' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (225, CAST(N'2023-06-04' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (225, CAST(N'2023-09-05' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (226, CAST(N'2023-06-24' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (226, CAST(N'2023-09-15' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (226, CAST(N'2023-12-01' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (226, CAST(N'2024-04-14' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (227, CAST(N'2023-06-11' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (227, CAST(N'2023-12-03' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (228, CAST(N'2023-07-01' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (229, CAST(N'2024-04-14' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (229, CAST(N'2024-04-19' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (230, CAST(N'2024-04-01' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (230, CAST(N'2024-05-14' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (231, CAST(N'2024-02-26' AS Date), 7)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (231, CAST(N'2024-05-13' AS Date), 7)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (232, CAST(N'2023-11-04' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (233, CAST(N'2023-08-23' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (233, CAST(N'2024-04-04' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (234, CAST(N'2023-08-22' AS Date), 3)
GO

In [0]:
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (235, CAST(N'2023-08-15' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (235, CAST(N'2023-09-10' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (235, CAST(N'2024-04-01' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (236, CAST(N'2023-08-17' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (236, CAST(N'2023-10-14' AS Date), 7)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (236, CAST(N'2024-01-19' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (236, CAST(N'2024-03-24' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (237, CAST(N'2023-10-01' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (237, CAST(N'2024-01-10' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (238, CAST(N'2024-04-02' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (238, CAST(N'2024-05-24' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (238, CAST(N'2024-05-28' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (239, CAST(N'2023-06-08' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (239, CAST(N'2024-02-09' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (240, CAST(N'2023-09-26' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (240, CAST(N'2023-12-26' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (240, CAST(N'2024-02-02' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (240, CAST(N'2024-02-22' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (241, CAST(N'2024-04-19' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (242, CAST(N'2023-06-21' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (242, CAST(N'2024-03-19' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (243, CAST(N'2024-02-02' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (243, CAST(N'2024-04-06' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (244, CAST(N'2023-09-14' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (244, CAST(N'2023-12-07' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (245, CAST(N'2023-12-13' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (247, CAST(N'2023-06-14' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (247, CAST(N'2023-07-08' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (248, CAST(N'2023-10-26' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (248, CAST(N'2023-12-07' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (249, CAST(N'2023-11-25' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (249, CAST(N'2024-02-19' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (250, CAST(N'2023-12-18' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (250, CAST(N'2024-02-09' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (250, CAST(N'2024-03-12' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (250, CAST(N'2024-04-19' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (250, CAST(N'2024-04-30' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (251, CAST(N'2023-09-05' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (251, CAST(N'2023-11-25' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (252, CAST(N'2024-01-05' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (252, CAST(N'2024-03-11' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (252, CAST(N'2024-03-29' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (253, CAST(N'2023-07-23' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (253, CAST(N'2024-03-20' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (255, CAST(N'2023-06-04' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (255, CAST(N'2023-11-21' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (258, CAST(N'2023-08-31' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (259, CAST(N'2023-07-04' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (259, CAST(N'2024-03-28' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (259, CAST(N'2024-04-18' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (259, CAST(N'2024-05-31' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (260, CAST(N'2024-02-23' AS Date), 7)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (260, CAST(N'2024-03-03' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (261, CAST(N'2023-10-14' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (261, CAST(N'2023-11-13' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (261, CAST(N'2023-12-03' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (261, CAST(N'2023-12-08' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (262, CAST(N'2023-10-20' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (262, CAST(N'2023-12-18' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (262, CAST(N'2024-03-17' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (263, CAST(N'2023-08-12' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (265, CAST(N'2024-03-21' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (267, CAST(N'2023-12-19' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (268, CAST(N'2023-11-06' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (268, CAST(N'2024-02-24' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (269, CAST(N'2023-06-08' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (269, CAST(N'2023-08-12' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (269, CAST(N'2023-10-24' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (270, CAST(N'2023-10-06' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (271, CAST(N'2023-10-11' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (271, CAST(N'2023-11-28' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (272, CAST(N'2023-12-17' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (272, CAST(N'2024-02-14' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (272, CAST(N'2024-04-21' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (273, CAST(N'2023-08-16' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (273, CAST(N'2023-09-13' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (274, CAST(N'2024-04-02' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (274, CAST(N'2024-05-03' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (275, CAST(N'2023-06-06' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (275, CAST(N'2023-10-29' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (275, CAST(N'2024-05-11' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (277, CAST(N'2024-02-06' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (277, CAST(N'2024-03-06' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (278, CAST(N'2023-06-26' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (278, CAST(N'2023-08-02' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (278, CAST(N'2023-10-15' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (278, CAST(N'2023-12-04' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (278, CAST(N'2024-03-06' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (278, CAST(N'2024-05-29' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (279, CAST(N'2023-07-12' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (279, CAST(N'2023-10-31' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (279, CAST(N'2023-11-04' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (280, CAST(N'2023-08-05' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (281, CAST(N'2023-11-12' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (281, CAST(N'2023-12-16' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (281, CAST(N'2024-05-12' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (282, CAST(N'2023-11-09' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (282, CAST(N'2024-02-18' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (282, CAST(N'2024-05-31' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (283, CAST(N'2023-10-23' AS Date), 9)
GO

In [0]:
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (283, CAST(N'2024-04-25' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (284, CAST(N'2023-11-19' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (285, CAST(N'2023-06-02' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (285, CAST(N'2023-06-11' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (286, CAST(N'2023-07-19' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (286, CAST(N'2024-01-19' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (286, CAST(N'2024-03-08' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (287, CAST(N'2023-09-08' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (287, CAST(N'2023-12-08' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (287, CAST(N'2024-02-11' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (287, CAST(N'2024-03-21' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (288, CAST(N'2024-05-29' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (289, CAST(N'2023-09-12' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (290, CAST(N'2024-02-02' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (290, CAST(N'2024-02-25' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (291, CAST(N'2023-09-12' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (292, CAST(N'2023-12-30' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (293, CAST(N'2023-07-16' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (295, CAST(N'2023-07-30' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (295, CAST(N'2023-09-20' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (295, CAST(N'2023-10-07' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (295, CAST(N'2024-01-18' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (295, CAST(N'2024-01-22' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (296, CAST(N'2023-09-07' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (296, CAST(N'2024-01-10' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (296, CAST(N'2024-02-07' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (296, CAST(N'2024-03-21' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (296, CAST(N'2024-04-04' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (297, CAST(N'2024-05-15' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (299, CAST(N'2023-07-28' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (300, CAST(N'2023-10-30' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (301, CAST(N'2023-06-13' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (301, CAST(N'2024-01-28' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (301, CAST(N'2024-04-07' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (302, CAST(N'2023-12-23' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (303, CAST(N'2023-07-27' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (303, CAST(N'2024-01-26' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (304, CAST(N'2024-04-09' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (305, CAST(N'2023-10-23' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (306, CAST(N'2023-06-17' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (307, CAST(N'2023-06-08' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (307, CAST(N'2023-08-01' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (307, CAST(N'2024-01-16' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (307, CAST(N'2024-05-01' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (308, CAST(N'2023-11-10' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (308, CAST(N'2023-11-24' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (308, CAST(N'2023-12-27' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (310, CAST(N'2023-07-13' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (311, CAST(N'2024-02-18' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (312, CAST(N'2024-02-25' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (315, CAST(N'2024-02-13' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (315, CAST(N'2024-05-12' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (316, CAST(N'2023-09-05' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (316, CAST(N'2023-12-18' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (316, CAST(N'2024-01-21' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (317, CAST(N'2024-01-28' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (318, CAST(N'2023-10-16' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (318, CAST(N'2023-10-22' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (318, CAST(N'2023-11-08' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (319, CAST(N'2023-07-09' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (320, CAST(N'2023-06-24' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (320, CAST(N'2023-08-22' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (320, CAST(N'2023-12-01' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (320, CAST(N'2024-01-21' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (320, CAST(N'2024-04-13' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (321, CAST(N'2023-06-25' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (322, CAST(N'2023-09-18' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (322, CAST(N'2023-10-04' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (322, CAST(N'2023-11-26' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (322, CAST(N'2024-01-02' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (323, CAST(N'2024-01-28' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (323, CAST(N'2024-03-28' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (323, CAST(N'2024-05-11' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (324, CAST(N'2024-03-28' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (324, CAST(N'2024-05-09' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (325, CAST(N'2023-10-20' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (325, CAST(N'2024-01-19' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (325, CAST(N'2024-02-05' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (326, CAST(N'2023-06-07' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (326, CAST(N'2023-08-20' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (327, CAST(N'2023-08-07' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (327, CAST(N'2023-09-02' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (327, CAST(N'2024-05-20' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (328, CAST(N'2023-08-31' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (328, CAST(N'2023-10-05' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (328, CAST(N'2023-11-08' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (328, CAST(N'2024-01-06' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (328, CAST(N'2024-02-23' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (328, CAST(N'2024-04-14' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (329, CAST(N'2023-10-09' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (331, CAST(N'2023-10-23' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (332, CAST(N'2023-10-18' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (332, CAST(N'2023-12-03' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (333, CAST(N'2023-06-26' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (333, CAST(N'2023-10-07' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (333, CAST(N'2024-03-22' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (334, CAST(N'2023-09-06' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (334, CAST(N'2024-04-15' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (335, CAST(N'2023-12-21' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (336, CAST(N'2023-07-19' AS Date), 12)
GO

In [0]:
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (336, CAST(N'2023-11-28' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (336, CAST(N'2024-04-08' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (337, CAST(N'2023-11-27' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (337, CAST(N'2023-12-18' AS Date), 7)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (338, CAST(N'2023-07-08' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (338, CAST(N'2024-01-05' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (339, CAST(N'2024-02-02' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (340, CAST(N'2024-04-24' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (342, CAST(N'2023-08-09' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (343, CAST(N'2024-02-04' AS Date), 7)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (343, CAST(N'2024-04-01' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (344, CAST(N'2023-07-27' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (344, CAST(N'2023-11-09' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (345, CAST(N'2023-10-03' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (345, CAST(N'2023-10-14' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (345, CAST(N'2024-04-20' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (346, CAST(N'2023-08-15' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (346, CAST(N'2023-09-03' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (346, CAST(N'2024-03-25' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (347, CAST(N'2023-08-05' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (347, CAST(N'2023-08-30' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (348, CAST(N'2023-09-07' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (350, CAST(N'2023-11-05' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (350, CAST(N'2024-01-26' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (350, CAST(N'2024-02-03' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (351, CAST(N'2024-02-25' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (352, CAST(N'2023-07-11' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (352, CAST(N'2023-08-29' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (353, CAST(N'2024-04-02' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (354, CAST(N'2023-08-08' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (355, CAST(N'2023-07-26' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (355, CAST(N'2024-01-25' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (356, CAST(N'2023-07-20' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (357, CAST(N'2023-12-08' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (358, CAST(N'2024-05-13' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (359, CAST(N'2023-09-19' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (359, CAST(N'2023-09-30' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (359, CAST(N'2024-01-12' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (359, CAST(N'2024-04-08' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (360, CAST(N'2024-01-21' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (361, CAST(N'2024-05-30' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (362, CAST(N'2024-02-08' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (363, CAST(N'2023-11-24' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (365, CAST(N'2024-02-01' AS Date), 7)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (367, CAST(N'2023-06-22' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (368, CAST(N'2024-01-19' AS Date), 7)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (368, CAST(N'2024-03-25' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (369, CAST(N'2023-08-10' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (369, CAST(N'2023-09-30' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (369, CAST(N'2024-01-12' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (369, CAST(N'2024-02-09' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (370, CAST(N'2023-11-15' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (371, CAST(N'2024-02-26' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (372, CAST(N'2023-06-18' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (372, CAST(N'2023-10-25' AS Date), 11)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (372, CAST(N'2023-12-02' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (372, CAST(N'2024-05-10' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (373, CAST(N'2023-10-18' AS Date), 7)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (373, CAST(N'2024-01-02' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (374, CAST(N'2023-12-07' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (374, CAST(N'2024-04-10' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (375, CAST(N'2024-04-14' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (376, CAST(N'2023-12-23' AS Date), 15)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (376, CAST(N'2024-02-15' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (376, CAST(N'2024-04-18' AS Date), 2)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (378, CAST(N'2023-07-02' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (378, CAST(N'2023-11-17' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (380, CAST(N'2023-12-22' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (381, CAST(N'2023-06-10' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (381, CAST(N'2023-06-18' AS Date), 4)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (381, CAST(N'2024-04-10' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (382, CAST(N'2023-06-23' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (383, CAST(N'2024-03-26' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (384, CAST(N'2023-10-02' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (385, CAST(N'2023-07-22' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (386, CAST(N'2023-06-02' AS Date), 17)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (386, CAST(N'2023-06-05' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (386, CAST(N'2023-08-06' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (386, CAST(N'2023-11-18' AS Date), 3)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (387, CAST(N'2023-06-04' AS Date), 18)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (388, CAST(N'2023-07-05' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (388, CAST(N'2023-07-30' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (388, CAST(N'2024-05-14' AS Date), 16)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (389, CAST(N'2024-05-25' AS Date), 19)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (390, CAST(N'2024-04-20' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (391, CAST(N'2023-12-16' AS Date), 14)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (393, CAST(N'2023-11-02' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (393, CAST(N'2023-11-30' AS Date), 1)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (393, CAST(N'2024-02-19' AS Date), 10)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (395, CAST(N'2023-07-17' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (395, CAST(N'2024-04-07' AS Date), 20)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (396, CAST(N'2023-12-05' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (396, CAST(N'2024-04-08' AS Date), 6)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (398, CAST(N'2023-12-15' AS Date), 13)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (398, CAST(N'2024-02-09' AS Date), 8)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (398, CAST(N'2024-04-22' AS Date), 9)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (399, CAST(N'2024-01-07' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (399, CAST(N'2024-03-02' AS Date), 12)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (400, CAST(N'2024-02-27' AS Date), 5)
INSERT [dbo].[Empleado_ausencia] ([legajo], [fecha_ausencia], [cod_motivo]) VALUES (400, CAST(N'2024-03-25' AS Date), 5)
GO

# [dbo].[Motivo_Ausencia]

In [0]:
INSERT [dbo].[Motivo_Ausencia] ([cod_motivo], [descripcion]) VALUES (1, N'nam')
INSERT [dbo].[Motivo_Ausencia] ([cod_motivo], [descripcion]) VALUES (2, N'ac')
INSERT [dbo].[Motivo_Ausencia] ([cod_motivo], [descripcion]) VALUES (3, N'ultrices')
INSERT [dbo].[Motivo_Ausencia] ([cod_motivo], [descripcion]) VALUES (4, N'tincidunt')
INSERT [dbo].[Motivo_Ausencia] ([cod_motivo], [descripcion]) VALUES (5, N'rutrum')
INSERT [dbo].[Motivo_Ausencia] ([cod_motivo], [descripcion]) VALUES (6, N'nunc')
INSERT [dbo].[Motivo_Ausencia] ([cod_motivo], [descripcion]) VALUES (7, N'sem')
INSERT [dbo].[Motivo_Ausencia] ([cod_motivo], [descripcion]) VALUES (8, N'aenean')
INSERT [dbo].[Motivo_Ausencia] ([cod_motivo], [descripcion]) VALUES (9, N'platea')
INSERT [dbo].[Motivo_Ausencia] ([cod_motivo], [descripcion]) VALUES (10, N'aenean')
INSERT [dbo].[Motivo_Ausencia] ([cod_motivo], [descripcion]) VALUES (11, N'sociis')
INSERT [dbo].[Motivo_Ausencia] ([cod_motivo], [descripcion]) VALUES (12, N'viverra')
INSERT [dbo].[Motivo_Ausencia] ([cod_motivo], [descripcion]) VALUES (13, N'montes')
INSERT [dbo].[Motivo_Ausencia] ([cod_motivo], [descripcion]) VALUES (14, N'magna')
INSERT [dbo].[Motivo_Ausencia] ([cod_motivo], [descripcion]) VALUES (15, N'bibendum')
INSERT [dbo].[Motivo_Ausencia] ([cod_motivo], [descripcion]) VALUES (16, N'est')
INSERT [dbo].[Motivo_Ausencia] ([cod_motivo], [descripcion]) VALUES (17, N'varius')
INSERT [dbo].[Motivo_Ausencia] ([cod_motivo], [descripcion]) VALUES (18, N'platea')
INSERT [dbo].[Motivo_Ausencia] ([cod_motivo], [descripcion]) VALUES (19, N'non')
INSERT [dbo].[Motivo_Ausencia] ([cod_motivo], [descripcion]) VALUES (20, N'posuere')
GO

# [dbo].[Telefono_empleado]

In [0]:
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (1, N'591-772-0681')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (2, N'175-806-7444')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (3, N'717-233-9282')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (4, N'604-886-0203')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (5, N'456-710-1875')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (6, N'585-670-0746')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (7, N'517-619-6593')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (8, N'198-834-4464')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (9, N'794-984-6433')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (10, N'285-257-9583')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (11, N'766-360-7441')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (12, N'643-857-7518')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (13, N'345-202-1931')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (14, N'579-312-4594')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (15, N'273-213-5886')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (16, N'509-224-4215')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (17, N'202-987-8375')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (18, N'416-999-1920')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (19, N'317-871-6097')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (20, N'683-199-3766')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (21, N'121-753-0568')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (22, N'676-977-9359')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (23, N'149-351-3122')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (24, N'556-383-1699')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (25, N'538-526-4374')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (26, N'297-800-0880')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (27, N'900-893-5472')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (28, N'701-388-3181')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (29, N'339-102-1147')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (30, N'852-702-5512')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (31, N'876-663-6259')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (32, N'890-515-8464')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (33, N'298-693-3241')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (34, N'268-162-5196')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (35, N'145-624-3398')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (36, N'297-178-6353')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (37, N'808-885-0521')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (38, N'846-377-2919')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (39, N'396-163-4069')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (40, N'655-519-7195')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (41, N'586-988-3125')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (42, N'659-177-4716')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (43, N'471-587-7223')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (44, N'555-667-4028')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (45, N'168-195-9886')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (46, N'646-825-2808')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (47, N'840-893-8578')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (48, N'470-444-6558')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (49, N'626-584-8839')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (50, N'557-601-5573')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (51, N'892-313-5001')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (52, N'341-233-1007')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (53, N'636-360-4441')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (54, N'693-241-3926')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (55, N'940-693-3888')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (56, N'919-279-5128')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (57, N'616-728-7140')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (58, N'891-718-7681')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (59, N'345-197-3637')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (60, N'894-661-0967')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (61, N'470-710-8711')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (62, N'388-892-5415')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (63, N'265-855-6637')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (64, N'684-519-5145')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (65, N'445-199-1089')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (66, N'603-446-7411')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (67, N'241-142-4835')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (68, N'564-978-8195')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (69, N'335-554-9087')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (70, N'553-645-5001')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (71, N'942-691-6153')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (72, N'427-245-4980')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (73, N'484-831-9671')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (74, N'303-188-7002')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (75, N'653-690-9108')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (76, N'419-235-2564')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (77, N'524-391-4208')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (78, N'953-814-7510')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (79, N'437-860-6405')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (80, N'291-359-7903')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (81, N'833-319-1117')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (82, N'520-429-1774')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (83, N'130-670-0131')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (84, N'180-831-1512')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (85, N'607-583-2491')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (86, N'871-410-3461')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (87, N'971-568-8575')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (88, N'705-289-2547')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (89, N'452-781-3284')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (90, N'546-385-6731')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (91, N'281-546-6261')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (92, N'899-710-1991')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (93, N'370-996-6097')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (94, N'441-103-8171')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (95, N'345-266-4312')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (96, N'254-427-1409')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (97, N'497-192-7961')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (98, N'323-564-0742')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (99, N'193-660-6715')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (100, N'555-553-6090')
GO

In [0]:
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (101, N'430-545-7772')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (102, N'920-487-5858')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (103, N'215-632-0165')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (104, N'455-198-7761')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (105, N'702-138-3706')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (106, N'865-728-9400')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (107, N'230-645-3939')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (108, N'380-389-4806')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (109, N'696-480-1510')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (110, N'219-856-1024')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (111, N'109-123-4884')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (112, N'200-310-5698')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (113, N'421-461-5503')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (114, N'384-880-0240')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (115, N'546-237-1739')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (116, N'365-804-9604')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (117, N'758-435-2774')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (118, N'671-296-7191')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (119, N'878-263-9077')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (120, N'949-740-0583')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (121, N'312-853-9251')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (122, N'397-894-4143')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (123, N'135-277-0855')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (124, N'731-814-1760')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (125, N'864-710-6147')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (126, N'561-956-7703')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (127, N'132-395-6947')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (128, N'524-682-2680')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (129, N'893-295-4847')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (130, N'425-937-6976')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (131, N'411-641-3915')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (132, N'361-582-5343')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (133, N'822-564-9138')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (134, N'839-524-3020')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (135, N'802-344-8443')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (136, N'460-414-5089')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (137, N'588-500-4298')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (138, N'466-751-4396')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (139, N'447-355-3522')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (140, N'575-893-3603')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (141, N'538-388-3923')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (142, N'422-134-5567')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (143, N'125-457-2254')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (144, N'836-514-5291')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (145, N'694-334-3830')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (146, N'692-547-1543')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (147, N'728-331-4657')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (148, N'176-714-5637')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (149, N'332-534-3194')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (150, N'194-364-1444')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (151, N'624-972-1691')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (152, N'801-182-5191')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (153, N'695-421-4113')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (154, N'244-875-0773')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (155, N'919-930-9241')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (156, N'509-421-8007')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (157, N'493-157-3251')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (158, N'462-130-2060')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (159, N'197-520-1833')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (160, N'462-510-4246')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (161, N'925-252-9810')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (162, N'268-273-6114')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (163, N'862-848-5161')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (164, N'223-802-7541')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (165, N'452-481-0039')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (166, N'787-806-6986')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (167, N'267-887-0765')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (168, N'235-271-1391')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (169, N'240-321-5069')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (170, N'824-770-3288')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (171, N'314-546-5150')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (172, N'966-519-1542')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (173, N'604-889-4021')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (174, N'323-279-0874')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (175, N'681-298-4360')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (176, N'821-760-8832')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (177, N'684-507-9243')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (178, N'970-210-9927')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (179, N'499-352-2118')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (180, N'259-221-7066')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (181, N'269-730-0822')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (182, N'234-623-8096')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (183, N'512-594-0238')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (184, N'613-100-5671')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (185, N'579-298-0285')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (186, N'389-485-2224')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (187, N'927-663-5545')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (188, N'331-784-3133')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (189, N'939-958-6826')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (190, N'700-423-3529')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (191, N'373-257-8610')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (192, N'617-162-6889')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (193, N'830-451-9147')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (194, N'486-739-7585')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (195, N'574-192-1093')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (196, N'638-313-3300')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (197, N'665-445-7585')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (198, N'704-171-2327')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (199, N'506-724-3604')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (200, N'439-182-2841')
GO

In [0]:
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (201, N'777-715-6469')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (202, N'621-609-2771')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (203, N'514-527-6602')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (204, N'341-657-6483')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (205, N'155-245-2691')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (206, N'198-198-4754')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (207, N'671-581-3773')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (208, N'452-119-8051')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (209, N'440-227-2278')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (210, N'929-339-8594')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (211, N'237-998-4236')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (212, N'522-150-8069')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (213, N'502-400-6282')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (214, N'103-944-7386')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (215, N'599-393-2218')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (216, N'552-732-8206')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (217, N'366-894-0777')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (218, N'301-819-7926')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (219, N'332-789-6235')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (220, N'292-128-5503')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (221, N'915-213-7156')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (222, N'307-781-1561')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (223, N'691-605-1290')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (224, N'521-994-7124')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (225, N'776-153-3496')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (226, N'343-203-5995')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (227, N'121-405-7301')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (228, N'271-750-1291')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (229, N'644-470-4466')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (230, N'491-565-5113')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (231, N'415-931-8827')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (232, N'770-839-6541')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (233, N'565-689-3553')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (234, N'230-180-8456')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (235, N'122-169-0935')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (236, N'776-878-7217')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (237, N'452-427-7136')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (238, N'702-170-7506')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (239, N'672-372-3098')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (240, N'298-731-3225')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (241, N'999-606-1560')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (242, N'809-417-5128')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (243, N'475-519-7911')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (244, N'846-696-0916')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (245, N'902-251-6292')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (246, N'287-300-5116')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (247, N'986-994-9451')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (248, N'664-323-7058')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (249, N'814-429-4457')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (250, N'885-165-6347')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (251, N'464-535-1666')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (252, N'996-429-3817')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (253, N'402-780-7470')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (254, N'656-991-0373')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (255, N'578-495-0718')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (256, N'509-132-0530')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (257, N'504-921-6957')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (258, N'542-381-5903')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (259, N'497-252-4483')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (260, N'241-879-3623')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (261, N'314-398-8204')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (262, N'887-482-9662')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (263, N'584-946-7346')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (264, N'755-316-4541')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (265, N'485-834-2735')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (266, N'314-413-5216')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (267, N'298-648-5445')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (268, N'795-846-7880')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (269, N'623-209-9341')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (270, N'303-996-4885')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (271, N'200-681-8893')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (272, N'351-418-8745')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (273, N'137-821-1903')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (274, N'111-580-3443')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (275, N'430-952-4870')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (276, N'742-375-2503')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (277, N'274-600-5905')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (278, N'694-988-2036')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (279, N'919-404-2222')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (280, N'325-934-5080')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (281, N'571-136-2782')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (282, N'931-638-6108')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (283, N'691-953-8902')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (284, N'417-885-0846')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (285, N'299-536-9612')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (286, N'201-621-9058')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (287, N'795-304-0928')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (288, N'243-320-3412')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (289, N'253-337-3347')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (290, N'686-445-0228')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (291, N'785-660-7876')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (292, N'228-997-2309')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (293, N'703-596-0609')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (294, N'967-998-7125')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (295, N'969-923-6171')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (296, N'379-848-9942')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (297, N'902-271-8964')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (298, N'545-550-4953')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (299, N'823-127-1379')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (300, N'737-442-5513')
GO

In [0]:
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (301, N'907-355-0921')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (302, N'168-792-7880')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (303, N'554-129-3358')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (304, N'520-214-4670')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (305, N'475-939-1885')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (306, N'587-239-8826')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (307, N'773-109-4158')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (308, N'995-116-1356')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (309, N'861-249-9153')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (310, N'490-808-6153')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (311, N'241-613-9301')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (312, N'617-399-5649')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (313, N'667-785-7875')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (314, N'874-666-0736')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (315, N'298-373-9910')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (316, N'740-235-6156')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (317, N'837-941-8141')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (318, N'621-549-9476')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (319, N'442-534-3595')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (320, N'639-497-7547')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (321, N'460-297-7319')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (322, N'714-846-2583')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (323, N'833-602-0401')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (324, N'433-643-7037')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (325, N'792-762-3782')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (326, N'189-778-0507')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (327, N'703-807-4856')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (328, N'501-458-0294')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (329, N'177-668-7685')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (330, N'999-304-4602')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (331, N'754-458-2827')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (332, N'871-967-8479')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (333, N'405-552-7202')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (334, N'152-294-2123')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (335, N'781-796-2885')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (336, N'547-222-4354')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (337, N'184-569-4243')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (338, N'372-473-2731')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (339, N'321-118-3873')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (340, N'646-184-6101')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (341, N'863-242-6887')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (342, N'747-456-6815')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (343, N'792-876-7455')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (344, N'730-257-0502')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (345, N'920-148-2148')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (346, N'758-836-8831')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (347, N'348-868-1947')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (348, N'296-908-8568')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (349, N'471-482-7951')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (350, N'556-668-8695')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (351, N'609-966-4537')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (352, N'487-817-2549')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (353, N'662-814-7553')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (354, N'553-434-8239')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (355, N'329-604-2637')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (356, N'554-284-5329')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (357, N'573-915-3296')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (358, N'453-763-4191')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (359, N'122-463-3402')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (360, N'581-651-4538')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (361, N'908-671-1393')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (362, N'896-633-1258')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (363, N'751-941-5098')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (364, N'229-785-3273')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (365, N'988-410-7672')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (366, N'356-583-3908')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (367, N'597-189-3090')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (368, N'972-239-1489')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (369, N'449-899-6782')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (370, N'340-583-5974')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (371, N'970-179-3377')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (372, N'739-451-6780')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (373, N'930-440-8717')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (374, N'287-940-4955')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (375, N'630-623-9653')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (376, N'910-173-0991')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (377, N'343-184-9105')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (378, N'128-542-8129')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (379, N'677-320-8524')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (380, N'761-770-3028')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (381, N'750-976-1674')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (382, N'319-122-0411')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (383, N'164-454-5842')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (384, N'371-951-4947')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (385, N'285-379-0274')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (386, N'289-758-7965')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (387, N'647-224-2759')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (388, N'111-649-6768')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (389, N'322-566-5779')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (390, N'643-751-9596')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (391, N'386-501-7417')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (392, N'531-701-9675')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (393, N'102-240-3258')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (394, N'232-648-9616')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (395, N'808-645-1545')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (396, N'440-358-4052')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (397, N'254-854-7803')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (398, N'635-872-0453')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (399, N'168-544-5333')
INSERT [dbo].[Telefono_empleado] ([legajo], [telefono_empleado]) VALUES (400, N'641-740-4647')
GO

# [FK__BasicoCat__idCat__5165187F]

In [0]:
ALTER TABLE [dbo].[BasicoCategoria]  WITH CHECK ADD FOREIGN KEY([idCategoriaSalarial])
REFERENCES [dbo].[Categoria] ([idCategoriaSalarial])
GO

# [FK__Capacitac__id_ca__3E52440B]

In [0]:
ALTER TABLE [dbo].[CapacitacionXEmpleado]  WITH CHECK ADD FOREIGN KEY([id_capacitacion])
REFERENCES [dbo].[Capacitacion] ([id_capacitacion])
GO

# [FK__Capacitac__legaj__3F466844]

In [0]:
ALTER TABLE [dbo].[CapacitacionXEmpleado]  WITH CHECK ADD FOREIGN KEY([legajo])
REFERENCES [dbo].[Empleado] ([legajo])
GO

# [FK__Categoria__idCat__5441852A]

In [0]:
ALTER TABLE [dbo].[CategoriaXEmpleado]  WITH CHECK ADD FOREIGN KEY([idCategoriaSalarial])
REFERENCES [dbo].[Categoria] ([idCategoriaSalarial])
GO

# [FK__Categoria__legaj__5535A963]

In [0]:
ALTER TABLE [dbo].[CategoriaXEmpleado]  WITH CHECK ADD FOREIGN KEY([legajo])
REFERENCES [dbo].[Empleado] ([legajo])
GO

# [FK__Empleado___cod_m__4CA06362]

In [0]:
ALTER TABLE [dbo].[Empleado_ausencia]  WITH CHECK ADD FOREIGN KEY([cod_motivo])
REFERENCES [dbo].[Motivo_Ausencia] ([cod_motivo])
GO

# [FK__Empleado___legaj__4BAC3F29]

In [0]:
ALTER TABLE [dbo].[Empleado_ausencia]  WITH CHECK ADD FOREIGN KEY([legajo])
REFERENCES [dbo].[Empleado] ([legajo])
GO

# [FK__Telefono___legaj__398D8EEE]

In [0]:
ALTER TABLE [dbo].[Telefono_empleado]  WITH CHECK ADD FOREIGN KEY([legajo])
REFERENCES [dbo].[Empleado] ([legajo])
GO